section
    .vc_row.wpb_row.vc_row-fluid.about-page.vc_row-no-padding.vc_row-o-content-middle.vc_row-flex
        .wpb_column.vc_column_container.vc_col-sm-12
            .vc_column-inner
                .wpb_wrapper
                    .vc_row.wpb_row.vc_inner.vc_row-fluid.banner.title-top.vc_row-o-content-middle.vc_row-flex
                        .wpb_column.vc_column_container.vc_col-sm-6.vc_col-lg-6.vc_col-md-6.vc_col-xs-12
                            .vc_column-inner
                                .wpb_wrapper
                                    h2.vc_custom_heading.title(style='text-align: left')
                                        | We love solving
                                        br
                                        | complex challenges
                                    .wpb_text_column.wpb_content_element.description.blue
                                        .wpb_wrapper
                                            p
                                                | We are the cloud solutions and infrastructure experts.
                                                br
                                                | We optimize, secure and scale your product or platform.
                                                br
                                                | The right way.
                        .wpb_column.vc_column_container.vc_col-sm-6.vc_col-lg-6.vc_col-md-6.vc_col-xs-12
                            .vc_column-inner
                                .wpb_wrapper
                                    .wpb_single_image.wpb_content_element.vc_align_center
                                        figure.wpb_wrapper.vc_figure
                                            .vc_single_image-wrapper.vc_box_border_grey
                                                img.vc_single_image-img.attachment-full(src='https://stage-three.i-wp-dev.com/wp-content/uploads/2022/03/bg-banner-8.png' alt='' loading='lazy' title='bg-banner-8' srcset='https://stage-three.i-wp-dev.com/wp-content/uploads/2022/03/bg-banner-8.png 491w, https://stage-three.i-wp-dev.com/wp-content/uploads/2022/03/bg-banner-8-300x300.png 300w, https://stage-three.i-wp-dev.com/wp-content/uploads/2022/03/bg-banner-8-150x150.png 150w' sizes='(max-width: 491px) 100vw, 491px' width='491' height='491')
                    .vc_row.wpb_row.vc_inner.vc_row-fluid.about-title.vc_row-o-content-middle.vc_row-flex
                        .wpb_column.vc_column_container.vc_col-sm-12
                            .vc_column-inner
                                .wpb_wrapper
                                    h1.vc_custom_heading.title(style='text-align: center') ABOUT US
                    .vc_row.wpb_row.vc_inner.vc_row-fluid.about-us.vc_row-o-content-middle.vc_row-flex
                        .wpb_column.vc_column_container.vc_col-sm-12
                            .vc_column-inner
                                .wpb_wrapper
                                    h3.vc_custom_heading.title(style='text-align: center') Offices and clients
                                    .wpb_single_image.wpb_content_element.vc_align_center.desktop
                                        figure.wpb_wrapper.vc_figure
                                            .vc_single_image-wrapper.vc_box_border_grey
                                                img.vc_single_image-img.attachment-full(src='https://stage-three.i-wp-dev.com/wp-content/uploads/2022/03/about-bg.png' alt='' loading='lazy' title='about-bg' srcset='https://stage-three.i-wp-dev.com/wp-content/uploads/2022/03/about-bg.png 933w, https://stage-three.i-wp-dev.com/wp-content/uploads/2022/03/about-bg-300x215.png 300w, https://stage-three.i-wp-dev.com/wp-content/uploads/2022/03/about-bg-768x550.png 768w' sizes='(max-width: 933px) 100vw, 933px' width='933' height='668')
                                    .wpb_single_image.wpb_content_element.vc_align_center.mobile
                                        figure.wpb_wrapper.vc_figure
                                            .vc_single_image-wrapper.vc_box_border_grey
                                                img.vc_single_image-img.attachment-full(src='https://stage-three.i-wp-dev.com/wp-content/uploads/2022/03/Group-893.png' alt='' loading='lazy' title='Group 893' srcset='https://stage-three.i-wp-dev.com/wp-content/uploads/2022/03/Group-893.png 375w, https://stage-three.i-wp-dev.com/wp-content/uploads/2022/03/Group-893-300x223.png 300w' sizes='(max-width: 375px) 100vw, 375px' width='375' height='279')
                    .vc_row.wpb_row.vc_inner.vc_row-fluid.our-values.vc_row-o-content-middle.vc_row-flex
                        .wpb_column.vc_column_container.vc_col-sm-12
                            .vc_column-inner
                                .wpb_wrapper
                                    h3.vc_custom_heading.title(style='text-align: center') Our values
                                    .wpb_text_column.wpb_content_element.description
                                        .wpb_wrapper
                                            p(style='text-align: center;')
                                                | We believe in staying small and extra careful with regard
                                                br
                                                | to the quality of our service.
                                    .wpb_text_column.wpb_content_element.description.blue
                                        .wpb_wrapper
                                            p(style='text-align: center;')
                                                | We have chosen to be making 0% of “good enough” work
                                                br
                                                | and 100% of top notch work as opposed to 80% of “good
                                                br
                                                | enough” and 20% of top notch.
                        .wpb_column.vc_column_container.vc_col-sm-4.vc_col-lg-4.vc_col-md-4.vc_col-xs-12
                            .vc_column-inner
                                .wpb_wrapper
                                    .wpb_raw_code.wpb_content_element.wpb_raw_html
                                        .wpb_wrapper
                                            svg(xmlns='http://www.w3.org/2000/svg' viewBox='0 0 230 147.12')
                                                defs
                                                    style.
                                                        .product-faster .cls-1,.product-faster .cls-3 {fill: #0b223d;}.product-faster .cls-1,.product-faster .cls-10,.product-faster .cls-11,.product-faster .cls-12,.product-faster .cls-13,.product-faster .cls-14,.product-faster .cls-15,.product-faster .cls-16,.product-faster .cls-17,.product-faster .cls-18,.product-faster .cls-19,.product-faster .cls-2,.product-faster .cls-20,.product-faster .cls-21,.product-faster .cls-22,.product-faster .cls-23,.product-faster .cls-24,.product-faster .cls-25,.product-faster .cls-26,.product-faster .cls-27,.product-faster .cls-28,.product-faster .cls-29,.product-faster .cls-3,.product-faster .cls-30,.product-faster .cls-31,.product-faster .cls-32,.product-faster .cls-33,.product-faster .cls-34,.product-faster .cls-35,.product-faster .cls-36,.product-faster .cls-37,.product-faster .cls-38,.product-faster .cls-4,.product-faster .cls-5,.product-faster .cls-6,.product-faster .cls-7,.product-faster .cls-8,.product-faster .cls-9 {fill-rule: evenodd;}.product-faster .cls-1 {isolation: isolate;opacity: 1;}.product-faster .cls-2 {fill: #3562ab;}.product-faster .cls-4 {fill: #3563ab;}.product-faster .cls-5 {fill: #08dcdc;}.product-faster .cls-6 {fill: #113163;}.product-faster .cls-7 {fill: #0e2845;}.product-faster .cls-8 {fill: #112e4b;}.product-faster .cls-9 {fill: #143453;}.product-faster .cls-10 {fill: #183b5c;}.product-faster .cls-11 {fill: #1b4163;}.product-faster .cls-12 {fill: #1f486c;}.product-faster .cls-13 {fill: #224e73;}.product-faster .cls-14 {fill: #25547a;}.product-faster .cls-15 {fill: #285980;}.product-faster .cls-16 {fill: #fdfefe;}.product-faster .cls-17 {fill: #2b6088;}.product-faster .cls-18 {fill: #2f6790;}.product-faster .cls-19 {fill: #326d98;}.product-faster .cls-20 {fill: #35729f;}.product-faster .cls-21 {fill: #3878a5;}.product-faster .cls-22 {fill: #3c7fae;}.product-faster .cls-23 {fill: #4086b6;}.product-faster .cls-24 {fill: #438cbe;}.product-faster .cls-25 {fill: #113164;}.product-faster .cls-26 {fill: #22467b;}.product-faster .cls-27 {fill: #284e89;}.product-faster .cls-28 {fill: #2c5493;}.product-faster .cls-29 {fill: #1e4071;}.product-faster .cls-30 {fill: #1b3b67;}.product-faster .cls-31 {fill: #fdfdfd;}.product-faster .cls-32 {fill: #305a9d;}.product-faster .cls-33 {fill: #335fa5;}.product-faster .cls-34 {fill: #17345c;}.product-faster .cls-35 {fill: #122d50;}.product-faster .cls-36 {fill: #3664ad;}.product-faster .cls-37 {fill: #0d2644;}.product-faster .cls-38 {fill: #fcfcfd;}
                                                g.product-faster
                                                    path.cls-1(d='M107,0h7.67q31.78,2.27,52.58,26.21a73.89,73.89,0,0,1,12.07,20.31q26.49.55,41.91,21.86A51.24,51.24,0,0,1,230,93.66v6.42q-2,23.13-20.31,37.25A51.08,51.08,0,0,1,183,147.12H42.06A45.64,45.64,0,0,1,8.75,128.88,45.91,45.91,0,0,1,0,105.05v-6A45.59,45.59,0,0,1,18.23,65.74,46.22,46.22,0,0,1,39,57.29Q47.07,24.77,76.25,8.55A74.43,74.43,0,0,1,107,0Z')
                                                    path.cls-2(d='M170.12,59.36c.14.43.27.84.41,1.25a63.18,63.18,0,0,1-20.3,64.23l-.83.73q-21.09,16.69-48,13.83a63,63,0,0,1-34.92-16.22,29.18,29.18,0,0,0,2-8,1,1,0,0,1,.06.41c-.06.83-.14,1.66-.26,2.49-.32,1.47-.66,2.92-1,4.35q19.65,17.6,46.16,16.21A62,62,0,0,0,154.84,119q17.63-19.53,16.57-46-2-27-22.53-44.39a62.51,62.51,0,0,0-45-14Q76.27,17.59,59.42,39.47,43.9,61,48.07,87.23a41.37,41.37,0,0,1,4.77,1.66c0,.06,0,.09-.11.11A23,23,0,0,0,47,87.44a.3.3,0,0,0-.11-.31q-4.47-31,16.53-54.08,20.17-20.5,49.05-19.53a63.06,63.06,0,0,1,42.84,19.74A63.76,63.76,0,0,1,170.12,59.36Z')
                                                    path.cls-3(d='M68.59,115.62c.06-1.52.13-3,.2-4.56q15.25,17.44,38.54,18.7a53.07,53.07,0,0,0,55.12-53.51q-.8-26.52-21.76-42.53Q121,19.91,97.39,24.81A53.2,53.2,0,0,0,57.14,86.92c.36,1.75.8,3.47,1.29,5.18a57,57,0,0,0-5.59-3.21,41.37,41.37,0,0,0-4.77-1.66Q43.9,60.95,59.42,39.47q16.85-21.88,44.49-24.81a62.51,62.51,0,0,1,45,14Q169.37,46.05,171.41,73q1.07,26.46-16.57,46a62,62,0,0,1-41.39,19.63q-26.51,1.4-46.16-16.21c.38-1.43.72-2.88,1-4.35C68.45,117.28,68.53,116.45,68.59,115.62Z')
                                                    path.cls-4(d='M68.79,111.06a5.19,5.19,0,0,1-.31-2q16.49,19.8,42.38,19.64,25.08-1.32,40.35-21.09,13.46-18.87,9.12-41.75A52.14,52.14,0,0,0,58.17,86.82q.75,3.24,1.71,6.42a5.28,5.28,0,0,1-1.45-1.14c-.49-1.71-.93-3.43-1.29-5.18A53.2,53.2,0,0,1,97.39,24.81q23.63-4.9,43.3,8.91,21,16,21.76,42.53a53.07,53.07,0,0,1-55.12,53.51Q84.05,128.5,68.79,111.06Z')
                                                    path.cls-3(d='M68.48,109.09a26.21,26.21,0,0,0-8.6-15.85q-1-3.18-1.71-6.42A52.14,52.14,0,0,1,160.33,65.89q4.33,22.89-9.12,41.75-15.27,19.77-40.35,21.09Q85,128.88,68.48,109.09Z')
                                                    path.cls-5(d='M137.9,76.67l6.94-3.73a19.43,19.43,0,0,0-1.76-3.32c-1.88.74-3.74,1.5-5.6,2.28a34.8,34.8,0,0,0-17.92-25.54A34.25,34.25,0,0,0,70.09,69.21a45.07,45.07,0,0,0-.88,6.84q-2.31-.8-4.56-1.77a41.85,41.85,0,0,1,5-18.54,44.7,44.7,0,0,1,83.56,13.1c0,.13-.07.25-.1.37L138,77A.31.31,0,0,1,137.9,76.67Z')
                                                    path.cls-6(d='M149.4,125.57l.83-.73a38.82,38.82,0,0,0,30.25,12.28q18.92-1.37,30.09-16.53A38.82,38.82,0,0,0,216,87.34q-6.36-19.26-25.54-25.85a39.67,39.67,0,0,0-18.65-1.24,3.7,3.7,0,0,0-1.24.36c-.14-.41-.27-.82-.41-1.25a1,1,0,0,0,.31.11q19.31-3.54,34.39,8.86,14.3,12.86,13.73,32.17A40.06,40.06,0,0,1,202,130.7a40.1,40.1,0,0,1-52.63-5.13Z')
                                                    path.cls-3(d='M150.23,124.84a63.18,63.18,0,0,0,20.3-64.23,3.7,3.7,0,0,1,1.24-.36,39.67,39.67,0,0,1,18.65,1.24Q209.61,68.07,216,87.34a38.82,38.82,0,0,1-5.39,33.25q-11.17,15.16-30.09,16.53A38.82,38.82,0,0,1,150.23,124.84Z')
                                                    path.cls-7(d='M182.45,63.09a3,3,0,0,0-.31.11.31.31,0,0,0,.1.15,1,1,0,0,0-.57.88c-.18.1-.24.23-.16.37s-.16.17-.26.05a1.46,1.46,0,0,1-.15.46l.1.11c-.35.1-.45.31-.31.62a5.55,5.55,0,0,1-.72.73.35.35,0,0,1,.1.2c-.13,0-.24.1-.31.31a1.57,1.57,0,0,0,0,.47c-.1-.18-.22-.22-.36-.1a.25.25,0,0,1,.15.31l-.1-.11a.7.7,0,0,1-.57.68l.21.31a.18.18,0,0,1-.26,0,.83.83,0,0,1-.26.36l.1.31a1.19,1.19,0,0,1-.31.36.42.42,0,0,0,.11.16.77.77,0,0,0-.47.26,1.36,1.36,0,0,1-.26.67l.21.1-.52.31a.23.23,0,0,1,.1.16c-.86-.08-1.73-.2-2.59-.36.18-.24.35-.48.52-.73l-.1-.1q.4-.09.21-.42a.93.93,0,0,0,.41-.2l-.1-.11a1.06,1.06,0,0,1,.62-.72.35.35,0,0,1,.2-.57c-.14-.14-.11-.23.11-.26L177,67.7c.25-.49.53-1,.83-1.45-.12-.32-.07-.34.16,0a1.33,1.33,0,0,0,.31-.93.43.43,0,0,0,.36-.16c-.25-.13-.25-.23,0-.31l-.1-.1.41-.1-.2-.11a3,3,0,0,1,.72-1.08c.15-.2.12-.32-.1-.37A7.57,7.57,0,0,1,182.45,63.09Z')
                                                    path.cls-8(d='M182.45,63.09a6.11,6.11,0,0,1,1.76.21,1.08,1.08,0,0,1-.16.42c-.09-.12-.18-.11-.26.05.21.09.21.23,0,.41l.11.11a1.61,1.61,0,0,0-.63.88.39.39,0,0,0-.41-.06c.14.21.28.42.41.63-.19,0-.31,0-.36-.26a1.77,1.77,0,0,1-.15.46.54.54,0,0,1,.1.16,1.59,1.59,0,0,0-.26.41q-.06-.47-.36-.15c.25.13.25.24,0,.31a.24.24,0,0,1,.15.36c-.22-.14-.27-.11-.15.11a5.77,5.77,0,0,1-.62.51.52.52,0,0,1,.41.16.27.27,0,0,1-.36,0,3.41,3.41,0,0,1-.36.57.7.7,0,0,1-.42.83.87.87,0,0,0,0,.83c-.26.18-.55.41-.88.67a.35.35,0,0,0,.16.42c-.12.06-.24,0-.37-.11a.18.18,0,0,0,.06.26.66.66,0,0,0-.21.26l-1.87-.31a.23.23,0,0,0-.1-.16l.52-.31-.21-.1a1.36,1.36,0,0,0,.26-.67.77.77,0,0,1,.47-.26.42.42,0,0,1-.11-.16,1.19,1.19,0,0,0,.31-.36l-.1-.31a.83.83,0,0,0,.26-.36.18.18,0,0,0,.26,0l-.21-.31a.7.7,0,0,0,.57-.68l.1.11a.25.25,0,0,0-.15-.31c.14-.12.26-.08.36.1a1.57,1.57,0,0,1,0-.47c.07-.21.18-.31.31-.31a.35.35,0,0,0-.1-.2,5.55,5.55,0,0,0,.72-.73c-.14-.31,0-.52.31-.62l-.1-.11a1.46,1.46,0,0,0,.15-.46c.1.12.19.1.26-.05s0-.27.16-.37a1,1,0,0,1,.57-.88.31.31,0,0,1-.1-.15A3,3,0,0,1,182.45,63.09Z')
                                                    path.cls-9(d='M184.21,63.3a18.41,18.41,0,0,1,3.11.62c0,.2,0,.23-.16.11-.15.08-.17.16,0,.26a.79.79,0,0,1-.31.41.17.17,0,0,1,0,.26.81.81,0,0,0-.21.31l-.1-.1a1.58,1.58,0,0,1-.47.77l.11.11a2.88,2.88,0,0,1-.52.72c.12.22.05.37-.21.47a.4.4,0,0,0,.1.15,7.54,7.54,0,0,0-.82.94.41.41,0,0,1-.21.62l.1.1c-.33.46-.64.88-.93,1.25l.21.1a.47.47,0,0,1-.42.31.21.21,0,0,1,0,.36c-.32.13-.44.33-.36.62l-.1-.1a1.17,1.17,0,0,1-.37.62,2.12,2.12,0,0,1,.11.21,25.93,25.93,0,0,0-3.11-.83.66.66,0,0,1,.21-.26.18.18,0,0,1-.06-.26c.13.13.25.17.37.11a.35.35,0,0,1-.16-.42c.33-.26.62-.49.88-.67a.87.87,0,0,1,0-.83.7.7,0,0,0,.42-.83,3.41,3.41,0,0,0,.36-.57.27.27,0,0,0,.36,0,.52.52,0,0,0-.41-.16,5.77,5.77,0,0,0,.62-.51c-.12-.22-.07-.25.15-.11a.24.24,0,0,0-.15-.36c.25-.07.25-.18,0-.31q.3-.31.36.15a1.59,1.59,0,0,1,.26-.41.54.54,0,0,0-.1-.16,1.77,1.77,0,0,0,.15-.46c.05.22.17.3.36.26-.13-.21-.27-.42-.41-.63a.39.39,0,0,1,.41.06,1.61,1.61,0,0,1,.63-.88l-.11-.11c.21-.18.21-.32,0-.41.08-.16.17-.17.26-.05A1.08,1.08,0,0,0,184.21,63.3Z')
                                                    path.cls-10(d='M187.32,63.92a20.44,20.44,0,0,1,2.69.83,3.18,3.18,0,0,0-.62.78l.1.1a.59.59,0,0,0-.31.57c-.33,0-.37.1-.1.26a1.86,1.86,0,0,0-.42.42v.31a.55.55,0,0,1-.31,0,.88.88,0,0,1-.41.67l.31.11a1.53,1.53,0,0,0-.52.46,1.24,1.24,0,0,0,0,.47c0,.19-.14.2-.26,0a.52.52,0,0,1-.47.67c.14.15.11.25-.1.31.1.09.1.2,0,.32a1.31,1.31,0,0,1-.47.36c0,.24-.06.48-.1.72a8.73,8.73,0,0,0-.67.68c.25.07.25.17,0,.31l.1.1a2.22,2.22,0,0,0-.62.88c-.78-.34-1.58-.65-2.38-.93a2.12,2.12,0,0,0-.11-.21,1.17,1.17,0,0,0,.37-.62l.1.1c-.08-.29,0-.49.36-.62a.21.21,0,0,0,0-.36.47.47,0,0,0,.42-.31l-.21-.1c.29-.37.6-.79.93-1.25l-.1-.1a.41.41,0,0,0,.21-.62,7.54,7.54,0,0,1,.82-.94.4.4,0,0,1-.1-.15c.26-.1.33-.25.21-.47a2.88,2.88,0,0,0,.52-.72l-.11-.11a1.58,1.58,0,0,0,.47-.77l.1.1a.81.81,0,0,1,.21-.31.17.17,0,0,0,0-.26.79.79,0,0,0,.31-.41c-.12-.1-.1-.18,0-.26C187.27,64.15,187.33,64.12,187.32,63.92Z')
                                                    path.cls-11(d='M190,64.75a10.14,10.14,0,0,1,2.17.83,2.11,2.11,0,0,1-.62.67.57.57,0,0,1,.11.16,3.37,3.37,0,0,0-.42.93.55.55,0,0,0-.31,0c0,.11.07.21.11.31l-.32.11c.14.19.13.24,0,.15-.17.09-.19.19-.05.31q-.06.2-.15,0a.76.76,0,0,1-.26.47.41.41,0,0,1,.1.21.35.35,0,0,1-.31.15,1.86,1.86,0,0,1,.1.37c-.37.46-.75.9-1.14,1.34l.21.31a1.27,1.27,0,0,0-.41.42l.1.1a5.08,5.08,0,0,1-.57.47,2.23,2.23,0,0,1-.67,1.4l.1.1a7.22,7.22,0,0,0-.41.78c-.71-.37-1.44-.72-2.18-1a2.22,2.22,0,0,1,.62-.88l-.1-.1c.25-.14.25-.24,0-.31a8.73,8.73,0,0,1,.67-.68c0-.24.07-.48.1-.72a1.31,1.31,0,0,0,.47-.36c.1-.12.1-.23,0-.32.21-.06.24-.16.1-.31a.52.52,0,0,0,.47-.67c.12.15.21.14.26,0a1.24,1.24,0,0,1,0-.47,1.53,1.53,0,0,1,.52-.46l-.31-.11a.88.88,0,0,0,.41-.67.55.55,0,0,0,.31,0v-.31a1.86,1.86,0,0,1,.42-.42c-.27-.16-.23-.24.1-.26a.59.59,0,0,1,.31-.57l-.1-.1A3.18,3.18,0,0,1,190,64.75Z')
                                                    path.cls-12(d='M192.18,65.58a13.76,13.76,0,0,1,2.91,1.35.37.37,0,0,0-.32.15q.21.11,0,.21l-.31.1a.43.43,0,0,1-.2.52l.1.11a11,11,0,0,0-1,1.76l.11.1a4.1,4.1,0,0,1-.83.93.75.75,0,0,1-.42.83c.09.11.07.23-.05.36-.09-.12-.18-.1-.26.06l.21.1a.45.45,0,0,1-.41.31,1.14,1.14,0,0,1,0,.52,2.05,2.05,0,0,1-.42.36c.27.16.24.23-.1.21a2.54,2.54,0,0,1-.73,1.4c.12.1.09.17-.1.2l.1.11a4.55,4.55,0,0,0-.51.78c-.85-.58-1.72-1.14-2.59-1.66a7.22,7.22,0,0,1,.41-.78l-.1-.1a2.23,2.23,0,0,0,.67-1.4,5.08,5.08,0,0,0,.57-.47l-.1-.1a1.27,1.27,0,0,1,.41-.42l-.21-.31c.39-.44.77-.88,1.14-1.34a1.86,1.86,0,0,0-.1-.37.35.35,0,0,0,.31-.15.41.41,0,0,0-.1-.21.76.76,0,0,0,.26-.47q.09.2.15,0c-.14-.12-.12-.22.05-.31.18.09.19,0,0-.15l.32-.11c0-.1-.07-.2-.11-.31a.55.55,0,0,1,.31,0,3.37,3.37,0,0,1,.42-.93.57.57,0,0,0-.11-.16A2.11,2.11,0,0,0,192.18,65.58Z')
                                                    path.cls-13(d='M195.09,66.93a7.23,7.23,0,0,1,1.76.93.61.61,0,0,0-.16.31.17.17,0,0,0-.26,0v.31l-.41.31.21.1a4.86,4.86,0,0,0-.68.68,4.06,4.06,0,0,1-.57,1.14.33.33,0,0,0,.11.15,2.33,2.33,0,0,0-.42.57c.11.17,0,.26-.21.26.09.16,0,.27-.2.31.11.11.08.18-.11.21a.71.71,0,0,1,0,.41c-.31,0-.35.11-.1.21-.19,0-.22.1-.1.21a.49.49,0,0,1-.31.05.84.84,0,0,1-.52.88q.19.33-.21.42l.1.1a1.68,1.68,0,0,0-.41.78,1.3,1.3,0,0,1-.31.26.71.71,0,0,0,0,.41,4.7,4.7,0,0,0-.73,1.4l-1.65-1.24a4.55,4.55,0,0,1,.51-.78l-.1-.11c.19,0,.22-.1.1-.2a2.54,2.54,0,0,0,.73-1.4c.34,0,.37,0,.1-.21a2.05,2.05,0,0,0,.42-.36,1.14,1.14,0,0,0,0-.52.45.45,0,0,0,.41-.31l-.21-.1c.08-.16.17-.18.26-.06.12-.13.14-.25.05-.36a.75.75,0,0,0,.42-.83,4.1,4.1,0,0,0,.83-.93l-.11-.1a11,11,0,0,1,1-1.76l-.1-.11a.43.43,0,0,0,.2-.52l.31-.1q.21-.11,0-.21A.37.37,0,0,1,195.09,66.93Z')
                                                    path.cls-14(d='M196.85,67.86a13.08,13.08,0,0,1,1.86,1.24c-.22,0-.26.06-.1.21a1.27,1.27,0,0,1-.42.47c0,.1.07.2.11.31a.64.64,0,0,0-.26.46c0-.13-.07-.27-.11-.41a1.46,1.46,0,0,1-.36.88l.21.1c-.41.55-.79,1.1-1.14,1.66l.21.11a.65.65,0,0,0-.47.56.94.94,0,0,1-.1-.1.28.28,0,0,0,.05.36,4.14,4.14,0,0,1-.83.73c.25.12.25.26,0,.41l.1.11a1.82,1.82,0,0,0-.67,1.29l-1.09,1.5.21.11a.82.82,0,0,1-.41,0,1,1,0,0,1-.32.78.29.29,0,0,1,.11.26,21.11,21.11,0,0,1-1.87-1.66,4.7,4.7,0,0,1,.73-1.4.71.71,0,0,1,0-.41,1.3,1.3,0,0,0,.31-.26,1.68,1.68,0,0,1,.41-.78l-.1-.1q.41-.09.21-.42a.84.84,0,0,0,.52-.88A.49.49,0,0,0,194,73c-.12-.11-.09-.18.1-.21-.25-.1-.21-.17.1-.21a.71.71,0,0,0,0-.41c.19,0,.22-.1.11-.21.22,0,.29-.15.2-.31.25,0,.32-.09.21-.26a2.33,2.33,0,0,1,.42-.57.33.33,0,0,1-.11-.15,4.06,4.06,0,0,0,.57-1.14,4.86,4.86,0,0,1,.68-.68l-.21-.1.41-.31v-.31a.17.17,0,0,1,.26,0A.61.61,0,0,1,196.85,67.86Z')
                                                    path.cls-15(d='M198.71,69.1a4.29,4.29,0,0,1,1.45,1,2.62,2.62,0,0,0-.26.62l-.1-.21a.51.51,0,0,1-.26.37.51.51,0,0,1,.21.15A3.09,3.09,0,0,1,199,72a.57.57,0,0,1,.11.16,1.25,1.25,0,0,1-.52.57.31.31,0,0,1,.1.15,8.1,8.1,0,0,1-.93,1.4.68.68,0,0,1-.31.73l.1.1a.82.82,0,0,1-.52.42.33.33,0,0,1,.11.15l-.52.62a.49.49,0,0,1-.31.68c.09.16,0,.26-.21.31a.42.42,0,0,1,.11.15,4.29,4.29,0,0,0-.68,1.35.94.94,0,0,0-.1-.1,1.17,1.17,0,0,1-.16.36l.11.1c-.31,0-.41.13-.31.36a1.36,1.36,0,0,1-.42.47l.21.1a.86.86,0,0,0-.21.26A15.74,15.74,0,0,1,193.43,79a.29.29,0,0,0-.11-.26,1,1,0,0,0,.32-.78.82.82,0,0,0,.41,0l-.21-.11,1.09-1.5A1.82,1.82,0,0,1,195.6,75l-.1-.11c.25-.15.25-.29,0-.41a4.14,4.14,0,0,0,.83-.73.28.28,0,0,1-.05-.36.94.94,0,0,0,.1.1.65.65,0,0,1,.47-.56l-.21-.11c.35-.56.73-1.11,1.14-1.66l-.21-.1a1.46,1.46,0,0,0,.36-.88c0,.14.07.28.11.41a.64.64,0,0,1,.26-.46c0-.11-.07-.21-.11-.31a1.27,1.27,0,0,0,.42-.47C198.45,69.16,198.49,69.09,198.71,69.1Z')
                                                    path.cls-16(d='M137.9,76.67q-15.7,8.07-31.4,16.26-1.77-3.47-3.41-7,17.11-7.18,34.39-14c1.86-.78,3.72-1.54,5.6-2.28a19.43,19.43,0,0,1,1.76,3.32Z')
                                                    path.cls-17(d='M200.16,70.14a11.72,11.72,0,0,1,2.49,2.07.27.27,0,0,0-.42.05c.12.1.11.18,0,.26l-.1-.1-.31,1c-.19-.13-.24-.12-.16.06a3.39,3.39,0,0,0-.31,1c-.32,0-.35,0-.1.16a1.34,1.34,0,0,0-.57.77.18.18,0,0,0-.26,0,1.35,1.35,0,0,1,.1.42,10.21,10.21,0,0,1-1.24,1.86.45.45,0,0,1-.31.62c.14.19.12.24,0,.16a.47.47,0,0,1-.26.26c.4.06.4.14,0,.26a.71.71,0,0,1-.31.46l.2.11-.41.2q.21.11,0,.21l.21.1a1,1,0,0,0-.47.57l-.1-.1c-.12.13-.14.25,0,.36a.83.83,0,0,0-.37.88l-.51.31a.42.42,0,0,0,0,.47.75.75,0,0,0-.21.26l-2-2.49a.86.86,0,0,1,.21-.26l-.21-.1a1.36,1.36,0,0,0,.42-.47c-.1-.23,0-.35.31-.36l-.11-.1a1.17,1.17,0,0,0,.16-.36.94.94,0,0,1,.1.1,4.29,4.29,0,0,1,.68-1.35.42.42,0,0,0-.11-.15c.23,0,.3-.15.21-.31a.49.49,0,0,0,.31-.68l.52-.62a.33.33,0,0,0-.11-.15.82.82,0,0,0,.52-.42l-.1-.1a.68.68,0,0,0,.31-.73,8.1,8.1,0,0,0,.93-1.4.31.31,0,0,0-.1-.15,1.25,1.25,0,0,0,.52-.57A.57.57,0,0,0,199,72a3.09,3.09,0,0,0,.73-.88.51.51,0,0,0-.21-.15.51.51,0,0,0,.26-.37l.1.21A2.62,2.62,0,0,1,200.16,70.14Z')
                                                    path.cls-18(d='M202.65,72.21a14.82,14.82,0,0,1,2.07,2c-.48.08-.68.34-.62.78a.4.4,0,0,0-.21.52,1.17,1.17,0,0,0-.62.82.41.41,0,0,0,.1.21,1.31,1.31,0,0,0-.72,1.09q-.47,0-.21.36a.92.92,0,0,1-.31.31l.1.11a1.16,1.16,0,0,0-.46.36.28.28,0,0,0,.15.36,2.61,2.61,0,0,0-.62.62v.42a.52.52,0,0,0-.41.72.84.84,0,0,1-.42.21.47.47,0,0,1,0,.57c-.16-.1-.3,0-.41.16.26.14.22.25-.11.31l.32.1a5.92,5.92,0,0,1-.78.88,7.12,7.12,0,0,1-.36.67.54.54,0,0,1,.1.16c-.13,0-.21,0-.26.21a1.27,1.27,0,0,0-.05.51h-.31a1,1,0,0,1-.05.42l-.11-.11a1.11,1.11,0,0,1-.15.37.45.45,0,0,1,.1.36l-1.76-2.9a.75.75,0,0,1,.21-.26.42.42,0,0,1,0-.47l.51-.31a.83.83,0,0,1,.37-.88c-.09-.11-.07-.23,0-.36l.1.1a1,1,0,0,1,.47-.57l-.21-.1q.21-.11,0-.21l.41-.2-.2-.11a.71.71,0,0,0,.31-.46c.4-.12.4-.2,0-.26a.47.47,0,0,0,.26-.26c.17.08.19,0,0-.16a.45.45,0,0,0,.31-.62,10.21,10.21,0,0,0,1.24-1.86,1.35,1.35,0,0,0-.1-.42.18.18,0,0,1,.26,0,1.34,1.34,0,0,1,.57-.77c-.25-.12-.22-.17.1-.16a3.39,3.39,0,0,1,.31-1c-.08-.18,0-.19.16-.06l.31-1,.1.1c.16-.08.17-.16,0-.26A.27.27,0,0,1,202.65,72.21Z')
                                                    path.cls-19(d='M204.72,74.18a14.51,14.51,0,0,1,1.55,1.87H206a1.36,1.36,0,0,1-.51,1.08.54.54,0,0,1,.1.16.92.92,0,0,0-.41.31.43.43,0,0,0,.2.15,1.92,1.92,0,0,1-.72.83.3.3,0,0,1,0,.37,2,2,0,0,1-.1-.21,3.89,3.89,0,0,0-.37.83.32.32,0,0,1-.31.1.49.49,0,0,1-.21.47.61.61,0,0,1-.2.67.39.39,0,0,0,.1.16l-.41.26c.11.16,0,.25-.21.25a1.49,1.49,0,0,1,.1.52,1.32,1.32,0,0,1-.62.42c.38.24.35.34-.1.31l.1.1q-.37.08-.21.36a3.1,3.1,0,0,1-.51.68l.2.1c-.22.1-.29.23-.2.42a.57.57,0,0,1-.31,0,1,1,0,0,1-.06.41c0-.22-.11-.23-.15,0a.41.41,0,0,0,.1.21,2.07,2.07,0,0,0-.36.67l-.1-.1a1.6,1.6,0,0,1-.47.93c.1.22,0,.26-.21.1a1,1,0,0,0-.21.88c-.27.06-.34.2-.2.42a.75.75,0,0,0-.21.26,21.59,21.59,0,0,1-1.14-2.49.45.45,0,0,0-.1-.36,1.11,1.11,0,0,0,.15-.37l.11.11a1,1,0,0,0,.05-.42h.31a1.27,1.27,0,0,1,.05-.51c.05-.18.13-.25.26-.21a.54.54,0,0,0-.1-.16,7.12,7.12,0,0,0,.36-.67,5.92,5.92,0,0,0,.78-.88l-.32-.1c.33-.06.37-.17.11-.31.11-.21.25-.26.41-.16a.47.47,0,0,0,0-.57.84.84,0,0,0,.42-.21.52.52,0,0,1,.41-.72v-.42a2.61,2.61,0,0,1,.62-.62.28.28,0,0,1-.15-.36,1.16,1.16,0,0,1,.46-.36l-.1-.11a.92.92,0,0,0,.31-.31q-.25-.37.21-.36a1.31,1.31,0,0,1,.72-1.09.41.41,0,0,1-.1-.21,1.17,1.17,0,0,1,.62-.82.4.4,0,0,1,.21-.52C204,74.52,204.24,74.26,204.72,74.18Z')
                                                    path.cls-20(d='M206.27,76.05a15.48,15.48,0,0,1,1.35,1.76,1.38,1.38,0,0,1-.62.36l.1.1a2.58,2.58,0,0,1-.41.57,1.85,1.85,0,0,1,0,.47c-.25,0-.32.13-.21.31-.22,0-.29.15-.21.31a1.39,1.39,0,0,1-.41.57.54.54,0,0,0,.1.16,1.15,1.15,0,0,1-.41.41c.12.11.08.17-.1.21l.1.1a.89.89,0,0,0-.36.78l-.11-.11a.75.75,0,0,1-.36.47.41.41,0,0,1,.1.21l-.31.2c.12.08.12.17,0,.26s-.16.13-.26,0c-.2.2-.18.36.06.47-.21.06-.24.17-.11.31a3.59,3.59,0,0,0-.72.83.71.71,0,0,0,0,.41.84.84,0,0,1-.42.21l.21.1a1.93,1.93,0,0,1-.52.63.56.56,0,0,1-.41.72l.1.11a3.39,3.39,0,0,1-.41.51l.2.11c-.17.17-.34.32-.51.46l.1.21c0,.12-.09.12-.16,0,0,.14-.07.28-.1.41-.08-.24-.17-.23-.26.06l.21.1-.42.21.21.1a.59.59,0,0,0-.41.73l-.42.41a.27.27,0,0,1,.05.36q-.11-.2-.15,0c-.29-.81-.57-1.64-.83-2.48a.75.75,0,0,1,.21-.26c-.14-.22-.07-.36.2-.42a1,1,0,0,1,.21-.88c.24.16.31.12.21-.1a1.6,1.6,0,0,0,.47-.93l.1.1a2.07,2.07,0,0,1,.36-.67.41.41,0,0,1-.1-.21c0-.18.1-.17.15,0a1,1,0,0,0,.06-.41.57.57,0,0,0,.31,0c-.09-.19,0-.32.2-.42l-.2-.1a3.1,3.1,0,0,0,.51-.68q-.16-.28.21-.36l-.1-.1c.45,0,.48-.07.1-.31a1.32,1.32,0,0,0,.62-.42,1.49,1.49,0,0,0-.1-.52c.25,0,.32-.09.21-.25l.41-.26a.39.39,0,0,1-.1-.16.61.61,0,0,0,.2-.67.49.49,0,0,0,.21-.47.32.32,0,0,0,.31-.1,3.89,3.89,0,0,1,.37-.83,2,2,0,0,0,.1.21.3.3,0,0,0,0-.37,1.92,1.92,0,0,0,.72-.83.43.43,0,0,1-.2-.15.92.92,0,0,1,.41-.31.54.54,0,0,0-.1-.16,1.36,1.36,0,0,0,.51-1.08Z')
                                                    path.cls-21(d='M207.62,77.81a7.59,7.59,0,0,1,1.14,1.76,2.64,2.64,0,0,1-.72,1,.34.34,0,0,0,.1.16,8.64,8.64,0,0,0-.57,1,.87.87,0,0,1-.26.16c.09.13.05.25-.1.36a.34.34,0,0,1-.16-.1c-.05.13,0,.21.16.26-.32,0-.35.1-.11.2a.78.78,0,0,0-.36.47c-.17-.09-.19,0-.05.16a12.72,12.72,0,0,0-.93,1.55.35.35,0,0,1-.06.47h-.31c-.19.17-.17.3.06.36-.52.93-1.07,1.82-1.66,2.69.12.32.07.34-.16.05a.3.3,0,0,0,.05.37.67.67,0,0,1-.31.31.33.33,0,0,1,.11.15,4.65,4.65,0,0,0-.42.57.43.43,0,0,0,.11.21c-.28.1-.38.28-.31.52-.32,0-.35.1-.11.2-.29,0-.39.19-.31.42a5.38,5.38,0,0,0-.57,1.09.42.42,0,0,0-.15-.11,4.25,4.25,0,0,1-.73,1.35,27.8,27.8,0,0,1-.62-2.8q0-.2.15,0a.27.27,0,0,0-.05-.36l.42-.41a.59.59,0,0,1,.41-.73l-.21-.1.42-.21-.21-.1c.09-.29.18-.3.26-.06,0-.13.07-.27.1-.41.07.12.12.12.16,0l-.1-.21c.17-.14.34-.29.51-.46l-.2-.11a3.39,3.39,0,0,0,.41-.51l-.1-.11a.56.56,0,0,0,.41-.72,1.93,1.93,0,0,0,.52-.63l-.21-.1a.84.84,0,0,0,.42-.21.71.71,0,0,1,0-.41,3.59,3.59,0,0,1,.72-.83c-.13-.14-.1-.25.11-.31-.24-.11-.26-.27-.06-.47.1.13.18.13.26,0s.12-.18,0-.26l.31-.2a.41.41,0,0,0-.1-.21.75.75,0,0,0,.36-.47l.11.11a.89.89,0,0,1,.36-.78l-.1-.1c.18,0,.22-.1.1-.21a1.15,1.15,0,0,0,.41-.41.54.54,0,0,1-.1-.16,1.39,1.39,0,0,0,.41-.57c-.08-.16,0-.26.21-.31-.11-.18,0-.28.21-.31a1.85,1.85,0,0,0,0-.47,2.58,2.58,0,0,0,.41-.57l-.1-.1A1.38,1.38,0,0,0,207.62,77.81Z')
                                                    path.cls-22(d='M208.76,79.57a19.64,19.64,0,0,1,2.07,3.73c-.27,0-.37.11-.31.31s-.09.12-.15,0a1.3,1.3,0,0,1-.78,1.09l.21.31a4,4,0,0,0-.52.57.4.4,0,0,0,.1.15.71.71,0,0,0-.31.31c0,.11.07.21.11.31l-.83.63.2.1a.8.8,0,0,1-.31.62l.11.1a6.38,6.38,0,0,0-.73.83c.09.18,0,.19-.15.05a.27.27,0,0,0,.15.32c-.12,0-.21,0-.26.2l-.1-.1a.39.39,0,0,0,.05.41c-.4.15-.4.27,0,.37a1,1,0,0,1-.41.05,1.08,1.08,0,0,1-.63,1.09l.11.1a3.75,3.75,0,0,1-.42.62c.12.11.09.18-.1.21a.27.27,0,0,1-.05.36c-.16-.08-.17-.16-.05-.26-.1-.07-.17,0-.21,0q-2.27,1-4.56,1.87v-.52a4.25,4.25,0,0,0,.73-1.35.42.42,0,0,1,.15.11,5.38,5.38,0,0,1,.57-1.09c-.08-.23,0-.37.31-.42-.24-.1-.21-.17.11-.2-.07-.24,0-.42.31-.52a.43.43,0,0,1-.11-.21,4.65,4.65,0,0,1,.42-.57.33.33,0,0,0-.11-.15.67.67,0,0,0,.31-.31.3.3,0,0,1-.05-.37c.23.29.28.27.16-.05.59-.87,1.14-1.76,1.66-2.69-.23-.06-.25-.19-.06-.36h.31a.35.35,0,0,0,.06-.47,12.72,12.72,0,0,1,.93-1.55c-.14-.2-.12-.25.05-.16a.78.78,0,0,1,.36-.47c-.24-.1-.21-.17.11-.2-.15,0-.21-.13-.16-.26a.34.34,0,0,0,.16.1c.15-.11.19-.23.1-.36a.87.87,0,0,0,.26-.16,8.64,8.64,0,0,1,.57-1,.34.34,0,0,1-.1-.16A2.64,2.64,0,0,0,208.76,79.57Z')
                                                    path.cls-23(d='M210.83,83.3a19.76,19.76,0,0,1,1.25,3,1.58,1.58,0,0,0-.52.21,2.68,2.68,0,0,0-.26.83c0-.36-.13-.39-.31-.11a.89.89,0,0,1-.26.52.26.26,0,0,1,.05.31,4.19,4.19,0,0,1-.67.88l.21.11a2.66,2.66,0,0,0-.47.77c-.22.06-.27.16-.16.32a2,2,0,0,1-.36.72l-.1-.1c-.14.42-.27.8-.42,1.14a.26.26,0,0,0-.36,0l.21.1c-.25,0-.32.18-.21.36a.71.71,0,0,1-.31.16.29.29,0,0,1,.1.16,1.6,1.6,0,0,1-.51.46l.2.11a1.6,1.6,0,0,0-.52,1,2,2,0,0,0-.41.36c.1.07.18,0,.26,0l.15.31q-2.22,1.21-4.55,2.28Q204.75,96,206.74,95a.25.25,0,0,0,0-.31c-.4-.86-.79-1.73-1.19-2.59,0-.1.11-.12.21,0-.12.1-.11.18.05.26a.27.27,0,0,0,.05-.36c.19,0,.22-.1.1-.21a3.75,3.75,0,0,0,.42-.62l-.11-.1a1.08,1.08,0,0,0,.63-1.09,1,1,0,0,0,.41-.05c-.4-.1-.4-.22,0-.37a.39.39,0,0,1-.05-.41l.1.1c0-.18.14-.25.26-.2a.27.27,0,0,1-.15-.32c.19.14.24.13.15-.05a6.38,6.38,0,0,1,.73-.83l-.11-.1a.8.8,0,0,0,.31-.62l-.2-.1.83-.63c0-.1-.07-.2-.11-.31a.71.71,0,0,1,.31-.31.4.4,0,0,1-.1-.15,4,4,0,0,1,.52-.57l-.21-.31a1.3,1.3,0,0,0,.78-1.09c.06.12.12.12.15,0S210.56,83.3,210.83,83.3Z')
                                                    path.cls-24(d='M212.08,86.3a30.89,30.89,0,0,1,1.45,5.23c0,.12-.07.25-.11.37l-6,3-.15-.31c-.08.1-.16.12-.26,0a2,2,0,0,1,.41-.36,1.6,1.6,0,0,1,.52-1l-.2-.11a1.6,1.6,0,0,0,.51-.46.29.29,0,0,0-.1-.16.71.71,0,0,0,.31-.16c-.11-.18,0-.31.21-.36l-.21-.1a.26.26,0,0,1,.36,0c.15-.34.28-.72.42-1.14l.1.1a2,2,0,0,0,.36-.72c-.11-.16-.06-.26.16-.32a2.66,2.66,0,0,1,.47-.77l-.21-.11a4.19,4.19,0,0,0,.67-.88.26.26,0,0,0-.05-.31.89.89,0,0,0,.26-.52c.18-.28.29-.25.31.11a2.68,2.68,0,0,1,.26-.83A1.58,1.58,0,0,1,212.08,86.3Z')
                                                    path.cls-25(d='M46.93,87.13a.3.3,0,0,1,.11.31A23,23,0,0,1,52.73,89c.07,0,.1,0,.11-.11a57,57,0,0,1,5.59,3.21,5.28,5.28,0,0,0,1.45,1.14,26.21,26.21,0,0,1,8.6,15.85,5.19,5.19,0,0,0,.31,2c-.07,1.52-.14,3-.2,4.56a1,1,0,0,0-.06-.41,29.18,29.18,0,0,1-2,8q-6.66,13.4-21.65,15a25.77,25.77,0,0,1-21.29-9.07q-8.89-11.39-4.46-25.18,5.54-13.71,20-16.52a28.78,28.78,0,0,1,7.36,0A.48.48,0,0,0,46.93,87.13Z')
                                                    path.cls-3(d='M40.82,88.17q15.8-.69,23.88,12.74A24.54,24.54,0,0,1,48,136.7Q33.48,139,24,128a24.56,24.56,0,0,1,11.76-38.7Q38.29,88.62,40.82,88.17Z')
                                                    path.cls-26(d='M44.76,90.55H43.31a1.37,1.37,0,0,0,0,.57c-.24.19-.24.36,0,.52-.25.13-.25.24,0,.31a1.47,1.47,0,0,0,0,.88.51.51,0,0,0,.31.36c-.25.31-.18.55.2.73l-.2.1.1.31-.21.1a2.49,2.49,0,0,0,.31.78.71.71,0,0,1-.31.16l.21.1c-.14.22-.11.27.1.16q.27.34.57,0a1.5,1.5,0,0,1,.16.62,19.28,19.28,0,0,0-5.08-.52,2.12,2.12,0,0,1,.21-.36c-.26-.07-.26-.15,0-.26-.26-.15-.26-.31,0-.47a1.31,1.31,0,0,1-.31-.52,2.53,2.53,0,0,0,0-1.39.43.43,0,0,0-.31-.26c.25-.33.25-.61,0-.83.11-.23,0-.4-.21-.52a.28.28,0,0,0,.21-.26A18.86,18.86,0,0,1,44.76,90.55Z')
                                                    path.cls-27(d='M44.76,90.55a14.18,14.18,0,0,1,3,.41.56.56,0,0,0-.31.06,2.81,2.81,0,0,1,.31,1.08c0,.13-.09.13-.15,0a.17.17,0,0,0,0,.26l-.21.11a1,1,0,0,0,.41.31.43.43,0,0,0-.2.15l.31.26a.62.62,0,0,0,0,.36c-.07-.12-.12-.12-.16,0a.67.67,0,0,0,.21.26q-.42.1,0,.21l-.21.21c.22.1.25.23.1.41a.81.81,0,0,1,.32.16l-.21.1a.47.47,0,0,1,0,.57c.25.14.25.24,0,.31a.32.32,0,0,0,.31.16,2,2,0,0,1-.1.83q.38.27,0,.57a1.07,1.07,0,0,1,.41.15,2,2,0,0,0-.1.21,19.21,19.21,0,0,0-3.94-1.45,1.5,1.5,0,0,0-.16-.62q-.3.34-.57,0c-.21.11-.24.06-.1-.16l-.21-.1a.71.71,0,0,0,.31-.16,2.49,2.49,0,0,1-.31-.78l.21-.1-.1-.31.2-.1c-.38-.18-.45-.42-.2-.73a.51.51,0,0,1-.31-.36,1.47,1.47,0,0,1,0-.88c-.25-.07-.25-.18,0-.31-.24-.16-.24-.33,0-.52a1.37,1.37,0,0,1,0-.57Z')
                                                    path.cls-28(d='M47.76,91a14.73,14.73,0,0,1,3.83,1.14c-.36.15-.4.38-.1.68a.67.67,0,0,1-.21.52.29.29,0,0,0,.37-.16.55.55,0,0,1-.26.57q.39.21,0,.36a.35.35,0,0,1,.31.16,1.31,1.31,0,0,1-.21.36c.36.18.39.41.1.67a.86.86,0,0,0,.42.31.42.42,0,0,0,0,.73l-.21.1a1.11,1.11,0,0,0,.31.62q-.61.21,0,.42c-.11.1-.08.17.11.21a.83.83,0,0,0,0,.62l.2.1a.47.47,0,0,0-.41.31c.37.19.4.43.1.73.41.12.48.32.21.62l.21.1a.8.8,0,0,0,0,.57,19.35,19.35,0,0,0-4-3,2,2,0,0,1,.1-.21,1.07,1.07,0,0,0-.41-.15q.38-.3,0-.57a2,2,0,0,0,.1-.83.32.32,0,0,1-.31-.16c.25-.07.25-.17,0-.31a.47.47,0,0,0,0-.57l.21-.1a.81.81,0,0,0-.32-.16c.15-.18.12-.31-.1-.41L48,94q-.42-.1,0-.21a.67.67,0,0,1-.21-.26c0-.12.09-.12.16,0a.62.62,0,0,1,0-.36l-.31-.26a.43.43,0,0,1,.2-.15,1,1,0,0,1-.41-.31l.21-.11a.17.17,0,0,1,0-.26c.06.13.12.13.15,0A2.81,2.81,0,0,0,47.45,91,.56.56,0,0,1,47.76,91Z')
                                                    path.cls-29(d='M39.06,90.86a.28.28,0,0,1-.21.26c.25.12.32.29.21.52.25.22.25.5,0,.83a.43.43,0,0,1,.31.26,2.53,2.53,0,0,1,0,1.39,1.31,1.31,0,0,0,.31.52c-.26.16-.26.32,0,.47-.26.11-.26.19,0,.26a2.12,2.12,0,0,0-.21.36,27.38,27.38,0,0,0-3,.41l-.11-.25c.27-.29.24-.5-.1-.63.29-.24.26-.38-.1-.41a1.21,1.21,0,0,1,.2-.73c-.25-.06-.25-.15,0-.26a.43.43,0,0,0-.2-.15c.15-.18.11-.32-.11-.41a4.36,4.36,0,0,0,.06-1.09.51.51,0,0,0-.26-.26c.25,0,.32-.1.2-.26A13.81,13.81,0,0,1,39.06,90.86Z')
                                                    path.cls-30(d='M36.05,91.69c.12.16.05.25-.2.26a.51.51,0,0,1,.26.26,4.36,4.36,0,0,1-.06,1.09c.22.09.26.23.11.41a.43.43,0,0,1,.2.15c-.25.11-.25.2,0,.26a1.21,1.21,0,0,0-.2.73c.36,0,.39.17.1.41.34.13.37.34.1.63l.11.25a32.32,32.32,0,0,0-3.21,1.14q-.49,0-.21-.57l-.21-.1a4.63,4.63,0,0,0,.11-1.4.32.32,0,0,1-.31-.15,1.56,1.56,0,0,0,.1-.73c-.32-.21-.36-.49-.1-.83a.29.29,0,0,1-.11-.26A20.45,20.45,0,0,1,36.05,91.69Z')
                                                    path.cls-31(d='M205.55,92.1c.4.86.79,1.73,1.19,2.59a.25.25,0,0,1,0,.31q-2,1-3.88,2.18-13.4,7-26.73,14.19-1.37-2.78-2.65-5.59a.21.21,0,0,1,.06-.31Q187.3,99.74,201,94,203.29,93.07,205.55,92.1Z')
                                                    path.cls-32(d='M51.59,92.1a17.65,17.65,0,0,1,3.94,2.08c-.23.15-.23.29,0,.41l-.21.21a.78.78,0,0,0,.42.67.66.66,0,0,0-.31.21,1.23,1.23,0,0,1,.41.46A1.32,1.32,0,0,0,56,97.7a2.12,2.12,0,0,1-.21.36l.31.31q-.42.1,0,.21c-.26.06-.26.15,0,.26a.85.85,0,0,0,.1.67c-.4,0-.4,0,0,.26-.15.17-.12.29.11.36a.22.22,0,0,0,0,.37.72.72,0,0,1-.21.25l.31.32a2.28,2.28,0,0,0-.1.77l.2.11c-.26.14-.26.3,0,.46q-.41.11,0,.21l-.2.21a1,1,0,0,1,.31.51c-.25.08-.25.18,0,.32a1.18,1.18,0,0,1-.11.46c.15,0,.25,0,.31.26s-.08.51-.1.78a.45.45,0,0,0,.21.15.75.75,0,0,0-.21.26,2.11,2.11,0,0,0,.31.52,3.06,3.06,0,0,0-.1,1,1.1,1.1,0,0,1,.31.63.35.35,0,0,1-.31.15,18.23,18.23,0,0,0-4.35-7.15.8.8,0,0,1,0-.57l-.21-.1c.27-.3.2-.5-.21-.62.3-.3.27-.54-.1-.73a.47.47,0,0,1,.41-.31l-.2-.1a.83.83,0,0,1,0-.62c-.19,0-.22-.11-.11-.21q-.61-.21,0-.42a1.11,1.11,0,0,1-.31-.62l.21-.1a.42.42,0,0,1,0-.73.86.86,0,0,1-.42-.31c.29-.26.26-.49-.1-.67a1.31,1.31,0,0,0,.21-.36.35.35,0,0,0-.31-.16q.39-.15,0-.36a.55.55,0,0,0,.26-.57.29.29,0,0,1-.37.16.67.67,0,0,0,.21-.52C51.19,92.48,51.23,92.25,51.59,92.1Z')
                                                    path.cls-33(d='M55.53,94.18a14.64,14.64,0,0,1,2.38,1.76,3.91,3.91,0,0,0-.1.72,4,4,0,0,0,.21.47l-.21.1a.39.39,0,0,1,.21.26,2.23,2.23,0,0,1,0,1.09.35.35,0,0,1,.1.57.4.4,0,0,1,0,.67.57.57,0,0,1,.21.83.36.36,0,0,0,.21.21c-.29.23-.25.4.1.52a.51.51,0,0,0-.21.15c.14.11.14.21,0,.31a.54.54,0,0,0,.21.16.49.49,0,0,0-.21.31.54.54,0,0,1,.31.46,5.31,5.31,0,0,1-.1.68q.42.1,0,.21a.79.79,0,0,0,.31.2l-.31.11a1,1,0,0,1,.31.51c0,.21,0,.43-.05.68a.51.51,0,0,0,.26.26l-.21.1a1.74,1.74,0,0,0,.1.73.39.39,0,0,1-.2.2c.35.16.42.36.2.62a.57.57,0,0,1,.11.73l.2.21a1,1,0,0,0,0,.67.53.53,0,0,1-.2.16c.3.07.37.22.2.46l-2,.83a19.79,19.79,0,0,0-.52-2.28.35.35,0,0,0,.31-.15,1.1,1.1,0,0,0-.31-.63,3.06,3.06,0,0,1,.1-1,2.11,2.11,0,0,1-.31-.52.75.75,0,0,1,.21-.26.45.45,0,0,1-.21-.15c0-.27.06-.53.1-.78s-.16-.3-.31-.26a1.18,1.18,0,0,0,.11-.46c-.25-.14-.25-.24,0-.32a1,1,0,0,0-.31-.51l.2-.21q-.41-.11,0-.21c-.26-.16-.26-.32,0-.46l-.2-.11a2.28,2.28,0,0,1,.1-.77l-.31-.32a.72.72,0,0,0,.21-.25.22.22,0,0,1,0-.37c-.23-.07-.26-.19-.11-.36-.4-.21-.4-.29,0-.26a.85.85,0,0,1-.1-.67c-.26-.11-.26-.2,0-.26q-.42-.1,0-.21l-.31-.31A2.12,2.12,0,0,0,56,97.7a1.32,1.32,0,0,1-.11-1.56,1.23,1.23,0,0,0-.41-.46.66.66,0,0,1,.31-.21.78.78,0,0,1-.42-.67l.21-.21C55.3,94.47,55.3,94.33,55.53,94.18Z')
                                                    path.cls-34(d='M32.53,93.24a.29.29,0,0,0,.11.26c-.26.34-.22.62.1.83a1.56,1.56,0,0,1-.1.73.32.32,0,0,0,.31.15,4.63,4.63,0,0,1-.11,1.4l.21.1q-.28.56.21.57a19.86,19.86,0,0,0-3.94,2.59.66.66,0,0,1-.52-.15c.26-.34.22-.62-.1-.83l.21-.1c-.12-.08-.12-.17,0-.26a1.61,1.61,0,0,1-.32-.37,1.07,1.07,0,0,0,.21-.41l-.31-.21.21-.1c-.12-.08-.12-.16,0-.26L28.49,97a2.88,2.88,0,0,0,0-.83A21.43,21.43,0,0,1,32.53,93.24Z')
                                                    path.cls-35(d='M28.49,96.14a2.88,2.88,0,0,1,0,.83l.21.21c-.12.1-.12.18,0,.26l-.21.1.31.21a1.07,1.07,0,0,1-.21.41,1.61,1.61,0,0,0,.32.37c-.12.09-.12.18,0,.26l-.21.1c.32.21.36.49.1.83a.66.66,0,0,0,.52.15,19.14,19.14,0,0,0-3.42,4,.43.43,0,0,1-.21-.15c0-.17.07-.35.11-.52a9.73,9.73,0,0,0-.31-1.4,3.76,3.76,0,0,1,.2-.46,1,1,0,0,1-.41-.31c.25-.11.21-.17-.1-.21.35-.12.38-.29.1-.52.38-.09.35-.16-.1-.21.11-.08.11-.16,0-.26A17,17,0,0,1,28.49,96.14Z')
                                                    path.cls-36(d='M57.91,95.94a22.4,22.4,0,0,1,7.36,12.9c0,.12-.07.24-.1.36L57.71,113l-.21-.21c1.17-.69,2.36-1.39,3.57-2.07a6.84,6.84,0,0,0-.77-1.86,6.07,6.07,0,0,0-.94.41c.17-.24.1-.39-.2-.46a.53.53,0,0,0,.2-.16,1,1,0,0,1,0-.67l-.2-.21a.57.57,0,0,0-.11-.73c.22-.26.15-.46-.2-.62a.39.39,0,0,0,.2-.2,1.74,1.74,0,0,1-.1-.73l.21-.1a.51.51,0,0,1-.26-.26c0-.25,0-.47.05-.68a1,1,0,0,0-.31-.51l.31-.11a.79.79,0,0,1-.31-.2q.42-.1,0-.21a5.31,5.31,0,0,0,.1-.68.54.54,0,0,0-.31-.46.49.49,0,0,1,.21-.31.54.54,0,0,1-.21-.16c.14-.1.14-.2,0-.31a.51.51,0,0,1,.21-.15c-.35-.12-.39-.29-.1-.52a.36.36,0,0,1-.21-.21.57.57,0,0,0-.21-.83.4.4,0,0,0,0-.67.35.35,0,0,0-.1-.57,2.23,2.23,0,0,0,0-1.09.39.39,0,0,0-.21-.26l.21-.1a4,4,0,0,1-.21-.47A3.91,3.91,0,0,1,57.91,95.94Z')
                                                    path.cls-37(d='M25.18,99.87c.11.1.11.18,0,.26.45.05.48.12.1.21.28.23.25.4-.1.52.31,0,.35.1.1.21a1,1,0,0,0,.41.31,3.76,3.76,0,0,0-.2.46,9.73,9.73,0,0,1,.31,1.4c0,.17-.07.35-.11.52a.43.43,0,0,0,.21.15,18.07,18.07,0,0,0-2.64,8.71,7.84,7.84,0,0,1-2-1,1.31,1.31,0,0,1,.21-.36l-.21-.11c.19-.22.19-.41,0-.56A19.43,19.43,0,0,1,25.18,99.87Z')
                                                    path.cls-38(d='M57.5,112.82q-7.81,4.23-15.54,8.6c-.56-1.22-1.12-2.44-1.66-3.67a.82.82,0,0,1,.52-.42q8.31-3.56,16.58-7.2l2-.83a6.07,6.07,0,0,1,.94-.41,6.84,6.84,0,0,1,.77,1.86C59.86,111.43,58.67,112.13,57.5,112.82Z')
                                    h3.vc_custom_heading(style='text-align: center') This is custom heading element
                        .wpb_column.vc_column_container.vc_col-sm-4.vc_col-lg-4.vc_col-md-4.vc_col-xs-12
                            .vc_column-inner
                                .wpb_wrapper
                                    .wpb_raw_code.wpb_content_element.wpb_raw_html
                                        .wpb_wrapper
                                            svg(xmlns='http://www.w3.org/2000/svg' viewBox='0 0 230 147.12')
                                                defs
                                                    style.
                                                        .stay-compliant .cls-1,.stay-compliant .cls-6 {fill: #0b223d;}.stay-compliant .cls-1,.stay-compliant .cls-10,.stay-compliant .cls-11,.stay-compliant .cls-12,.stay-compliant .cls-13,.stay-compliant .cls-14,.stay-compliant .cls-15,.stay-compliant .cls-16,.stay-compliant .cls-17,.stay-compliant .cls-18,.stay-compliant .cls-19,.stay-compliant .cls-2,.stay-compliant .cls-20,.stay-compliant .cls-21,.stay-compliant .cls-22,.stay-compliant .cls-23,.stay-compliant .cls-24,.stay-compliant .cls-25,.stay-compliant .cls-26,.stay-compliant .cls-27,.stay-compliant .cls-28,.stay-compliant .cls-29,.stay-compliant .cls-3,.stay-compliant .cls-30,.stay-compliant .cls-31,.stay-compliant .cls-32,.stay-compliant .cls-33,.stay-compliant .cls-34,.stay-compliant .cls-35,.stay-compliant .cls-36,.stay-compliant .cls-37,.stay-compliant .cls-38,.stay-compliant .cls-39,.stay-compliant .cls-4,.stay-compliant .cls-40,.stay-compliant .cls-41,.stay-compliant .cls-42,.stay-compliant .cls-43,.stay-compliant .cls-44,.stay-compliant .cls-45,.stay-compliant .cls-46,.stay-compliant .cls-47,.stay-compliant .cls-48,.stay-compliant .cls-49,.stay-compliant .cls-5,.stay-compliant .cls-50,.stay-compliant .cls-51,.stay-compliant .cls-52,.stay-compliant .cls-53,.stay-compliant .cls-54,.stay-compliant .cls-6,.stay-compliant .cls-7,.stay-compliant .cls-8,.stay-compliant .cls-9 {fill-rule: evenodd;}.stay-compliant .cls-1 {isolation: isolate;opacity: 1;}.stay-compliant .cls-2 {fill: #0c2442;}.stay-compliant .cls-3 {fill: #102b50;}.stay-compliant .cls-4 {fill: #3663ac;}.stay-compliant .cls-5 {fill: #14325b;}.stay-compliant .cls-7 {fill: #193968;}.stay-compliant .cls-8 {fill: #1e4175;}.stay-compliant .cls-9 {fill: #15325d;}.stay-compliant .cls-10 {fill: #244982;}.stay-compliant .cls-11 {fill: #2b5392;}.stay-compliant .cls-12 {fill: #29518f;}.stay-compliant .cls-13 {fill: #3360a7;}.stay-compliant .cls-14 {fill: #2f5a9e;}.stay-compliant .cls-15 {fill: #279de1;}.stay-compliant .cls-16 {fill: #279ce0;}.stay-compliant .cls-17 {fill: #3563ac;}.stay-compliant .cls-18 {fill: #fefefe;}.stay-compliant .cls-19 {fill: #b5c5e1;}.stay-compliant .cls-20 {fill: #0b223e;}.stay-compliant .cls-21 {fill: #aab6c8;}.stay-compliant .cls-22 {fill: #0e2f4e;}.stay-compliant .cls-23 {fill: #0e2440;}.stay-compliant .cls-24 {fill: #113d61;}.stay-compliant .cls-25 {fill: #144c75;}.stay-compliant .cls-26 {fill: #154e78;}.stay-compliant .cls-27 {fill: #185c8a;}.stay-compliant .cls-28 {fill: #1a6495;}.stay-compliant .cls-29 {fill: #1d73a9;}.stay-compliant .cls-30 {fill: #1b6a9d;}.stay-compliant .cls-31 {fill: #1f7ab2;}.stay-compliant .cls-32 {fill: #2491d2;}.stay-compliant .cls-33 {fill: #ebeef2;}.stay-compliant .cls-34 {fill: #dee3ea;}.stay-compliant .cls-35 {fill: #cfd6e1;}.stay-compliant .cls-36 {fill: #bfc9d6;}.stay-compliant .cls-37 {fill: #b3bece;}.stay-compliant .cls-38 {fill: #a6b3c5;}.stay-compliant .cls-39 {fill: #99a7bd;}.stay-compliant .cls-40 {fill: #8d9db5;}.stay-compliant .cls-41 {fill: #8193ac;}.stay-compliant .cls-42 {fill: #7487a3;}.stay-compliant .cls-43 {fill: #687c9a;}.stay-compliant .cls-44 {fill: #5c7291;}.stay-compliant .cls-45 {fill: #546b8b;}.stay-compliant .cls-46 {fill: #496182;}.stay-compliant .cls-47 {fill: #152e4e;}.stay-compliant .cls-48 {fill: #41597b;}.stay-compliant .cls-49 {fill: #3a5375;}.stay-compliant .cls-50 {fill: #193354;}.stay-compliant .cls-51 {fill: #334d6f;}.stay-compliant .cls-52 {fill: #294365;}.stay-compliant .cls-53 {fill: #20395b;}.stay-compliant .cls-54 {fill: #102948;}
                                                g.stay-compliant
                                                    path.cls-1(d='M107,0h7.67q31.78,2.27,52.58,26.21a73.89,73.89,0,0,1,12.07,20.31q26.49.55,41.91,21.86A51.24,51.24,0,0,1,230,93.66v6.42q-2,23.13-20.31,37.25A51.08,51.08,0,0,1,183,147.12H42.06A45.64,45.64,0,0,1,8.75,128.88,45.91,45.91,0,0,1,0,105.05v-6A45.59,45.59,0,0,1,18.23,65.74,46.22,46.22,0,0,1,39,57.29Q47.07,24.77,76.25,8.55A74.43,74.43,0,0,1,107,0Z')
                                                    path.cls-2(d='M114.59,14.71a9.72,9.72,0,0,1-1,.47l.21.21c-.12.07-.12.16,0,.25A60,60,0,0,0,96.2,17.3l-.11-.1a3.26,3.26,0,0,1-.72.31h-.73c-.23-.29-.18-.36.16-.21a.77.77,0,0,1,.52-.41l-.06-.11c-.26.25-.49.23-.67-.05A53.35,53.35,0,0,1,114.59,14.71Z')
                                                    path.cls-3(d='M114.59,14.71a53.64,53.64,0,0,1,10.46,1.66c-.06.32-.17.35-.31.1-.13,0-.13.09,0,.16-.36,0-.39.12-.1.31a.58.58,0,0,0-.21.26,68.8,68.8,0,0,0-10.67-1.56c-.12-.09-.12-.18,0-.25l-.21-.21A9.72,9.72,0,0,0,114.59,14.71Z')
                                                    path.cls-4(d='M61.44,74.91l-.52-.21a.13.13,0,0,0-.1-.11,23.73,23.73,0,0,0,0,4.46,48.75,48.75,0,0,0,1.29,9.32,12.11,12.11,0,0,1,1.4,1.56.15.15,0,0,0-.1.15,48.58,48.58,0,0,0,4.92,11.45.3.3,0,0,0,0-.21,11.15,11.15,0,0,1,.21,2.59,51.81,51.81,0,0,1-7.93-33.56A51.22,51.22,0,0,1,80.14,35.43c1.21,2.19,2.46,4.37,3.73,6.53Q85.75,33,87.34,24q-8.22-2.59-16.42-5.29l-.16.11,3.94,7q-24.09,18.89-25,49.68a62.51,62.51,0,0,0,13.73,39.63q.72.86,1.5,1.65a2.21,2.21,0,0,1-.62.94A63.38,63.38,0,0,1,49,82.36a2.06,2.06,0,0,0-.1-.93,84.53,84.53,0,0,1-.1-9.94A63.75,63.75,0,0,1,69.1,29.27c1.37-1.2,2.77-2.35,4.2-3.47a.25.25,0,0,0,0-.31q-2.37-4.27-4.82-8.5l.11-.1q10,3.28,20,6.42Q86.53,34.2,84.39,45.07q-2.23-4.05-4.62-8a50.28,50.28,0,0,0-18.18,34.4Q61.46,73.19,61.44,74.91Z')
                                                    path.cls-5(d='M125.05,16.37A55,55,0,0,1,135.2,20q-.37.12,0,.36a.33.33,0,0,0-.1.41.34.34,0,0,0-.21.16,78,78,0,0,0-10.46-3.73.58.58,0,0,1,.21-.26c-.29-.19-.26-.29.1-.31-.13-.07-.13-.12,0-.16C124.88,16.72,125,16.69,125.05,16.37Z')
                                                    path.cls-6(d='M68.59,103.91a21.92,21.92,0,0,1-3.63,13q-.78-.8-1.5-1.65A62.51,62.51,0,0,1,49.73,75.58q.89-30.79,25-49.68l-3.94-7,.16-.11q8.19,2.7,16.42,5.29Q85.75,33,83.87,42c-1.27-2.16-2.52-4.34-3.73-6.53A51.22,51.22,0,0,0,60.66,70.35,51.81,51.81,0,0,0,68.59,103.91Z')
                                                    path.cls-7(d='M135.2,20a54.3,54.3,0,0,1,7.88,4.35,1.36,1.36,0,0,1-.37.1,1.35,1.35,0,0,1-.26.73,57,57,0,0,0-7.56-4.25.34.34,0,0,1,.21-.16.33.33,0,0,1,.1-.41Q134.82,20.12,135.2,20Z')
                                                    path.cls-3(d='M112.72,24.55a49,49,0,0,1,8.39,1.14.66.66,0,0,0-.72.37.26.26,0,0,0,.31-.06.22.22,0,0,1,0,.32c-.19-.12-.27-.05-.26.2a62.91,62.91,0,0,0-8-.93c-1.15-.09-2.33-.14-3.52-.16.12-.1.08-.17-.1-.2a.28.28,0,0,1,.36.05.21.21,0,0,0,0-.31c-.12.11-.22.11-.31,0a2.57,2.57,0,0,0,.62-.36C110.58,24.55,111.65,24.54,112.72,24.55Z')
                                                    path.cls-2(d='M112.72,24.55c-1.07,0-2.14,0-3.21.06a2.57,2.57,0,0,1-.62.36c.09.11.19.11.31,0a.21.21,0,0,1,0,.31.28.28,0,0,0-.36-.05c.18,0,.22.1.1.2,1.19,0,2.37.07,3.52.16a50.34,50.34,0,0,0-23.26,4.66l-.15-.05a.43.43,0,0,0-.1-.62c.17,0,.24-.13.2-.26a2,2,0,0,1,.37.21.29.29,0,0,0-.06-.37A42.6,42.6,0,0,1,100,25.54,50.57,50.57,0,0,1,112.72,24.55Z')
                                                    path.cls-8(d='M143.08,24.35A41.27,41.27,0,0,1,149,28.8c-.3.07-.33.16-.1.26a.84.84,0,0,1-.42.21q.42.11,0,.21a.27.27,0,0,1,.11.25,61.8,61.8,0,0,0-6.12-4.55,1.35,1.35,0,0,0,.26-.73A1.36,1.36,0,0,0,143.08,24.35Z')
                                                    path.cls-9(d='M121.11,25.69a44.05,44.05,0,0,1,10.16,3.42c-.18.27-.35.55-.52.83a60,60,0,0,0-10.26-3.42c0-.25.07-.32.26-.2a.22.22,0,0,0,0-.32.26.26,0,0,1-.31.06A.66.66,0,0,1,121.11,25.69Z')
                                                    path.cls-7(d='M131.27,29.11a41.83,41.83,0,0,1,7.66,4.35,2.85,2.85,0,0,1-.62.83,60.21,60.21,0,0,0-7.56-4.35C130.92,29.66,131.09,29.38,131.27,29.11Z')
                                                    path.cls-10(d='M149,28.8A38.27,38.27,0,0,1,154.37,34a.53.53,0,0,1-.42.26.36.36,0,0,1,.11.16.65.65,0,0,0-.21.41,61.76,61.76,0,0,0-5.28-5.08.27.27,0,0,0-.11-.25q.42-.11,0-.21a.84.84,0,0,0,.42-.21C148.65,29,148.68,28.87,149,28.8Z')
                                                    path.cls-8(d='M138.93,33.46a37.48,37.48,0,0,1,5.7,4.67,1,1,0,0,0-.26.31c-.17-.09-.19,0-.05.15a3.35,3.35,0,0,0-.21.36,49.92,49.92,0,0,0-5.8-4.66A2.85,2.85,0,0,0,138.93,33.46Z')
                                                    path.cls-11(d='M154.37,34A56.36,56.36,0,0,1,161,42.37c-.23,0-.3.09-.21.26-.2.07-.24.17-.1.31a.49.49,0,0,0-.21.47,69.58,69.58,0,0,0-6.63-8.6.65.65,0,0,1,.21-.41.36.36,0,0,0-.11-.16A.53.53,0,0,0,154.37,34Z')
                                                    path.cls-10(d='M144.63,38.13a28.08,28.08,0,0,1,2.64,2.48A41.38,41.38,0,0,1,150,43.93a1.71,1.71,0,0,0-.73.36l.42.1a.34.34,0,0,0-.31.26,71.11,71.11,0,0,0-5.29-5.7,3.35,3.35,0,0,1,.21-.36c-.14-.19-.12-.24.05-.15A1,1,0,0,1,144.63,38.13Z')
                                                    path.cls-12(d='M150,43.93a44.5,44.5,0,0,1,5.28,8,2.52,2.52,0,0,0-.62.25c0,.17-.08.32-.1.47a76.15,76.15,0,0,0-5.18-8,.34.34,0,0,1,.31-.26l-.42-.1A1.71,1.71,0,0,1,150,43.93Z')
                                                    path.cls-13(d='M161,42.37a63.43,63.43,0,0,1,6.79,13.89.26.26,0,0,0,.26.2c-.42.12-.83.26-1.25.42a57.16,57.16,0,0,0-4.09-9.64l-2.23-3.83a.49.49,0,0,1,.21-.47c-.14-.14-.1-.24.1-.31C160.7,42.46,160.77,42.38,161,42.37Z')
                                                    path.cls-14(d='M155.3,51.91a48.19,48.19,0,0,1,3.52,8.23.21.21,0,0,0,.21.16,5.32,5.32,0,0,1-1,.62,61.76,61.76,0,0,0-3.42-8.29c0-.15.06-.3.1-.47A2.52,2.52,0,0,1,155.3,51.91Z')
                                                    path.cls-15(d='M150,124.22a.23.23,0,0,1,0-.21,6.94,6.94,0,0,0,.67-.51q15.1,15.12,36.26,11.44,19.26-4.5,27.93-22.22a41,41,0,0,0,1.14-31.08A40,40,0,0,0,191.72,58q-19.09-6-35.49,5.33a40.78,40.78,0,0,0-13.15,16.42.34.34,0,0,1-.42.06q-3.37-1.58-6.84-2.9,4.47,8.1,9,16.16,6.36-2.3,12.74-4.61c.06,0,.09,0,.1.1-.1.35-.2.69-.31,1l-6.11,2.28a7.89,7.89,0,0,0-1,.41c-1.92.67-3.84,1.37-5.75,2.07a1,1,0,0,1-.32-.31c-1.13-2.09-2.28-4.16-3.47-6.21a5.64,5.64,0,0,0-.51-.94q-3.36-6.17-6.84-12.27,4.59,1.95,9.22,3.88A39.74,39.74,0,0,1,158,60.92a5.32,5.32,0,0,0,1-.62,36.86,36.86,0,0,1,7.77-3.42c.42-.16.83-.3,1.25-.42q19.08-5,35.12,6.38Q219,75.2,219.64,95.42q-.25,20-15.54,32.69-16.2,12.19-35.95,7.14A40.87,40.87,0,0,1,150,124.22Z')
                                                    path.cls-6(d='M150.74,123.5q2-1.78,3.89-3.73c1.21-1.34,2.41-2.69,3.57-4q10.68,11.07,26,8.75,16.23-3.49,22.12-19,4.75-15-4.56-27.66a28.58,28.58,0,0,0-46.93,2.48,27.2,27.2,0,0,0-2,4L158,86.51a3.24,3.24,0,0,1-.42,2q-6.37,2.33-12.74,4.61-4.54-8.06-9-16.16,3.47,1.32,6.84,2.9a.34.34,0,0,0,.42-.06,40.78,40.78,0,0,1,13.15-16.42Q172.64,52,191.72,58a40,40,0,0,1,24.35,23.62,41,41,0,0,1-1.14,31.08q-8.67,17.73-27.93,22.22Q165.83,138.61,150.74,123.5Z')
                                                    path.cls-16(d='M158.2,115.73a2.86,2.86,0,0,1,.62-.83q10.86,11.25,26.32,8.34a27.93,27.93,0,0,0,19.43-16.11,28.61,28.61,0,0,0-.94-24.56q-8.1-14.1-24.45-14.81a28,28,0,0,0-7.51,1c-.07-.16-.14-.33-.21-.52A30.71,30.71,0,0,0,159.29,75a11.68,11.68,0,0,1-.15,1.45,26.47,26.47,0,0,0-4.87,7.15.56.56,0,0,0,.41.36c1.17.51,2.35,1,3.52,1.5a.89.89,0,0,1-.2,1l-5.18-2.18a27.2,27.2,0,0,1,2-4,28.58,28.58,0,0,1,46.93-2.48q9.31,12.63,4.56,27.66-5.9,15.51-22.12,19Q168.88,126.81,158.2,115.73Z')
                                                    path.cls-6(d='M158.82,114.9a64.67,64.67,0,0,0,12.85-46.11,28,28,0,0,1,7.51-1q16.35.7,24.45,14.81a28.61,28.61,0,0,1,.94,24.56,27.93,27.93,0,0,1-19.43,16.11Q169.68,126.15,158.82,114.9Z')
                                                    path.cls-17(d='M171.67,68.79a64.67,64.67,0,0,1-12.85,46.11,2.86,2.86,0,0,0-.62.83c-1.16,1.35-2.36,2.7-3.57,4s-2.55,2.54-3.89,3.73a6.94,6.94,0,0,1-.67.51.23.23,0,0,0,0,.21Q128.32,142,100.39,138.05a62.24,62.24,0,0,1-28.18-12.64.17.17,0,0,1,0-.26,2.6,2.6,0,0,0,.57-.67.54.54,0,0,0-.21-.16A36.31,36.31,0,0,0,77.7,113,47,47,0,0,0,100,124.79q22.22,4.38,40.2-9.22a19.85,19.85,0,0,0,2.27-2,1.25,1.25,0,0,0,.73-.73,32.65,32.65,0,0,0,4.09-4.14c1.31-1.61,2.53-3.27,3.68-5a12.44,12.44,0,0,0,.93-1.35,49.15,49.15,0,0,0,5.49-12.74c.11-.35.21-.69.31-1,0-.06,0-.1-.1-.1a3.24,3.24,0,0,0,.42-2,.89.89,0,0,0,.2-1,.57.57,0,0,0,.26-.52,41.88,41.88,0,0,0,.68-8.49,11.68,11.68,0,0,0,.15-1.45,30.71,30.71,0,0,1,12.17-6.74C171.53,68.46,171.6,68.63,171.67,68.79Z')
                                                    path.cls-6(d='M170.22,69.73a.45.45,0,0,1,.47.2q2.16,27.55-16,48.18-20,21.15-49.16,19.53a59.53,59.53,0,0,1-32.68-13.11,12,12,0,0,1,1.34-2.17,43.17,43.17,0,0,0,3.58-7.67q18.78,15.77,43,11.14a50.37,50.37,0,0,0,32.38-23.57,53.17,53.17,0,0,0,7.15-26.84A30,30,0,0,1,170.22,69.73Z')
                                                    path.cls-18(d='M48.8,71.49a84.53,84.53,0,0,0,.1,9.94v.83h-.72a22.79,22.79,0,0,0-19.53,9.22,22.43,22.43,0,0,0-3,20.83.44.44,0,0,1-.1.36.51.51,0,0,1,.21.15q-3.91,3.87-7.77,7.72a3.15,3.15,0,0,1-.52-.05,33,33,0,0,1,17.82-47A34.29,34.29,0,0,1,48.8,71.49Z')
                                                    path.cls-18(d='M60.92,74.7l.52.21A32.94,32.94,0,0,1,78,97,37,37,0,0,1,77.7,113a36.31,36.31,0,0,1-5.18,11.29c-.82,1.05-1.66,2.09-2.54,3.11-1.09,1.13-2.22,2.22-3.36,3.27,1.22,2.32,2.48,4.61,3.78,6.89.07.08,0,.15-.05.2q-8-3.15-16.06-6.27a.55.55,0,0,1-.42-.36,1.88,1.88,0,0,0,.11-.62,21.19,21.19,0,0,0,.72-2.9c.19-.72.36-1.44.52-2.18.85-3.58,1.73-7.18,2.64-10.77q1.76,3.24,3.58,6.42a13.47,13.47,0,0,0,2.9-3.31,2.21,2.21,0,0,0,.62-.94,21.92,21.92,0,0,0,3.63-13,11.15,11.15,0,0,0-.21-2.59,22.29,22.29,0,0,0-4.87-11.39,12.11,12.11,0,0,0-1.4-1.56,48.75,48.75,0,0,1-1.29-9.32C60.78,77.58,60.82,76.13,60.92,74.7Z')
                                                    path.cls-19(d='M60.92,74.7c-.1,1.43-.14,2.88-.1,4.35a23.73,23.73,0,0,1,0-4.46A.13.13,0,0,1,60.92,74.7Z')
                                                    path.cls-20(d='M159.14,76.46a41.88,41.88,0,0,1-.68,8.49.57.57,0,0,1-.26.52c-1.17-.49-2.35-1-3.52-1.5a.56.56,0,0,1-.41-.36A26.47,26.47,0,0,1,159.14,76.46Z')
                                                    path.cls-6(d='M48.18,82.26a1.61,1.61,0,0,0,.82.1A63.38,63.38,0,0,0,64.34,117.8a13.47,13.47,0,0,1-2.9,3.31q-1.83-3.18-3.58-6.42c-.91,3.59-1.79,7.19-2.64,10.77a17.56,17.56,0,0,1-2.07.73,22.71,22.71,0,0,1-2.9.62l-2.9.21a17.76,17.76,0,0,1-3.42-.21l-1.87-.31c-.42-.08-.83-.19-1.24-.31l-1-.31a14.19,14.19,0,0,1-2.07-.83,3.82,3.82,0,0,1-.72-.31l-1.56-.83L34,123l-1.24-.93a5.58,5.58,0,0,0-1-.83,7.23,7.23,0,0,0-1-1,3.61,3.61,0,0,0-.73-.73,6.74,6.74,0,0,0-.93-1.13l-.73-1a4.15,4.15,0,0,0-.51-.73c-.32-.55-.63-1.1-.94-1.65a3.73,3.73,0,0,0-.51-1,15.21,15.21,0,0,0-.63-1.55,22.43,22.43,0,0,1,3-20.83A22.79,22.79,0,0,1,48.18,82.26Z')
                                                    path.cls-21(d='M48.9,81.43a2.06,2.06,0,0,1,.1.93,1.61,1.61,0,0,1-.82-.1h.72Z')
                                                    path.cls-6(d='M140.69,87.86c1.19,2,2.34,4.12,3.47,6.21a1,1,0,0,0,.32.31c1.91-.7,3.83-1.4,5.75-2.07a27.46,27.46,0,0,0-.11,5.28,15.67,15.67,0,0,0,.42,3.63,23.08,23.08,0,0,0,.41,2.49c-1.15,1.7-2.37,3.36-3.68,5a32.65,32.65,0,0,1-4.09,4.14,46.69,46.69,0,0,1-1.76-5.28,23.31,23.31,0,0,1-.83-3.63c-.17-1-.31-1.93-.41-2.9a21.46,21.46,0,0,1-.21-2.28c-.09-1.69-.12-3.38-.11-5.07a14.64,14.64,0,0,0,.21-2.39A23.23,23.23,0,0,1,140.69,87.86Z')
                                                    path.cls-22(d='M140.18,86.92a5.64,5.64,0,0,1,.51.94,23.23,23.23,0,0,0-.62,3.41.71.71,0,0,0-.1-.51,1.44,1.44,0,0,1-.83.1,23.26,23.26,0,0,1,.57-3.52l.1.1c0-.31.11-.35.21-.1A.47.47,0,0,0,140.18,86.92Z')
                                                    path.cls-6(d='M157.37,89.62a49.15,49.15,0,0,1-5.49,12.74.25.25,0,0,1-.15-.1c-.1-.49-.19-1-.26-1.45a39.65,39.65,0,0,1-.42-6.53,11.84,11.84,0,0,0,.21-2.38Z')
                                                    path.cls-23(d='M63.51,89.93a22.29,22.29,0,0,1,4.87,11.39.3.3,0,0,1,0,.21,48.58,48.58,0,0,1-4.92-11.45A.15.15,0,0,1,63.51,89.93Z')
                                                    path.cls-24(d='M140.07,91.27a14.64,14.64,0,0,1-.21,2.39.36.36,0,0,0-.36.31c-.07-.14-.14-.28-.2-.42,0,.25-.1.32-.26.21q-.1.49-.21.93a32.77,32.77,0,0,1,.31-3.83,1.44,1.44,0,0,0,.83-.1A.71.71,0,0,1,140.07,91.27Z')
                                                    path.cls-25(d='M151.26,91.9a11.84,11.84,0,0,1-.21,2.38,1.46,1.46,0,0,0-.77.21l-.11-.11c0,1.07-.07,2.14,0,3.21a27.46,27.46,0,0,1,.11-5.28A7.89,7.89,0,0,1,151.26,91.9Z')
                                                    path.cls-26(d='M139.86,93.66c0,1.69,0,3.38.11,5.07a3.93,3.93,0,0,1-.16-.93,4.74,4.74,0,0,1-.88.21v.31a31.19,31.19,0,0,1-.1-3.63q.1-.43.21-.93c.16.11.25,0,.26-.21.06.14.13.28.2.42A.36.36,0,0,1,139.86,93.66Z')
                                                    path.cls-27(d='M140,98.73a21.46,21.46,0,0,0,.21,2.28,1.39,1.39,0,0,0-.37-.51,1.1,1.1,0,0,1-.51,0,1,1,0,0,0-.16.62c-.11-.92-.18-1.85-.21-2.8V98a4.74,4.74,0,0,0,.88-.21A3.93,3.93,0,0,0,140,98.73Z')
                                                    path.cls-28(d='M151.05,94.28a39.65,39.65,0,0,0,.42,6.53.29.29,0,0,1-.26-.11l-.1.21a1.37,1.37,0,0,0-.57,0v.31a15.67,15.67,0,0,1-.42-3.63c0-1.07,0-2.14,0-3.21l.11.11A1.46,1.46,0,0,1,151.05,94.28Z')
                                                    path.cls-29(d='M151.47,100.81c.07.48.16,1,.26,1.45a.25.25,0,0,0,.15.1,12.44,12.44,0,0,1-.93,1.35,23.08,23.08,0,0,1-.41-2.49v-.31a1.37,1.37,0,0,1,.57,0l.1-.21A.29.29,0,0,0,151.47,100.81Z')
                                                    path.cls-30(d='M140.18,101c.1,1,.24,1.94.41,2.9a.58.58,0,0,1-.16-.31q-.23-.06-.36.21h-.52c-.18-.89-.32-1.79-.41-2.69a1,1,0,0,1,.16-.62,1.1,1.1,0,0,0,.51,0A1.39,1.39,0,0,1,140.18,101Z')
                                                    path.cls-31(d='M140.59,103.91a23.31,23.31,0,0,0,.83,3.63.36.36,0,0,0-.47.1,1.81,1.81,0,0,0-.57,0,31.74,31.74,0,0,1-.83-3.83h.52q.13-.27.36-.21A.58.58,0,0,0,140.59,103.91Z')
                                                    path.cls-32(d='M141.42,107.54a46.69,46.69,0,0,0,1.76,5.28,1.25,1.25,0,0,1-.73.73,37.59,37.59,0,0,1-2.07-5.91,1.81,1.81,0,0,1,.57,0A.36.36,0,0,1,141.42,107.54Z')
                                                    path.cls-33(d='M25.69,112.31a15.21,15.21,0,0,1,.63,1.55,3.57,3.57,0,0,1-.63.83l-7.35,7.15a13.19,13.19,0,0,1-.83-1.35,3.15,3.15,0,0,0,.52.05q3.86-3.86,7.77-7.72a.51.51,0,0,0-.21-.15A.44.44,0,0,0,25.69,112.31Z')
                                                    path.cls-34(d='M26.32,113.86a3.73,3.73,0,0,1,.51,1,1.6,1.6,0,0,1-.2.51q-3.51,3.42-6.95,6.89a1.74,1.74,0,0,1-.72.47,6.54,6.54,0,0,1-.62-.93l7.35-7.15A3.57,3.57,0,0,0,26.32,113.86Z')
                                                    path.cls-35(d='M26.83,114.9c.31.55.62,1.1.94,1.65a.54.54,0,0,1-.06.31l-5.33,5.24.1.1-.31.1a18.75,18.75,0,0,1-2.17,2,16.12,16.12,0,0,1-1-1.55,1.74,1.74,0,0,0,.72-.47q3.45-3.47,7-6.89A1.6,1.6,0,0,0,26.83,114.9Z')
                                                    path.cls-36(d='M27.77,116.55a4.15,4.15,0,0,1,.51.73,2.56,2.56,0,0,1-.41.47l.1.1q-3.6,3.68-7.35,7.2l-.62-.73a18.75,18.75,0,0,0,2.17-2l.31-.1-.1-.1,5.33-5.24A.54.54,0,0,0,27.77,116.55Z')
                                                    path.cls-37(d='M28.28,117.28l.73,1a2.2,2.2,0,0,1-1.09,1.24A81.23,81.23,0,0,1,21.34,126a4.63,4.63,0,0,1-.72-.93q3.75-3.52,7.35-7.2l-.1-.1A2.56,2.56,0,0,0,28.28,117.28Z')
                                                    path.cls-38(d='M29,118.32a6.74,6.74,0,0,1,.93,1.13.52.52,0,0,1-.1.42q-3.37,3.27-6.58,6.53l-.1-.31c-.35.26-.68.54-1,.82l-.83-.93a81.23,81.23,0,0,0,6.58-6.42A2.2,2.2,0,0,0,29,118.32Z')
                                                    path.cls-39(d='M29.94,119.45a3.61,3.61,0,0,1,.73.73,1.24,1.24,0,0,1-.21.52q-3.5,3.4-6.94,6.89a5.08,5.08,0,0,1-.52.15,4.35,4.35,0,0,1-.83-.83c.31-.28.64-.56,1-.82l.1.31q3.21-3.25,6.58-6.53A.52.52,0,0,0,29.94,119.45Z')
                                                    path.cls-40(d='M30.67,120.18a7.23,7.23,0,0,1,1,1Q28.07,125,24,128.78a7.3,7.3,0,0,1-1-1,5.08,5.08,0,0,0,.52-.15q3.45-3.48,6.94-6.89A1.24,1.24,0,0,0,30.67,120.18Z')
                                                    path.cls-41(d='M31.7,121.22a5.58,5.58,0,0,1,1,.83,14.2,14.2,0,0,1-2,2.07.3.3,0,0,0-.1.31,11.59,11.59,0,0,0-1.14.88l.1.1q-1.74,1.61-3.42,3.27a.32.32,0,0,0-.1.31,7.41,7.41,0,0,0-1,.72,4.8,4.8,0,0,1-1-.93Q28.08,125,31.7,121.22Z')
                                                    path.cls-42(d='M32.74,122.05,34,123a10.65,10.65,0,0,1-2.38,2.59q-1.86,2-3.83,3.78l.1.1a7.17,7.17,0,0,0-1.14,1,.88.88,0,0,1-.52.15,7.24,7.24,0,0,1-1.14-.93,7.41,7.41,0,0,1,1-.72.32.32,0,0,1,.1-.31q1.68-1.67,3.42-3.27l-.1-.1a11.59,11.59,0,0,1,1.14-.88.3.3,0,0,1,.1-.31A14.2,14.2,0,0,0,32.74,122.05Z')
                                                    path.cls-43(d='M34,123l1.45.93c-.4.44-.79.88-1.19,1.35l-.1-.11a1.09,1.09,0,0,1-.68.68l.11.1q-3.08,3-5.91,5.75a8.72,8.72,0,0,1-1.45-1,.88.88,0,0,0,.52-.15,7.17,7.17,0,0,1,1.14-1l-.1-.1q2-1.8,3.83-3.78A10.65,10.65,0,0,0,34,123Z')
                                                    path.cls-44(d='M35.43,123.91l1.56.83c-.88.89-1.78,1.75-2.7,2.59a4.35,4.35,0,0,1-1.24,1.29c-1.29,1.31-2.63,2.64-4,4a9,9,0,0,1-1.35-.93q2.84-2.77,5.91-5.75l-.11-.1a1.09,1.09,0,0,0,.68-.68l.1.11C34.64,124.79,35,124.35,35.43,123.91Z')
                                                    path.cls-45(d='M37,124.74a3.82,3.82,0,0,0,.72.31A3.61,3.61,0,0,1,37,126l-2.28,2.28c-.1-.12-.18-.1-.26.05l.1.11q-1.77,1.59-3.42,3.36A11.4,11.4,0,0,1,29.73,133a3.23,3.23,0,0,1-.72-.42c1.41-1.35,2.75-2.68,4-4a4.35,4.35,0,0,0,1.24-1.29C35.21,126.49,36.11,125.63,37,124.74Z')
                                                    path.cls-46(d='M37.71,125.05a14.19,14.19,0,0,0,2.07.83c-.56.51-1.11,1.05-1.65,1.6l-.31.11.1.1a1.2,1.2,0,0,1-.62.57.34.34,0,0,0-.11.31.55.55,0,0,0-.31.05,1.81,1.81,0,0,1-.46.57l-.11-.1a3.24,3.24,0,0,1-.83,1.14,2,2,0,0,0-.1-.21.55.55,0,0,1-.57.52.32.32,0,0,1-.21.36l.11.11a.91.91,0,0,1-.42.2l.11.11-.42.2.11.11c-.57.45-1.13.91-1.66,1.4-.29.34-.56.69-.83,1a12.54,12.54,0,0,1-1.87-1,11.4,11.4,0,0,0,1.45-1.25q1.65-1.77,3.42-3.36l-.1-.11c.08-.15.16-.17.26-.05L37,126A3.61,3.61,0,0,0,37.71,125.05Z')
                                                    path.cls-47(d='M55.22,125.46c-.16.74-.33,1.46-.52,2.18a.5.5,0,0,0-.46.31l-.11-.1a.51.51,0,0,1-.26.26.33.33,0,0,1,.11.15,6.09,6.09,0,0,0-.83.57l.1.1a4.1,4.1,0,0,0-.93.78.39.39,0,0,1-.16-.1,1.51,1.51,0,0,0,0,.52.82.82,0,0,0-.41.05l.21.1a1.37,1.37,0,0,0-.68.36c-.12.26-.24.5-.36.73a1.46,1.46,0,0,0-1.09,1.14c0-.14-.07-.28-.1-.42a2.18,2.18,0,0,1-.21.52.31.31,0,0,0-.15-.1c-.18.29-.37.57-.57.83a.29.29,0,0,0-.37-.05l.21.1a23.48,23.48,0,0,1-2,1.92,4.62,4.62,0,0,1-.52.57c.09.17,0,.19-.15.05a1.61,1.61,0,0,1-.42.52l-.1-.11a.68.68,0,0,0-.36.57.27.27,0,0,1-.37.05.26.26,0,0,0,.06.31.77.77,0,0,1-.31.16l.1.1a4.16,4.16,0,0,1-.93.06,3.7,3.7,0,0,1-1.56-.21,2.77,2.77,0,0,1,.73-.47,2.6,2.6,0,0,1,.78-1l.1.1a9.61,9.61,0,0,1,2.07-2.17,2.66,2.66,0,0,0,.42-.63c.19.14.24.13.15,0a4.09,4.09,0,0,0,.47-.46l.1.1a1.79,1.79,0,0,1,.88-.88l-.1-.1a.54.54,0,0,0,.36-.26c.17.08.19,0,0-.16a1.51,1.51,0,0,0,.47-.47l.1.11a1.67,1.67,0,0,1,.88-.88l-.1-.11A4.38,4.38,0,0,0,50.61,129c.1.12.18.1.26-.06l-.1-.1a24.36,24.36,0,0,0,2.59-2.59.27.27,0,0,0-.21,0A17.56,17.56,0,0,0,55.22,125.46Z')
                                                    path.cls-48(d='M39.78,125.88l1,.31a6.11,6.11,0,0,1-1.45,1.5l.1.11a2.67,2.67,0,0,1-.52.2q-.2.1,0,.21-1.94,2-4.09,3.88a2.67,2.67,0,0,1-.2.52l-.11-.1a3.81,3.81,0,0,0-.72.83l-.11-.11c-.29.36-.58.73-.88,1.09a2.9,2.9,0,0,0-.41.16,2.41,2.41,0,0,1-.83-.42c.27-.34.54-.69.83-1,.53-.49,1.09-.95,1.66-1.4l-.11-.11.42-.2-.11-.11a.91.91,0,0,0,.42-.2l-.11-.11a.32.32,0,0,0,.21-.36.55.55,0,0,0,.57-.52,2,2,0,0,1,.1.21,3.24,3.24,0,0,0,.83-1.14l.11.1a1.81,1.81,0,0,0,.46-.57.55.55,0,0,1,.31-.05.34.34,0,0,1,.11-.31,1.2,1.2,0,0,0,.62-.57l-.1-.1.31-.11C38.67,126.93,39.22,126.39,39.78,125.88Z')
                                                    path.cls-49(d='M40.82,126.19c.41.12.82.23,1.24.31a3.71,3.71,0,0,1-1.24,1.3.94.94,0,0,1,.1.1c-.91.8-1.76,1.61-2.53,2.43l-.11-.1a3.46,3.46,0,0,1-.36.62,10.66,10.66,0,0,0-2.12,2.07c-.74.71-1.48,1.4-2.23,2.08a4.21,4.21,0,0,1-1.14-.52,2.9,2.9,0,0,1,.41-.16c.3-.36.59-.73.88-1.09l.11.11a3.81,3.81,0,0,1,.72-.83l.11.1a2.67,2.67,0,0,0,.2-.52Q37,130.23,39,128.21q-.2-.11,0-.21a2.67,2.67,0,0,0,.52-.2l-.1-.11A6.11,6.11,0,0,0,40.82,126.19Z')
                                                    path.cls-50(d='M53.15,126.19a.27.27,0,0,1,.21,0,24.36,24.36,0,0,1-2.59,2.59l.1.1c-.08.16-.16.18-.26.06a4.38,4.38,0,0,1-1.19,1.08l.1.11a1.67,1.67,0,0,0-.88.88l-.1-.11a1.51,1.51,0,0,1-.47.47c.14.19.12.24,0,.16a.54.54,0,0,1-.36.26l.1.1a1.79,1.79,0,0,0-.88.88l-.1-.1a4.09,4.09,0,0,1-.47.46c.09.18,0,.19-.15,0a2.66,2.66,0,0,1-.42.63A9.61,9.61,0,0,0,43.67,136l-.1-.1a2.6,2.6,0,0,0-.78,1,2.77,2.77,0,0,0-.73.47,4.67,4.67,0,0,1-1.86-.31,1.77,1.77,0,0,0,.41-.21,1.7,1.7,0,0,1,.57-.62c.85-.85,1.73-1.66,2.64-2.44a.94.94,0,0,0-.1-.1,2.21,2.21,0,0,0,.57-.57l.1.1a2.56,2.56,0,0,1,1.2-1.19l-.11-.1.31-.1-.1-.11a4.9,4.9,0,0,0,.72-.72l.32-.11-.11-.1a3.52,3.52,0,0,0,.83-.52c-.24-.1-.2-.19.1-.26l.83-.93a.77.77,0,0,1,.31-.16l-.1-.1c.8-.66,1.52-1.32,2.18-2a1.32,1.32,0,0,0-.52,0A22.71,22.71,0,0,0,53.15,126.19Z')
                                                    path.cls-51(d='M42.06,126.5l1.87.31a4.7,4.7,0,0,1-.78.93l-.1-.1a26.35,26.35,0,0,0-2.7,2.9.31.31,0,0,0-.15-.1.9.9,0,0,1-.47.41c0,.32-.1.35-.21.1a.46.46,0,0,1-.36.47l.11.1a2.67,2.67,0,0,0-.88.89l-.11-.11a2,2,0,0,1-1,.93.88.88,0,0,0-.06.42.48.48,0,0,0-.31,0,1.31,1.31,0,0,1-.52.47c-.39.41-.77.84-1.13,1.29a.87.87,0,0,1-.42,0,5.22,5.22,0,0,1-1.24-.51c.75-.68,1.49-1.37,2.23-2.08a10.66,10.66,0,0,1,2.12-2.07,3.46,3.46,0,0,0,.36-.62l.11.1c.77-.82,1.62-1.63,2.53-2.43a.94.94,0,0,0-.1-.1A3.71,3.71,0,0,0,42.06,126.5Z')
                                                    path.cls-52(d='M43.93,126.81a17.76,17.76,0,0,0,3.42.21,1.45,1.45,0,0,0-.31.62.47.47,0,0,0-.31,0l.1.11a2.39,2.39,0,0,0-.83.56,10.15,10.15,0,0,0-1.3,1.56.31.31,0,0,0-.15-.1,3.58,3.58,0,0,1-1.35,1.29l.21.1-2,1.66.11.11a17.21,17.21,0,0,1-2,1.76l.1.1a1.79,1.79,0,0,0-.88.88l-.1-.1a1,1,0,0,1-.68.57l.11.1a.89.89,0,0,1-.52.16,13.36,13.36,0,0,1-2.8-.94.87.87,0,0,0,.42,0c.36-.45.74-.88,1.13-1.29a1.31,1.31,0,0,0,.52-.47.48.48,0,0,1,.31,0,.88.88,0,0,1,.06-.42,2,2,0,0,0,1-.93l.11.11a2.67,2.67,0,0,1,.88-.89l-.11-.1a.46.46,0,0,0,.36-.47c.11.25.17.22.21-.1a.9.9,0,0,0,.47-.41.31.31,0,0,1,.15.1,26.35,26.35,0,0,1,2.7-2.9l.1.1A4.7,4.7,0,0,0,43.93,126.81Z')
                                                    path.cls-53(d='M50.25,126.81a1.32,1.32,0,0,1,.52,0c-.66.65-1.38,1.31-2.18,2l.1.1a.77.77,0,0,0-.31.16l-.83.93c-.3.07-.34.16-.1.26a3.52,3.52,0,0,1-.83.52l.11.1-.32.11a4.9,4.9,0,0,1-.72.72l.1.11-.31.1.11.1a2.56,2.56,0,0,0-1.2,1.19l-.1-.1a2.21,2.21,0,0,1-.57.57.94.94,0,0,1,.1.1c-.91.78-1.79,1.59-2.64,2.44a1.7,1.7,0,0,0-.57.62,1.77,1.77,0,0,1-.41.21,11.25,11.25,0,0,1-2.59-.62.89.89,0,0,0,.52-.16l-.11-.1a1,1,0,0,0,.68-.57l.1.1a1.79,1.79,0,0,1,.88-.88l-.1-.1a17.21,17.21,0,0,0,2-1.76l-.11-.11,2-1.66-.21-.1a3.58,3.58,0,0,0,1.35-1.29.31.31,0,0,1,.15.1,10.15,10.15,0,0,1,1.3-1.56,2.39,2.39,0,0,1,.83-.56l-.1-.11a.47.47,0,0,1,.31,0,1.45,1.45,0,0,1,.31-.62Z')
                                                    path.cls-54(d='M54.7,127.64a21.19,21.19,0,0,1-.72,2.9,2.59,2.59,0,0,1-.68.83l-.1-.1a1.85,1.85,0,0,0-.52.72l-.1-.1a4.12,4.12,0,0,0-.52.72.31.31,0,0,0-.15-.1,3,3,0,0,1-.37.62l-.1-.1-.93,1.14L50.4,134a4.15,4.15,0,0,1-1.5,1.5l.1.11-2.27,2.12a12,12,0,0,1-3.11-.1,4.16,4.16,0,0,0,.93-.06l-.1-.1a.77.77,0,0,0,.31-.16.26.26,0,0,1-.06-.31.27.27,0,0,0,.37-.05.68.68,0,0,1,.36-.57l.1.11a1.61,1.61,0,0,0,.42-.52c.19.14.24.12.15-.05a4.62,4.62,0,0,0,.52-.57,23.48,23.48,0,0,0,2-1.92l-.21-.1a.29.29,0,0,1,.37.05c.2-.26.39-.54.57-.83a.31.31,0,0,1,.15.1,2.18,2.18,0,0,0,.21-.52c0,.14.07.28.1.42a1.46,1.46,0,0,1,1.09-1.14c.12-.23.24-.47.36-.73a1.37,1.37,0,0,1,.68-.36l-.21-.1a.82.82,0,0,1,.41-.05,1.51,1.51,0,0,1,0-.52.39.39,0,0,0,.16.1,4.1,4.1,0,0,1,.93-.78l-.1-.1a6.09,6.09,0,0,1,.83-.57.33.33,0,0,0-.11-.15.51.51,0,0,0,.26-.26l.11.1A.5.5,0,0,1,54.7,127.64Z')
                                    h3.vc_custom_heading(style='text-align: center') Stay compliant
                        .wpb_column.vc_column_container.vc_col-sm-4.vc_col-lg-4.vc_col-md-4.vc_col-xs-12
                            .vc_column-inner
                                .wpb_wrapper
                                    .wpb_raw_code.wpb_content_element.wpb_raw_html
                                        .wpb_wrapper
                                            svg(xmlns='http://www.w3.org/2000/svg' viewBox='0 0 230 145.8')
                                                defs
                                                    style.
                                                        .stay-secure .cls-1,.stay-secure .cls-3 {fill: #0b223d;}.stay-secure .cls-1,.stay-secure .cls-10,.stay-secure .cls-11,.stay-secure .cls-12,.stay-secure .cls-13,.stay-secure .cls-2,.stay-secure .cls-3,.stay-secure .cls-4,.stay-secure .cls-5,.stay-secure .cls-6,.stay-secure .cls-7,.stay-secure .cls-8,.stay-secure .cls-9 {fill-rule: evenodd;}.stay-secure .cls-1,.stay-secure .cls-4,.stay-secure .cls-5 {isolation: isolate;}.stay-secure .cls-1 {opacity: 1;}.stay-secure .cls-2 {fill: #3563ab;}.stay-secure .cls-4 {fill: #279ee2;opacity: 0.99;}.stay-secure .cls-5 {fill: #279fe3;opacity: 0.96;}.stay-secure .cls-6 {fill: #3563ac;}.stay-secure .cls-7 {fill: #fefefe;}.stay-secure .cls-8 {fill: #0c223d;}.stay-secure .cls-9 {fill: #279de0;}.stay-secure .cls-10 {fill: #0c2541;}.stay-secure .cls-11 {fill: #3763ab;}.stay-secure .cls-12 {fill: #3663ac;}.stay-secure .cls-13 {fill: #3663ab;}
                                                g.stay-secure
                                                    path.cls-1(d='M108.12,0h7.6q31.5,2.24,52.11,26a73.16,73.16,0,0,1,12,20.12q26.25.57,41.53,21.67a50.67,50.67,0,0,1,8.68,25v6.37q-2,22.92-20.12,36.91a50.56,50.56,0,0,1-26.5,9.7H43.74Q22,143.77,9.5,126A44.76,44.76,0,0,1,27,61q3.43,11.68,6.88,23.41-12.55,7.35-13.14,22Q21.19,120.5,33.06,128a25.29,25.29,0,0,0,23.93.82,24.53,24.53,0,0,0,12-13l3.18,2.62c.47.35.95.68,1.44,1a5.71,5.71,0,0,0,3.49,2.46,48.38,48.38,0,0,0,6.88,3.8c-.66.32-1.35.61-2,.87q-4.5,2.76-2.21,7.55a5.34,5.34,0,0,0,5.9,2.31q7.19-2.9,14.38-5.7,27.21,3.79,48.67-13.14A39.89,39.89,0,0,0,176,131.89a40.38,40.38,0,0,0,30.19-10.27A38.45,38.45,0,0,0,203,62.17a40.07,40.07,0,0,0-34.4-6.31A61,61,0,0,0,96.72,12.68Q70.66,18.94,57,41.89a59.65,59.65,0,0,0-6.83,39.94,42.41,42.41,0,0,0-6.06-.46L44,81.22Q40.51,69.33,37.17,57.4c1.19-.19,2.37-.4,3.54-.62q7.51-30.6,34.35-46.87A73.52,73.52,0,0,1,108.12,0Z')
                                                    path.cls-2(d='M168.6,55.86a11.82,11.82,0,0,0-1.23.41A51.25,51.25,0,0,0,164,46.72a59.62,59.62,0,0,0-32.4-30.34,60.49,60.49,0,0,0-46.51,1.23Q61.3,28.91,52.93,53.91A59.43,59.43,0,0,0,51.24,82a8.54,8.54,0,0,1-1-.21A59.65,59.65,0,0,1,57,41.89q13.62-23,39.68-29.21A61,61,0,0,1,168.6,55.86Z')
                                                    path.cls-3(d='M167.37,56.27a43.83,43.83,0,0,0-7.91,3.39,51,51,0,0,0-23.92-32,52,52,0,0,0-39.33-5,51.18,51.18,0,0,0-31.27,24.8A50.51,50.51,0,0,0,61.3,86.76,26.22,26.22,0,0,0,51.24,82a59.43,59.43,0,0,1,1.69-28.13q8.37-25,32.19-36.3a60.49,60.49,0,0,1,46.51-1.23A59.62,59.62,0,0,1,164,46.72,51.25,51.25,0,0,1,167.37,56.27Z')
                                                    path.cls-4(d='M37.17,57.4Q40.5,69.32,44,81.22l.15.15a42.41,42.41,0,0,1,6.06.46,8.54,8.54,0,0,0,1,.21A26.22,26.22,0,0,1,61.3,86.76a14.08,14.08,0,0,0,1.54,1.34,25.7,25.7,0,0,1,7.6,13.65c.11.69.22,1.38.31,2.06a27.18,27.18,0,0,1-1.24,10.78q-.26.6-.51,1.23a24.53,24.53,0,0,1-12,13A25.29,25.29,0,0,1,33.06,128q-11.87-7.48-12.32-21.61.59-14.62,13.14-22Q30.45,72.69,27,61,21.14,40.72,15.35,20.43a5.39,5.39,0,0,1,4.26-6,5.53,5.53,0,0,1,6,3.13Z')
                                                    path.cls-3(d='M19.82,15.4a4.61,4.61,0,0,1,4.77,2.47Q34,50.21,43.33,82.55a24.6,24.6,0,0,1,21.1,8.73q8.64,11.39,3.39,24.75A24.12,24.12,0,0,1,49.9,130q-14.52,2-23.56-9.5A24,24,0,0,1,35.12,85Q25.75,52.86,16.48,20.64A4.49,4.49,0,0,1,19.82,15.4Z')
                                                    path.cls-5(d='M0,25.16V23.1a5.47,5.47,0,0,1,5.29-4.41,5.48,5.48,0,0,1,5.23,4q2.6,9.09,5.24,18.18a5.49,5.49,0,0,1-1.59,6,5.56,5.56,0,0,1-4.93,1,5.65,5.65,0,0,1-3.85-4.16Q2.72,34.42,0,25.16Z')
                                                    path.cls-3(d='M4.62,19.82a4.45,4.45,0,0,1,4.67,2.56l5.55,19.1a4.33,4.33,0,0,1-3,5.39,4.24,4.24,0,0,1-5.08-2.51q-2.8-9.6-5.55-19.2C.78,22.36,1.92,20.58,4.62,19.82Z')
                                                    path.cls-2(d='M159.46,59.66a6.38,6.38,0,0,1-.92.61A49.57,49.57,0,0,0,135.23,28.7a50.15,50.15,0,0,0-69.77,20A49.65,49.65,0,0,0,62.84,88.1a14.08,14.08,0,0,1-1.54-1.34,50.51,50.51,0,0,1,3.64-39.32,51.18,51.18,0,0,1,31.27-24.8,52,52,0,0,1,39.33,5A51,51,0,0,1,159.46,59.66Z')
                                                    path.cls-3(d='M158.54,60.27a39,39,0,0,0-17.82,25.16,39.53,39.53,0,0,0,.46,17.35q-21.12,8.53-42.3,16.94a54,54,0,0,1-7.39-2.31.27.27,0,0,1-.21-.25L99,114a5.41,5.41,0,0,0,2.52-5.8c-1.11-3.06-3.29-4.34-6.52-3.85q-7.83,3.07-15.61,6.21a54.05,54.05,0,0,1-8.93-8.83,25.7,25.7,0,0,0-7.6-13.65,49.65,49.65,0,0,1,2.62-39.43,50.15,50.15,0,0,1,69.77-20A49.57,49.57,0,0,1,158.54,60.27Z')
                                                    path.cls-6(d='M108.33,46.72a10,10,0,0,1,10.42,5.65q2.56,7.26-3.44,12,2.23,15.39,4.21,30.8H100.21q2-15.37,4.21-30.75-5.86-4.67-3.54-11.86A10.25,10.25,0,0,1,108.33,46.72Z')
                                                    path.cls-3(d='M108.43,47.75q7.53-.54,9.91,6.57a8.59,8.59,0,0,1-4,9.34c0,.14,0,.27,0,.41q2,15,4.11,30.09h-17q2-15,4.11-29.93c0-.19,0-.38,0-.57a8.71,8.71,0,0,1-4.11-8.73A8.9,8.9,0,0,1,108.43,47.75Z')
                                                    path.cls-7(d='M148.68,117.57l-.72-.82c-.92-1.3-1.79-2.63-2.62-4a.59.59,0,0,0-.56,0l-42.61,17.1c-.74.28-1.46.59-2.16.92q-7.2,2.81-14.38,5.7a5.34,5.34,0,0,1-5.9-2.31q-2.28-4.8,2.21-7.55c.7-.26,1.39-.55,2-.87a5.16,5.16,0,0,0,1.34-.51c4-1.56,8-3.16,12-4.83a9.91,9.91,0,0,0,1.54-.62q21.18-8.4,42.3-16.94a39.53,39.53,0,0,1-.46-17.35,39,39,0,0,1,17.82-25.16,6.38,6.38,0,0,0,.92-.61,43.83,43.83,0,0,1,7.91-3.39,11.82,11.82,0,0,1,1.23-.41A40.07,40.07,0,0,1,203,62.17a38.45,38.45,0,0,1,3.18,59.45A40.38,40.38,0,0,1,176,131.89,39.89,39.89,0,0,1,148.68,117.57Z')
                                                    path.cls-3(d='M156.28,110a59.6,59.6,0,0,0,14-43.54,25.43,25.43,0,0,1,7.29-1.49q16.71-.43,26.13,13.2,7.72,12.85,1.85,26.69a28.62,28.62,0,0,1-19.87,16A29.34,29.34,0,0,1,160,114.13,23.41,23.41,0,0,1,156.28,110Z')
                                                    path.cls-2(d='M170.24,66.43a59.6,59.6,0,0,1-14,43.54,4.63,4.63,0,0,1-.72-.93.42.42,0,0,0,.36-.2,57.29,57.29,0,0,0,13.09-42A4.57,4.57,0,0,1,170.24,66.43Z')
                                                    path.cls-3(d='M169,66.84a57.29,57.29,0,0,1-13.09,42,.42.42,0,0,1-.36.2,28.46,28.46,0,0,1-4-8.72,49.09,49.09,0,0,0,9.24-28.65A26,26,0,0,1,169,66.84Z')
                                                    path.cls-2(d='M160.79,71.67a49.09,49.09,0,0,1-9.24,28.65,10,10,0,0,1-.3-1.34,47.73,47.73,0,0,0,8.42-26.39A7.61,7.61,0,0,1,160.79,71.67Z')
                                                    path.cls-8(d='M159.67,72.59A47.73,47.73,0,0,1,151.25,99Q148.45,83.5,159.67,72.59Z')
                                                    path.cls-9(d='M43.64,91.18Q53.92,90.43,59.5,99q4.81,9.08-.92,17.56a16,16,0,0,1-27.83-3.8A15.84,15.84,0,0,1,32.6,97.85,16.66,16.66,0,0,1,43.64,91.18Z')
                                                    path.cls-3(d='M54.11,94.77a58.76,58.76,0,0,0,6.47,11.5q.12,10-8.83,14.43a15,15,0,0,1-16.12-2.57,14.93,14.93,0,0,1,6.88-25.67A15,15,0,0,1,54.11,94.77Z')
                                                    path.cls-6(d='M54.11,94.77A18.67,18.67,0,0,1,56,96.21a.11.11,0,0,0-.1.1,70,70,0,0,0,4.36,7.7.21.21,0,0,0,.05-.2,7.77,7.77,0,0,1,.31,2.46A58.76,58.76,0,0,1,54.11,94.77Z')
                                                    path.cls-10(d='M56,96.21a15.07,15.07,0,0,1,4.31,7.6.21.21,0,0,1-.05.2,70,70,0,0,1-4.36-7.7A.11.11,0,0,1,56,96.21Z')
                                                    path.cls-2(d='M70.44,101.75a54.05,54.05,0,0,0,8.93,8.83,7.28,7.28,0,0,1-1.13.42,62.06,62.06,0,0,1-7.49-7.19C70.66,103.13,70.55,102.44,70.44,101.75Z')
                                                    path.cls-3(d='M70.75,103.81A62.06,62.06,0,0,0,78.24,111c-1,.39-1.92.82-2.87,1.28a5.39,5.39,0,0,0-2.47,5c0,.19,0,.28-.2.26l-2.47-2.06a3,3,0,0,1-.72-.87A27.18,27.18,0,0,0,70.75,103.81Z')
                                                    path.cls-7(d='M91.28,117.16c-.49.18-1,.39-1.44.61q-4.73,1.83-9.44,3.75a9.52,9.52,0,0,1-1.23.36,5.94,5.94,0,0,1-2.06,0,5.71,5.71,0,0,1-3.49-2.46,8.58,8.58,0,0,1-.72-2.16,5.39,5.39,0,0,1,2.47-5c.95-.46,1.91-.89,2.87-1.28a7.28,7.28,0,0,0,1.13-.42q7.78-3.14,15.61-6.21c3.23-.49,5.41.79,6.52,3.85A5.41,5.41,0,0,1,99,114Z')
                                                    path.cls-3(d='M148,116.75q-20,16-45.59,13.19a.35.35,0,0,1-.2-.15l42.61-17.1a.59.59,0,0,1,.56,0C146.17,114.12,147,115.45,148,116.75Z')
                                                    path.cls-11(d='M69.51,114.59a3,3,0,0,0,.72.87l2.47,2.06c.16,0,.23-.07.2-.26a8.58,8.58,0,0,0,.72,2.16c-.49-.3-1-.63-1.44-1L69,115.82Q69.26,115.19,69.51,114.59Z')
                                                    path.cls-12(d='M148,116.75l.72.82Q127.23,134.51,100,130.71c.7-.33,1.42-.64,2.16-.92a.35.35,0,0,0,.2.15Q128,132.73,148,116.75Z')
                                                    path.cls-12(d='M91.28,117.16a.27.27,0,0,0,.21.25,54,54,0,0,0,7.39,2.31,9.91,9.91,0,0,1-1.54.62,37.11,37.11,0,0,1-7.5-2.57C90.31,117.55,90.79,117.34,91.28,117.16Z')
                                                    path.cls-8(d='M89.84,117.77a37.11,37.11,0,0,0,7.5,2.57c-4,1.67-8,3.27-12,4.83a43.73,43.73,0,0,1-6.16-3.29,9.52,9.52,0,0,0,1.23-.36Q85.11,119.6,89.84,117.77Z')
                                                    path.cls-13(d='M77.11,121.88a5.94,5.94,0,0,0,2.06,0,43.73,43.73,0,0,0,6.16,3.29,5.16,5.16,0,0,1-1.34.51A48.38,48.38,0,0,1,77.11,121.88Z')
                                    h3.vc_custom_heading(style='text-align: center') Stay secure
                    .vc_row.wpb_row.vc_inner.vc_row-fluid.gradient.vc_row-o-content-middle.vc_row-flex
                        .wpb_column.vc_column_container.vc_col-sm-12
                            .vc_column-inner
                                .wpb_wrapper
                                    .templatera_shortcode
                                        .wpb_column.vc_column_container.vc_col-sm-12
                                            .vc_column-inner
                                                .wpb_wrapper
                                                    .vc_row.wpb_row.vc_inner.vc_row-fluid.form-block.vc_row-o-content-middle.vc_row-flex
                                                        .wpb_column.vc_column_container.vc_col-sm-12
                                                            .vc_column-inner
                                                                .wpb_wrapper
                                                                    h2.vc_custom_heading.title(style='text-align: center') Need help deciding what’s best for your company?
                                                                    h5.vc_custom_heading.title(style='text-align: center') Choose subject and fill contact form
                                                                    #wpcf7-f577-p671-o1.wpcf7(role='form' dir='ltr' lang='en-US')
                                                                        .screen-reader-response
                                                                            p(role='status' aria-live='polite' aria-atomic='true')
                                                                            ul
                                                                        form.wpcf7-form.init(action='/about/#wpcf7-f577-p671-o1' method='post' novalidate='novalidate' data-status='init')
                                                                            div(style='display: none;')
                                                                                input(type='hidden' name='_wpcf7' value='577')
                                                                                input(type='hidden' name='_wpcf7_version' value='5.5.6')
                                                                                input(type='hidden' name='_wpcf7_locale' value='en_US')
                                                                                input(type='hidden' name='_wpcf7_unit_tag' value='wpcf7-f577-p671-o1')
                                                                                input(type='hidden' name='_wpcf7_container_post' value='671')
                                                                                input(type='hidden' name='_wpcf7_posted_data_hash' value='')
                                                                            .left-colums
                                                                                label
                                                                                    span.wpcf7-form-control-wrap.subject-mail
                                                                                        span.wpcf7-form-control.wpcf7-radio
                                                                                            span.wpcf7-list-item.first.last
                                                                                                input(type='radio' name='subject-mail' value='glazoknet@gmail.com')
                                                                                                span.wpcf7-list-item-label glazoknet@gmail.com
                                                                                    span.title I want to book a free consultation
                                                                                    span.description Fill out the form and one of our cloud specialists will get in touch with you
                                                                                br
                                                                                label
                                                                                    span.wpcf7-form-control-wrap.subject-mail
                                                                                        span.wpcf7-form-control.wpcf7-radio
                                                                                            span.wpcf7-list-item.first.last
                                                                                                input(type='radio' name='subject-mail' value='glazoknet@gmail.com')
                                                                                                span.wpcf7-list-item-label glazoknet@gmail.com
                                                                                    span.title I need technical support
                                                                                    span.description Get in touch with our technical support team
                                                                                br
                                                                                label
                                                                                    span.wpcf7-form-control-wrap.subject-mail
                                                                                        span.wpcf7-form-control.wpcf7-radio
                                                                                            span.wpcf7-list-item.first.last
                                                                                                input(type='radio' name='subject-mail' value='glazoknet@gmail.com')
                                                                                                span.wpcf7-list-item-label glazoknet@gmail.com
                                                                                    span.title I want to learn more about your services
                                                                                    span.description
                                                                                        | Fill out the form and a member of the Ostride Labs team will get in touch with you shortly
                                                                                br
                                                                                label
                                                                                    span.wpcf7-form-control-wrap.subject-mail
                                                                                        span.wpcf7-form-control.wpcf7-radio
                                                                                            span.wpcf7-list-item.first.last
                                                                                                input(type='radio' name='subject-mail' value='glazoknet@gmail.com')
                                                                                                span.wpcf7-list-item-label glazoknet@gmail.com
                                                                                    span.title I have other questions
                                                                                    span.description
                                                                                        | Not sure what you need? Fill out the form and we’ll reach out to you as soon as we can
                                                                            .right-colums
                                                                                h3 Contact form
                                                                                p
                                                                                    span.wpcf7-form-control-wrap.full_name
                                                                                        input.wpcf7-form-control.wpcf7-text(type='text' name='full_name' value='' size='40' aria-invalid='false' placeholder='Full name (optional)')
                                                                                    br
                                                                                    span.wpcf7-form-control-wrap.company_name
                                                                                        input.wpcf7-form-control.wpcf7-text(type='text' name='company_name' value='' size='40' aria-invalid='false' placeholder='Company name (optional)')
                                                                                    br
                                                                                    span.wpcf7-form-control-wrap.email_user
                                                                                        input.wpcf7-form-control.wpcf7-text.wpcf7-email.wpcf7-validates-as-email(type='email' name='email_user' value='' size='40' aria-invalid='false' placeholder='Email address *')
                                                                                    br
                                                                                    span.wpcf7-form-control-wrap.message
                                                                                        textarea.wpcf7-form-control.wpcf7-textarea(name='message' cols='40' rows='10' aria-invalid='false' placeholder='Message (optional)')
                                                                                    br
                                                                                    input.wpcf7-form-control.has-spinner.wpcf7-submit(type='submit' value='SEND MESSAGE')
                                                                                    span.wpcf7-spinner
                                                                            .wpcf7-response-output(aria-hidden='true')