section
    .vc_row.wpb_row.vc_inner.vc_row-fluid.vc_row-o-content-middle.vc_row-flex.blog
        .wpb_column.vc_column_container.vc_col-sm-12 
            .vc_column-inner
                .wpb_wrapper
                    h1.vc_custom_heading.title(style='text-align: center;') Blog
        .wpb_column.vc_column_container.vc_col-sm-6.vc_col-lg-4.vc_col-md-4.vc_col-xs-12
            .vc_column-inner
                .wpb_wrapper
                    .blog-item
                        .img
                            img(src="img/blog-1.png", alt="")
                            h3 
                                a(href="#") Configuring and scaling data platforms when doing cloud native application development
                        .footer-item(style="color:#E30075")
                            h3 Sales & Marketing
                            p.icon-line 23 min
        .wpb_column.vc_column_container.vc_col-sm-6.vc_col-lg-4.vc_col-md-4.vc_col-xs-12
            .vc_column-inner
                .wpb_wrapper
                    .blog-item
                        .img
                            img(src="img/blog-1.png", alt="")
                            h3 
                                a(href="#") Configuring and scaling data platforms when doing cloud native application development
                        .footer-item(style="color:#08DDDD")
                            h3 Sales & Marketing
                            p.icon-line 23 min
        .wpb_column.vc_column_container.vc_col-sm-6.vc_col-lg-4.vc_col-md-4.vc_col-xs-12
            .vc_column-inner
                .wpb_wrapper
                    .blog-item
                        .img
                            img(src="img/blog-1.png", alt="")
                            h3 
                                a(href="#") Configuring and scaling data platforms when doing cloud native application development
                        .footer-item(style="color:#5C4188")
                            h3 Sales & Marketing
                            p.icon-line 23 min
        .wpb_column.vc_column_container.vc_col-sm-6.vc_col-lg-4.vc_col-md-4.vc_col-xs-12
            .vc_column-inner
                .wpb_wrapper
                    .blog-item
                        .img
                            img(src="img/blog-1.png", alt="")
                            h3 
                                a(href="#") Configuring and scaling data platforms when doing cloud native application development
                        .footer-item(style="color:#5C4188")
                            h3 Sales & Marketing
                            p.icon-line 23 min
        .wpb_column.vc_column_container.vc_col-sm-6.vc_col-lg-4.vc_col-md-4.vc_col-xs-12
            .vc_column-inner
                .wpb_wrapper
                    .blog-item
                        .img
                            img(src="img/blog-1.png", alt="")
                            h3 
                                a(href="#") Configuring and scaling data platforms when doing cloud native application development
                        .footer-item(style="color:#E30075")
                            h3 Sales & Marketing
                            p.icon-line 23 min
        .wpb_column.vc_column_container.vc_col-sm-6.vc_col-lg-4.vc_col-md-4.vc_col-xs-12
            .vc_column-inner
                .wpb_wrapper
                    .blog-item
                        .img
                            img(src="img/blog-1.png", alt="")
                            h3 
                                a(href="#") Configuring and scaling data platforms when doing cloud native application development
                        .footer-item(style="color:#08DDDD")
                            h3 Sales & Marketing
                            p.icon-line 23 min
        .wpb_column.vc_column_container.vc_col-sm-6.vc_col-lg-4.vc_col-md-4.vc_col-xs-12
            .vc_column-inner
                .wpb_wrapper
                    .blog-item
                        .img
                            img(src="img/blog-1.png", alt="")
                            h3 
                                a(href="#") Configuring and scaling data platforms when doing cloud native application development
                        .footer-item(style="color:#08DDDD")
                            h3 Sales & Marketing
                            p.icon-line 23 min
        .wpb_column.vc_column_container.vc_col-sm-6.vc_col-lg-4.vc_col-md-4.vc_col-xs-12
            .vc_column-inner
                .wpb_wrapper
                    .blog-item
                        .img
                            img(src="img/blog-1.png", alt="")
                            h3 
                                a(href="#") Configuring and scaling data platforms when doing cloud native application development
                        .footer-item(style="color:#E30075")
                            h3 Sales & Marketing
                            p.icon-line 23 min
        .wpb_column.vc_column_container.vc_col-sm-6.vc_col-lg-4.vc_col-md-4.vc_col-xs-12
            .vc_column-inner
                .wpb_wrapper
                    .blog-item
                        .img
                            img(src="img/blog-1.png", alt="")
                            h3 
                                a(href="#") Configuring and scaling data platforms when doing cloud native application development
                        .footer-item(style="color:#5C4188")
                            h3 Sales & Marketing
                            p.icon-line 23 min
    .vc_row.wpb_row.vc_inner.vc_row-fluid.vc_row-o-content-middle.vc_row-flex.blog
        .wpb_column.vc_column_container.vc_col-sm-12 
            .vc_column-inner
                .wpb_wrapper
                    .wp-pagenavi
                        a.prevpostslink.icon-arrow-left(href='#') Prev
                        span.current 2
                        a.page.larger(href='#') 3
                        a.page.larger(href='#') 4
                        a.nextpostslink.icon-arrow-right(href='#') Next

    .vc_row.wpb_row.vc_inner.vc_row-fluid.vc_row-o-content-middle.vc_row-flex.form-block
        .wpb_column.vc_column_container.vc_col-sm-12 
            .vc_column-inner
                .wpb_wrapper
                    h2.vc_custom_heading.title(style='text-align: center;') Need help deciding what’s best for your company?
                    h5.vc_custom_heading.title(style='text-align: center;') Choose subject and fill contact form
        .wpb_column.vc_column_container.vc_col-sm-12
            .vc_column-inner
                .wpb_wrapper
                    #wpcf7-f577-p549-o2.wpcf7(role='form' lang='en-US' dir='ltr')
                    .screen-reader-response
                        p(role='status' aria-live='polite' aria-atomic='true')
                        ul
                    form.wpcf7-form.init(action='/new-home/#wpcf7-f577-p549-o2' method='post' novalidate='novalidate' data-status='init')
                        div(style='display: none;')
                            input(type='hidden' name='_wpcf7' value='577')
                            input(type='hidden' name='_wpcf7_version' value='5.5.6')
                            input(type='hidden' name='_wpcf7_locale' value='en_US')
                            input(type='hidden' name='_wpcf7_unit_tag' value='wpcf7-f577-p549-o2')
                            input(type='hidden' name='_wpcf7_container_post' value='549')
                            input(type='hidden' name='_wpcf7_posted_data_hash' value='')
                        .left-colums
                            label
                                span.wpcf7-form-control-wrap.subject-mail
                                    span.wpcf7-form-control.wpcf7-radio
                                        span.wpcf7-list-item.first.last
                                            input(type='radio' name='subject-mail' value='I-want-to-book-a-free-consultation')
                                span.title I want to book a free consultation
                                span.description Fill out the form and one of our cloud specialists will get in touch with you
                            br
                            label
                                span.wpcf7-form-control-wrap.subject-mail
                                    span.wpcf7-form-control.wpcf7-radio
                                        span.wpcf7-list-item.first.last
                                            input(type='radio' name='subject-mail' value='I-need-technical-support')
                                span.title I need technical support
                                span.description Get in touch with our technical support team
                            br 
                            label
                                span.wpcf7-form-control-wrap.subject-mail
                                    span.wpcf7-form-control.wpcf7-radio
                                        span.wpcf7-list-item.first.last
                                            input(type='radio' name='subject-mail' value='I-want-to-learn-more-about-your-services')
                                span.title I want to learn more about your services
                                span.description
                                    | Fill out the form and a member of the Ostride Labs team will get in touch with you shortly
                            br
                            label
                                span.wpcf7-form-control-wrap.subject-mail
                                    span.wpcf7-form-control.wpcf7-radio
                                        span.wpcf7-list-item.first.last
                                            input(type='radio' name='subject-mail' value='I-have-other-questions')
                                span.title I have other questions
                                span.description
                                    | Not sure what you need? Fill out the form and we’ll reach out to you as soon as we can
                        .right-colums
                            h3 Contact form
                            p
                                span.wpcf7-form-control-wrap.full_name
                                    input.wpcf7-form-control.wpcf7-text(type='text' name='full_name' value='' size='40' aria-invalid='false' placeholder='Full name (optional)')
                                br
                                span.wpcf7-form-control-wrap.company_name
                                    input.wpcf7-form-control.wpcf7-text(type='text' name='company_name' value='' size='40' aria-invalid='false' placeholder='Company name (optional)')
                                br
                                span.wpcf7-form-control-wrap.email_user
                                    input.wpcf7-form-control.wpcf7-text.wpcf7-email.wpcf7-validates-as-email(type='email' name='email_user' value='' size='40' aria-invalid='false' placeholder='Email address *')
                                br
                                span.wpcf7-form-control-wrap.message
                                    textarea.wpcf7-form-control.wpcf7-textarea(name='message' cols='40' rows='10' aria-invalid='false' placeholder='Message (optional)')
                            p
                                input.wpcf7-form-control.has-spinner.wpcf7-submit(type='submit' value='SEND MESSAGE')
                                span.wpcf7-spinner
                            .wpcf7-response-output(aria-hidden='true')