section
    .vc_row.wpb_row.vc_inner.vc_row-fluid.vc_row-o-content-middle.vc_row-flex.banner(style="background-image:url(img/bg-banner.png)")
        .wpb_column.vc_column_container.vc_col-sm-12
            .vc_column-inner
                .wpb_wrapper
                    h1.vc_custom_heading.title(style='text-align: left')
                        | Complex cloud
                        br
                        | solutions made easy
                    .wpb_text_column.wpb_content_element.description
                        .wpb_wrapper
                            p Reach cloud maturity with solutions
                                br
                                | that fit the goals of your business
                    .vc_btn3-container.button.blue.vc_btn3-inline
                        button.vc_general.vc_btn3.vc_btn3-size-md.vc_btn3-shape-rounded.vc_btn3-style-modern.vc_btn3-color-grey Free consultation 
                    .vc_btn3-container.button.line.vc_btn3-inline
                        button.vc_general.vc_btn3.vc_btn3-size-md.vc_btn3-shape-rounded.vc_btn3-style-modern.vc_btn3-color-grey Read more
    .vc_row.wpb_row.vc_inner.vc_row-fluid.vc_row-o-content-middle.vc_row-flex.steps
        .wpb_column.vc_column_container.vc_col-sm-12
            .vc_column-inner
                .wpb_wrapper
                    h2.vc_custom_heading.title(style='text-align: center')
                        | Where are you on the journey to
                        br
                        | cloud-based digital transformation?
                    .steps-items 
                        h4 Step by step 
                        .item
                            h3 Hardware
                                i.icon-hardware
                            .desc
                                p You are running your application on premise
                                    br
                                    | based dedicated hardware
                            .items
                                .description
                                    h3 Why?
                                    p It works. Why change it?
                                .description
                                    h3 Challenges
                                    p Infrastructure changes are long, expensive, and risky
                                .description
                                    h3 Next step?
                                    p Move to Step 3
                        .item
                            h3 Virtual 
                                br
                                | machines
                                i.icon-xmlid
                            .desc
                                p You are running application on premise based 
                                    br 
                                    | virtual machines, using VMware, Citrix, etc.
                            .items
                                .description
                                    h3 Why?
                                    p It’s flexible enough and you are in contro
                                .description
                                    h3 Challenges
                                    p Overdependence on your IT and development staff and
                                        br
                                        | vendor lock 
                                .description 
                                    h3 Next step?
                                    p Pick a cloud provider/package and transition to the cloud
                        .item
                            h3 Virtual 
                                br
                                | machines 
                                br
                                | in the cloud
                                i.icon-cloud
                            .desc
                                p You have migrated application into virtual
                                    br
                                    | machines in the cloud
                            .items
                                .description
                                    h3 Why?
                                    p It works. Why change it?
                                .description
                                    h3 Challenges
                                    p Your engineers spend too much time updating 
                                        br
                                        | infrastructure, expired certificates, and deployments
                                .description
                                    h3 Next step?
                                    p Transition to containerization
                        .item
                            h3 Cloud 
                                br
                                | Containerisation 
                                i.icon-cloud-computing
                            .desc
                                p You have modified application from virtual
                                    br
                                    | machines to containerized processes
                            .items
                                .description
                                    h3 Why?
                                    p It’s cheaper, performs better, more scalable, less risky, and 
                                        br
                                        | flexible with new technology
                                .description
                                    h3 Challenges
                                    p You need to keep your infrastructure up to date at all times
                                .description
                                    h3 Next step?
                                    p Replace manual tasks with automated jobs
                        .item
                            h3 Automatic 
                                br
                                | Cloud System
                                i.icon-cloud-system
                            .items
                                .desc
                                    p Transition from manual to automatic
                                        br
                                        | provisioning of your cloud systems
                                .description
                                    h3 Why?
                                    p You run a micro-services architecture and have complex 
                                        br 
                                        | compliance requirements 
    .vc_row.wpb_row.vc_inner.vc_row-fluid.vc_row-o-content-middle.vc_row-flex.partners(style="background: #0E2540;")
        .wpb_column.vc_column_container.vc_col-sm-12
            .vc_column-inner
                .wpb_wrapper
                    h2.vc_custom_heading(style='text-align: center') Our Partners
                    .wpb_gallery.wpb_content_element.vc_clearfix
                        .wpb_wrapper
                            .wpb_gallery_slides.wpb_image_grid(data-interval='3')
                                ul.wpb_image_grid_ul
                                    li.isotope-item
                                        img.attachment-thumbnail(src='img/google-logo.png' alt='Google-logo' loading='lazy')
                                    li.isotope-item
                                        img.attachment-thumbnail(src='img/atlassian-logo.png' alt='Atlassian-logo' loading='lazy')
                                    li.isotope-item
                                        img.attachment-thumbnail(src='img/Microsoft-logo.png' alt='Microsoft-logo' loading='lazy')
    .vc_row.wpb_row.vc_inner.vc_row-fluid.vc_row-o-content-middle.vc_row-flex.banner(style="background-image:url(img/bg-banner-2.png)")
        .wpb_column.vc_column_container.vc_col-sm-12
            .vc_column-inner
                .wpb_wrapper
                    h3.vc_custom_heading.title(style='text-align: left')
                        | Get the experts to support and
                        br
                        | service your infrastructure with
                        br
                        | our Managed Services model
                    .wpb_text_column.wpb_content_element.description
                        .wpb_wrapper
                            p Prevent crashes and downtimes, ensure monitoring,
                                br
                                | scalability and portability of your platform - all with
                                br
                                | the dramatically optimised cost and performance
                    .vc_btn3-container.button.blue.vc_btn3-inline
                        button.vc_general.vc_btn3.vc_btn3-size-md.vc_btn3-shape-rounded.vc_btn3-style-modern.vc_btn3-color-grey Book a free consultation
    .vc_row.wpb_row.vc_inner.vc_row-fluid.vc_row-o-content-middle.vc_row-flex.services
        .wpb_column.vc_column_container.vc_col-sm-12
            .vc_column-inner
                .wpb_wrapper
                    h2.vc_custom_heading(style='text-align: center') Our Services
                    h5.vc_custom_heading(style='text-align: center') Here's how we can help
        .wpb_column.vc_column_container.vc_col-sm-6.vc_col-lg-3.vc_col-md-3.vc_col-xs-12(style="border-color:#6236DF;")
            .vc_column-inner
                .wpb_wrapper
                    h3.vc_custom_heading.icon-upload-cloud(style='text-align: left') Cloud migration
                    .wpb_text_column.wpb_content_element
                        .wpb_wrapper
                            p
                                | Move your data, applications or other business elements to a cloud computing environment to be always fast and running
        .wpb_column.vc_column_container.vc_col-sm-6.vc_col-lg-3.vc_col-md-3.vc_col-xs-12(style="border-color:#36A2DF;")
            .vc_column-inner
                .wpb_wrapper
                    h3.vc_custom_heading.icon-server(style='text-align: left') Containerization
                    .wpb_text_column.wpb_content_element
                        .wpb_wrapper
                            p
                                | Deploy and run distributed applications without launching an entire virtual machine (VM)
        .wpb_column.vc_column_container.vc_col-sm-6.vc_col-lg-3.vc_col-md-3.vc_col-xs-12(style="border-color:#36DFCB;")
            .vc_column-inner
                .wpb_wrapper
                    h3.vc_custom_heading.icon-settings(style='text-align: left') Automation
                    .wpb_text_column.wpb_content_element
                        .wpb_wrapper
                            p
                                | Reduce manual efforts of repetitive actions in the cloud. Automate most of the routine tasks
        .wpb_column.vc_column_container.vc_col-sm-6.vc_col-lg-3.vc_col-md-3.vc_col-xs-12(style="border-color:#DFCE36;")
            .vc_column-inner
                .wpb_wrapper
                    h3.vc_custom_heading.icon-shield(style='text-align: left') Security
                    .wpb_text_column.wpb_content_element
                        .wpb_wrapper
                            p
                                | Ensure company and client data is protected at the infrastructure level by addressing potential external and internal threats 
    .vc_row.wpb_row.vc_inner.vc_row-fluid.vc_row-o-content-middle.vc_row-flex.work
        .wpb_column.vc_column_container.vc_col-sm-12
            .vc_column-inner
                .wpb_wrapper
                    h2.vc_custom_heading.title(style='text-align: center') How we work
                    .wpb_text_column.wpb_content_element
                        .wpb_wrapper
                            p(style='text-align: center;')
                                | We turn your big ideas and data into cloud-ready solutions.
                                br
                                | No two businesses are the same. We take the time to learn everything we can about your specific business, your industry, your use cases, and your target audience to create personalized outcomes that generate real business value
        .wpb_column.vc_column_container.vc_col-sm-6.vc_col-lg-6.vc_col-md-6.vc_col-xs-12
            .vc_column-inner
                .wpb_wrapper
                    h3.vc_custom_heading(style='text-align: left') Analyze Your Business
                    .wpb_text_column.wpb_content_element
                        .wpb_wrapper
                            p
                                | It all starts with an in depth analysis of your business by our experienced team of cloud migration specialists. We’ll analyze key pain points, blockers, and roadmap your digital transformation.
                    .vc_separator.wpb_content_element.vc_separator_align_center.vc_sep_width_100.vc_sep_pos_align_center.vc_separator_no_text.vc_sep_color_grey
                        span.vc_sep_holder.vc_sep_holder_l
                            span.vc_sep_line
                        span.vc_sep_holder.vc_sep_holder_r
                            span.vc_sep_line
        .wpb_column.vc_column_container.vc_col-sm-6.vc_col-lg-6.vc_col-md-6.vc_col-xs-12.right
            .vc_column-inner
                .wpb_wrapper
                    h3.vc_custom_heading(style='text-align: left') Test, Optimize, and Support
                    .wpb_text_column.wpb_content_element
                        .wpb_wrapper
                            p
                                | Next, we test and optimize your solutions to guarantee stability and security. This includes integrating any solutions into your workflows or the cloud and finalizing any ongoing support services you want.
                    .vc_separator.wpb_content_element.vc_separator_align_center.vc_sep_width_100.vc_sep_pos_align_center.vc_separator_no_text.vc_sep_color_grey
                        span.vc_sep_holder.vc_sep_holder_l
                            span.vc_sep_line
                        span.vc_sep_holder.vc_sep_holder_r
                            span.vc_sep_line
        .wpb_column.vc_column_container.vc_col-sm-6.vc_col-lg-6.vc_col-md-6.vc_col-xs-12
            .vc_column-inner
                .wpb_wrapper
                    h3.vc_custom_heading(style='text-align: left') Implementation Starts
                    .wpb_text_column.wpb_content_element
                        .wpb_wrapper
                            p
                                | The final step is to develop and implement any solutions that are part of your cloud migration package. In 2-3 week sprints, our team will bring your solutions to life and plan your cloud migration.
                    .vc_separator.wpb_content_element.vc_separator_align_center.vc_sep_width_100.vc_sep_pos_align_center.vc_separator_no_text.vc_sep_color_grey
                        span.vc_sep_holder.vc_sep_holder_l
                            span.vc_sep_line
                        span.vc_sep_holder.vc_sep_holder_r
                            span.vc_sep_line
    .vc_row.wpb_row.vc_inner.vc_row-fluid.vc_row-o-content-middle.vc_row-flex.form
        .wpb_column.vc_column_container.vc_col-sm-6.vc_col-lg-6.vc_col-md-6.vc_col-xs-12
            .vc_column-inner
                .wpb_wrapper
                    h2.vc_custom_heading Our newsletter (you’ll love it):
        .wpb_column.vc_column_container.vc_col-sm-6.vc_col-lg-6.vc_col-md-6.vc_col-xs-12
            .vc_column-inner
                .wpb_wrapper
                    #wpcf7-f175-p29-o2.wpcf7
                        form.wpcf7-form.init
                            .input
                                span.wpcf7-form-control-wrap.email-736
                                    input.wpcf7-form-control.wpcf7-text.wpcf7-email.wpcf7-validates-as-required.wpcf7-validates-as-email(type='email' name='email-736' value='Email address *' size='40' aria-required='true' aria-invalid='false')
                            .submit
                                input.wpcf7-form-control.has-spinner.wpcf7-submit.button(type='submit' value='Subscribe')
    .vc_row.wpb_row.vc_inner.vc_row-fluid.vc_row-o-content-middle.vc_row-flex.banner
        .wpb_column.vc_column_container.vc_col-sm-6.vc_col-lg-6.vc_col-md-6.vc_col-xs-12
            .vc_column-inner
                .wpb_wrapper
                    h2.vc_custom_heading.title(style='text-align: left')
                        | Get the experts to support and
                        br
                        | service your infrastructure with
                        br
                        | our Managed Services model
                    .wpb_text_column.wpb_content_element.description
                        .wpb_wrapper
                            p 
                                | Do not wait for your client base and sensitive data 
                                br
                                | to be leaked or exposed to an internal threat. Make 
                                br
                                |sure you are compliant with applicable regulations 
                                br
                                |and all your data is secured in transfer and at rest
                    .vc_btn3-container.button.blue.vc_btn3-inline
                        button.vc_general.vc_btn3.vc_btn3-size-md.vc_btn3-shape-rounded.vc_btn3-style-modern.vc_btn3-color-grey Book a free consultation
        .wpb_column.vc_column_container.vc_col-sm-6.vc_col-lg-6.vc_col-md-6.vc_col-xs-12
            .vc_column-inner
                .wpb_wrapper
                    .wpb_single_image.wpb_content_element.vc_align_right
                        figure.wpb_wrapper.vc_figure
                            .vc_single_image-wrapper.vc_box_border_grey
                                img.vc_single_image-img.attachment-full(src='img/bg-banner-3.png')
    .cases.vc_row.wpb_row.vc_inner.vc_row-fluid.vc_row-o-content-middle.vc_row-flex 
        .wpb_column.vc_column_container.vc_col-sm-12 
            .vc_column-inner
                .wpb_wrapper
                    h2.vc_custom_heading.title(style='text-align: center') Our Cases
                    .wpb_raw_code.wpb_content_element.wpb_raw_html
                        .wpb_wrapper
                            .wpb_column.vc_column_container.vc_col-sm-4.vc_col-lg-4.vc_col-md-4.vc_col-xs-12
                                .vc_column-inner
                                    .wpb_wrapper
                                        .cases-item
                                            a.link(href='#')
                                            .cases-head
                                                img(src='http://ostridelabs.docker.localhost/wp-content/uploads/2022/05/cases-1.jpg' alt='')
                                                h3.title German financial services company overcoming a major customer pain point
                                            .cases-footer
                                                p.category Personal Credit Management
                                                p.more More
                            .wpb_column.vc_column_container.vc_col-sm-4.vc_col-lg-4.vc_col-md-4.vc_col-xs-12
                                .vc_column-inner
                                    .wpb_wrapper
                                        .cases-item
                                            a.link(href='#')
                                            .cases-head
                                                img(src='http://ostridelabs.docker.localhost/wp-content/uploads/2022/05/cases-2.jpg' alt='')
                                                h3.title German financial services company overcoming a major customer pain point
                                            .cases-footer
                                                p.category Personal Credit Management
                                                p.more More
                            .wpb_column.vc_column_container.vc_col-sm-4.vc_col-lg-4.vc_col-md-4.vc_col-xs-12
                                .vc_column-inner
                                    .wpb_wrapper
                                        .cases-item
                                            a.link(href='#')
                                            .cases-head
                                                img(src='http://ostridelabs.docker.localhost/wp-content/uploads/2022/05/cases-3.jpg' alt='')
                                                h3.title German financial services company overcoming a major customer pain point
                                            .cases-footer
                                                p.category Personal Credit Management
                                                p.more More
    .vc_row.wpb_row.vc_inner.vc_row-fluid.testimonials.vc_row-o-content-middle.vc_row-flex
        .wpb_column.vc_column_container.vc_col-sm-12
            .vc_column-inner
                .wpb_wrapper
                    h2.vc_custom_heading.title(style='text-align: center') Testimonials
                    h5.vc_custom_heading.title(style='color: #5fc1fe;text-align: center') Here’s what our customers are saying:
                    .testimonials-slider
                        .testimonials-item
                            img.logo(src='https://stage-three.i-wp-dev.com/wp-content/uploads/2022/05/gronomeye.svg' alt='gronomeye')
                            .comment-text
                                p
                                    | “We prefer to work with experienced professionals and the Ostride team was recommended to us as such. They ensure exceptional quality and take a proactive approach to everything they do. The outcome of our collaboration was exactly what we were looking for, we are very much satisfied – the work goes on!”
                            .user
                                img.attachment-thumbnail.size-thumbnail.wp-post-image(src='https://stage-three.i-wp-dev.com/wp-content/uploads/2022/03/Stu-Adam.-150x150.jpg' alt='' loading='lazy')
                                .desc
                                    h3 Agronomeye
                                    h5 Stu Adam, Co-Founder
                        .testimonials-item
                            img.logo(src='https://stage-three.i-wp-dev.com/wp-content/uploads/2022/05/fireant.svg' alt='fireant')
                            .comment-text
                                p
                                    | “Over the last few years, the Ostride team has been our DevOps and cloud configuration partner. They’ve proven to be highly experienced, reliable and helped us with numerous tasks, including cost reduction, clarity and predictability of release cycles, data security, compliance and legal-driven data processing requirements.
                                    br
                                    | Being client-centric at their core, the Ostride team is a pleasure to work with and remains our preferred partner.”
                            .user
                                img.attachment-thumbnail.size-thumbnail.wp-post-image(src='https://stage-three.i-wp-dev.com/wp-content/uploads/2022/03/Maxim.jpg-150x150.png' alt='' loading='lazy')
                                .desc
                                    h3 Fireant Australia
                                    h5 Maxim Cherepovitsyn, CEO
                        .testimonials-item
                            img.logo(src='https://stage-three.i-wp-dev.com/wp-content/uploads/2022/05/finanzcheck.svg' alt='finanzcheck')
                            .comment-text
                                p
                                    | “The entire Ostride team is very quick and proactive, communication is just exceptional. This is what we call “delivering a turn-key solution” – we have asked and they have delivered to our exact requirements.”
                            .user
                                img.attachment-thumbnail.size-thumbnail.wp-post-image(src='https://stage-three.i-wp-dev.com/wp-content/uploads/2022/03/Marc-150x150.png' alt='' loading='lazy')
                                .desc
                                    h3 Finanzcheck GmbH
                                    h5 Marc Houben, Performance Marketing Manager
                        .testimonials-item
                            img.logo(src='https://stage-three.i-wp-dev.com/wp-content/uploads/2022/03/neuro.svg' alt='neuro')
                            .comment-text
                                p
                                    | “Trust and transparency are the key qualities we look for in our partners – this is where we start. We have been working with the Ostride team for over a year now and are very satisfied with the results. The team took over all stability, availability and cloud-related matters altogether, and they now work like clockwork.”
                            .user
                                img.attachment-thumbnail.size-thumbnail.wp-post-image(src='https://stage-three.i-wp-dev.com/wp-content/uploads/2022/03/Steve-150x150.png' alt='' loading='lazy')
                                .desc
                                    h3 Neurocog
                                    h5 Dr. Stephen Wolfson, Founder
                        .testimonials-item
                            img.logo(src='https://stage-three.i-wp-dev.com/wp-content/uploads/2022/05/whispli.svg' alt='whispli')
                            .comment-text
                                p
                                    | “We originally engaged Ostride to assist in the development of a mobile application but they have since become a trusted extension of our core team. They now lead the development of our mobile apps and have developed multiple customer facing web applications for us. They are conscientious, highly skilled and produce work of exceptional quality.
                                p I couldn’t be happier and I look forward to a long and productive partership.”
                            .user
                                img.attachment-thumbnail.size-thumbnail.wp-post-image(src='https://stage-three.i-wp-dev.com/wp-content/uploads/2022/03/dan-e1628776715823-150x150.png' alt='' loading='lazy')
                                .desc
                                    h3 Whispli Inc
                                    h5 Daniel Walker, CTO
    .vc_row.wpb_row.vc_inner.vc_row-fluid.vc_row-o-content-middle.vc_row-flex.form-block
        .wpb_column.vc_column_container.vc_col-sm-12
            .vc_column-inner
                .wpb_wrapper
                    h2.vc_custom_heading.title(style='text-align: center;') Need help deciding what’s best for your company?
                    h5.vc_custom_heading.title(style='text-align: center;') Choose subject and fill contact form
        .wpb_column.vc_column_container.vc_col-sm-12
            .vc_column-inner
                .wpb_wrapper
                    #wpcf7-f577-p549-o2.wpcf7(role='form' lang='en-US' dir='ltr')
                    .screen-reader-response
                        p(role='status' aria-live='polite' aria-atomic='true')
                        ul
                    form.wpcf7-form.init(action='/new-home/#wpcf7-f577-p549-o2' method='post' novalidate='novalidate' data-status='init')
                        div(style='display: none;')
                            input(type='hidden' name='_wpcf7' value='577')
                            input(type='hidden' name='_wpcf7_version' value='5.5.6')
                            input(type='hidden' name='_wpcf7_locale' value='en_US')
                            input(type='hidden' name='_wpcf7_unit_tag' value='wpcf7-f577-p549-o2')
                            input(type='hidden' name='_wpcf7_container_post' value='549')
                            input(type='hidden' name='_wpcf7_posted_data_hash' value='')
                        .left-colums
                            label
                                span.wpcf7-form-control-wrap.subject-mail
                                    span.wpcf7-form-control.wpcf7-radio
                                        span.wpcf7-list-item.first.last
                                            input(type='radio' name='subject-mail' value='I-want-to-book-a-free-consultation' checked)
                                span.title I want to book a free consultation
                                span.description Fill out the form and one of our cloud specialists will get in touch with you
                            br
                            label
                                span.wpcf7-form-control-wrap.subject-mail
                                    span.wpcf7-form-control.wpcf7-radio
                                        span.wpcf7-list-item.first.last
                                            input(type='radio' name='subject-mail' value='I-need-technical-support')
                                span.title I need technical support
                                span.description Get in touch with our technical support team
                            br 
                            label
                                span.wpcf7-form-control-wrap.subject-mail
                                    span.wpcf7-form-control.wpcf7-radio
                                        span.wpcf7-list-item.first.last
                                            input(type='radio' name='subject-mail' value='I-want-to-learn-more-about-your-services')
                                span.title I want to learn more about your services
                                span.description
                                    | Fill out the form and a member of the Ostride Labs team will get in touch with you shortly
                            br
                            label
                                span.wpcf7-form-control-wrap.subject-mail
                                    span.wpcf7-form-control.wpcf7-radio
                                        span.wpcf7-list-item.first.last
                                            input(type='radio' name='subject-mail' value='I-have-other-questions')
                                span.title I have other questions
                                span.description
                                    | Not sure what you need? Fill out the form and we’ll reach out to you as soon as we can
                        .right-colums
                            h3 Contact form
                            p
                                span.wpcf7-form-control-wrap.full_name
                                    input.wpcf7-form-control.wpcf7-text(type='text' name='full_name' value='' size='40' aria-invalid='false' placeholder='Full name (optional)')
                                br
                                span.wpcf7-form-control-wrap.company_name
                                    input.wpcf7-form-control.wpcf7-text(type='text' name='company_name' value='' size='40' aria-invalid='false' placeholder='Company name (optional)')
                                br
                                span.wpcf7-form-control-wrap.email_user
                                    input.wpcf7-form-control.wpcf7-text.wpcf7-email.wpcf7-validates-as-email(type='email' name='email_user' value='' size='40' aria-invalid='false' placeholder='Email address *')
                                br
                                span.wpcf7-form-control-wrap.message
                                    textarea.wpcf7-form-control.wpcf7-textarea(name='message' cols='40' rows='10' aria-invalid='false' placeholder='Message (optional)')
                            p
                                input.wpcf7-form-control.has-spinner.wpcf7-submit(type='submit' value='SEND MESSAGE')
                                span.wpcf7-spinner
                            .wpcf7-response-output(aria-hidden='true') 
