header
    .vc_row.wpb_row.vc_inner.vc_row-fluid.vc_row-o-content-middle.vc_row-flex
        .wpb_column.vc_column_container.vc_col-sm-12
            .vc_column-inner
                .wpb_wrapper
                    .wpb_column.vc_column_container.vc_col-sm-12
                        .vc_col-lg-4.vc_col-md-4.vc_col-sm-4.vc_col-xs-4
                            .burger-menu
                            ul.menu.dfr
                                li
                                    a(href="#") Services
                                li
                                    a(href="#") Blog
                                li.menu-item-has-children
                                    a(href="#") Company
                                    ul.sub-menu
                                        li
                                            a(href='#') About
                                        li
                                            a(href='#') Career
                                        li
                                            a(href='#') Our work

                        .vc_col-lg-4.vc_col-md-4.vc_col-sm-4.vc_col-xs-4
                            a.logo(href="/")
                                img(src="img/logo.png", alt="Logo")
                        .vc_col-lg-4.vc_col-md-4.vc_col-sm-4.vc_col-xs-4
                            .dfc.left
                                a.button.dfc(href="#") Arrange a call
                                a.tel(href="tel:+442045717565") +44 204 571 7565
