section
    .vc_row.wpb_row.vc_row-fluid.vc_row-no-padding.vc_row-o-content-middle.vc_row-flex
        .wpb_column.vc_column_container.vc_col-sm-12
            .vc_column-inner
                .wpb_wrapper
                    #banner.vc_row.wpb_row.vc_inner.vc_row-fluid.vc_row-o-content-middle.vc_row-flex
                        .wpb_column.vc_column_container.vc_col-sm-12
                            .vc_column-inner
                                .wpb_wrapper
                                    h1.vc_custom_heading.title(style='text-align: center')
                                        | Complex cloud
                                        br
                                        | solutions made easy
                                    .wpb_single_image.wpb_content_element.vc_align_center
                                        figure.wpb_wrapper.vc_figure
                                            .vc_single_image-wrapper.vc_box_border_grey
                                                img.vc_single_image-img.attachment-full(src='http://ostridelabs.docker.localhost/wp-content/uploads/2022/05/new-banner.png' alt='' loading='lazy' title='new-banner')
                                    h3.vc_custom_heading.sub-title(style='color: #28a1e6;text-align: center')
                                        | Reach cloud maturity with solutions that
                                        br
                                        | fit the goals of your business
                                    .vc_btn3-container.button.vc_btn3-center
                                        a.vc_general.vc_btn3.vc_btn3-size-md.vc_btn3-shape-rounded.vc_btn3-style-modern.vc_btn3-color-grey(href='#form' title='Security') Let’s find out
                    .vc_row.wpb_row.vc_inner.vc_row-fluid.vc_row-o-content-middle.vc_row-flex.steps
                        .wpb_column.vc_column_container.vc_col-sm-12
                            .vc_column-inner
                                .wpb_wrapper
                                    h2.vc_custom_heading.title(style='text-align: center')
                                        | Where are you on the journey to
                                        br
                                        | cloud-based digital transformation?
                                    .steps-items 
                                        h4 Step by step 
                                        .item
                                            h3 Hardware
                                                i.icon-hardware
                                            .desc
                                                p You are running your application on premise
                                                    br
                                                    | based dedicated hardware
                                            .items
                                                .description
                                                    h3 Why?
                                                    p It works. Why change it?
                                                .description
                                                    h3 Challenges
                                                    p Infrastructure changes are long, expensive, and risky
                                                .description
                                                    h3 Next step?
                                                    p Move to Step 3
                                        .item
                                            h3 Virtual 
                                                br
                                                | machines
                                                i.icon-xmlid
                                            .desc
                                                p You are running application on premise based 
                                                    br 
                                                    | virtual machines, using VMware, Citrix, etc.
                                            .items
                                                .description
                                                    h3 Why?
                                                    p It’s flexible enough and you are in contro
                                                .description
                                                    h3 Challenges
                                                    p Overdependence on your IT and development staff and
                                                        br
                                                        | vendor lock 
                                                .description 
                                                    h3 Next step?
                                                    p Pick a cloud provider/package and transition to the cloud
                                        .item
                                            h3 Virtual 
                                                br
                                                | machines 
                                                br
                                                | in the cloud
                                                i.icon-cloud
                                            .desc
                                                p You have migrated application into virtual
                                                    br
                                                    | machines in the cloud
                                            .items
                                                .description
                                                    h3 Why?
                                                    p It works. Why change it?
                                                .description
                                                    h3 Challenges
                                                    p Your engineers spend too much time updating 
                                                        br
                                                        | infrastructure, expired certificates, and deployments
                                                .description
                                                    h3 Next step?
                                                    p Transition to containerization
                                        .item
                                            h3 Cloud 
                                                br
                                                | Containerisation 
                                                i.icon-cloud-computing
                                            .desc
                                                p You have modified application from virtual
                                                    br
                                                    | machines to containerized processes
                                            .items
                                                .description
                                                    h3 Why?
                                                    p It’s cheaper, performs better, more scalable, less risky, and 
                                                        br
                                                        | flexible with new technology
                                                .description
                                                    h3 Challenges
                                                    p You need to keep your infrastructure up to date at all times
                                                .description
                                                    h3 Next step?
                                                    p Replace manual tasks with automated jobs
                                        .item
                                            h3 Automatic 
                                                br
                                                | Cloud System
                                                i.icon-cloud-system
                                            .items
                                                .desc
                                                    p Transition from manual to automatic
                                                        br
                                                        | provisioning of your cloud systems
                                                .description
                                                    h3 Why?
                                                    p You run a micro-services architecture and have complex 
                                                        br 
                                                        | compliance requirements 
                                            
                    .vc_row.wpb_row.vc_inner.vc_row-fluid.tools-block.gradient-block.vc_row-o-content-middle.vc_row-flex
                        .wpb_column.vc_column_container.vc_col-sm-12
                            .vc_column-inner
                                .wpb_wrapper
                                    h2.vc_custom_heading.title(style='text-align: center') Our Partners
                                    .wpb_gallery.wpb_content_element.vc_clearfix
                                        .wpb_wrapper
                                            .wpb_gallery_slides.wpb_image_grid(data-interval='3')
                                                ul.wpb_image_grid_ul(style='position: relative; height: 316px;')
                                                    li.isotope-item(style='position: absolute; left: 0px; top: 0px;')
                                                        img.attachment-full(src='http://ostridelabs.docker.localhost/wp-content/uploads/2022/05/whispli.svg' alt='' loading='lazy' title='whispli')
                                                    li.isotope-item(style='position: absolute; left: 414px; top: 0px;')
                                                        img.attachment-full(src='http://ostridelabs.docker.localhost/wp-content/uploads/2022/05/ouno.svg' alt='' loading='lazy' title='ouno')
                                                    li.isotope-item(style='position: absolute; left: 661px; top: 0px;')
                                                        img.attachment-full(src='http://ostridelabs.docker.localhost/wp-content/uploads/2022/05/smava.svg' alt='' loading='lazy' title='smava')
                                                    li.isotope-item(style='position: absolute; left: 980px; top: 0px;')
                                                        img.attachment-full(src='http://ostridelabs.docker.localhost/wp-content/uploads/2022/05/neurocog.svg' alt='' loading='lazy' title='neurocog')
                                                    li.isotope-item(style='position: absolute; left: 0px; top: 156px;')
                                                        img.attachment-full(src='http://ostridelabs.docker.localhost/wp-content/uploads/2022/05/finanzcheck.svg' alt='' loading='lazy' title='finanzcheck')
                                                    li.isotope-item(style='position: absolute; left: 430px; top: 156px;')
                                                        img.attachment-full(src='http://ostridelabs.docker.localhost/wp-content/uploads/2022/05/gronomeye.svg' alt='' loading='lazy' title='gronomeye')
                                                    li.isotope-item(style='position: absolute; left: 672px; top: 156px;')
                                                        img.attachment-full(src='http://ostridelabs.docker.localhost/wp-content/uploads/2022/05/fireant.svg' alt='' loading='lazy' title='fireant')
                    .vc_row.wpb_row.vc_inner.vc_row-fluid.banner-block.vc_row-o-content-middle.vc_row-flex 
                        .description.wpb_column.vc_column_container.vc_col-sm-6.vc_col-lg-6.vc_col-md-6.vc_col-xs-12
                            .vc_column-inner
                                .wpb_wrapper
                                    h2.vc_custom_heading.title(style='text-align: left')
                                        | Get the experts to
                                        br
                                        | support and service
                                        br
                                        | your infrastructure with
                                        br
                                        | our Managed Services
                                        br
                                        | model
                                    .wpb_text_column.wpb_content_element
                                        .wpb_wrapper
                                            p
                                                | Prevent crashes and downtimes,
                                                br
                                                | ensure monitoring, scalability and
                                                br
                                                | portability of your platform – all with
                                                br
                                                | the dramatically optimised cost and
                                                br
                                                | performance
                        .wpb_column.vc_column_container.vc_col-sm-6.vc_col-lg-6.vc_col-md-6.vc_col-xs-12
                            .vc_column-inner
                                .wpb_wrapper
                                    .wpb_single_image.wpb_content_element.vc_align_left
                                        figure.wpb_wrapper.vc_figure
                                            .vc_single_image-wrapper.vc_box_border_grey
                                                img.vc_single_image-img.attachment-full(src='http://ostridelabs.docker.localhost/wp-content/uploads/2022/05/experts.png' alt='' loading='lazy' title='experts')
                        .wpb_column.vc_column_container.vc_col-sm-12
                            .vc_column-inner
                                .wpb_wrapper
                                    .vc_btn3-container.button.vc_btn3-center
                                        a.vc_general.vc_btn3.vc_btn3-size-md.vc_btn3-shape-rounded.vc_btn3-style-modern.vc_btn3-color-grey(href='#form' title='') Book a free consultation
                    .vc_row.wpb_row.vc_inner.vc_row-fluid.business-block
                        .wpb_column.vc_column_container.vc_col-sm-12
                            .vc_column-inner
                                .wpb_wrapper 
                                    h2.vc_custom_heading.title(style='text-align: center') Our Business Verticals
                                    svg(width='801' height='691' viewBox='0 0 801 691' fill='none' xmlns='http://www.w3.org/2000/svg')
                                        path(fill-rule='evenodd' clip-rule='evenodd' d='M391.25 141.551C290.564 141.551 205.926 210.388 181.671 303.649C181.485 304.365 181.021 304.977 180.382 305.349C179.743 305.721 178.982 305.822 178.268 305.629C166.887 302.56 154.921 300.914 142.568 300.914C66.8923 300.914 5.54325 362.369 5.54325 438.181C5.54325 513.993 66.8923 575.449 142.569 575.449H642.317C726.893 575.449 795.457 506.766 795.457 422.039C795.457 337.312 726.893 268.629 642.317 268.629C625.609 268.629 609.535 271.319 594.487 276.271C593.113 276.723 591.624 276.042 591.065 274.706C558.34 196.489 481.199 141.551 391.25 141.551ZM177.021 299.572C202.806 205.29 288.943 136 391.25 136C482.611 136 561.075 191.26 595.182 270.22C610.077 265.584 625.906 263.078 642.317 263.078C729.956 263.078 801 334.248 801 422.039C801 509.83 729.957 581 642.317 581H142.569C63.8289 581 0 517.057 0 438.181C0 359.306 63.8288 295.363 142.568 295.363C154.447 295.363 165.986 296.827 177.021 299.572Z' fill='url(#right)')
                                        path(fill-rule='evenodd' clip-rule='evenodd' d='M423.292 3.49471C423.687 2.01439 422.812 0.492482 421.338 0.0954303C419.863 -0.301622 418.347 0.576539 417.952 2.05686L326.094 345.865C325.872 346.699 326.048 347.589 326.571 348.273C327.094 348.958 327.905 349.359 328.764 349.359H448.632L361.048 677.172L351.706 642.179C351.311 640.699 349.795 639.82 348.32 640.217C346.845 640.614 345.97 642.136 346.366 643.616L358.205 687.962C358.078 689.287 358.918 690.548 360.241 690.905C360.514 690.978 360.789 691.008 361.058 690.998C361.808 691.02 362.546 690.734 363.09 690.188L396.139 657.056C397.219 655.973 397.22 654.216 396.142 653.131C395.063 652.047 393.313 652.046 392.232 653.129L366.232 679.195L454.906 347.303C455.128 346.47 454.952 345.58 454.429 344.895C453.906 344.211 453.095 343.809 452.236 343.809H332.368L423.292 3.49471Z' fill='url(#arrow-right)')
                                        defs
                                            lineargradient#right(x1='722.933' y1='366.364' x2='12.9343' y2='367.748' gradientUnits='userSpaceOnUse')
                                                stop(stop-color='#5FC1FE' stop-opacity='0.04')
                                                stop(offset='0.415624' stop-color='#3BCDF0' stop-opacity='0.67')
                                                stop(offset='1' stop-color='#08DDDD')
                                            lineargradient#arrow-right(x1='390.5' y1='0' x2='390.5' y2='691' gradientUnits='userSpaceOnUse')
                                                stop(stop-color='#5FC1FE')
                                                stop(offset='1' stop-color='#08DDDD')
                                            lineargradient#left(x1='19.5' y1='499' x2='779.501' y2='359.004' gradientUnits='userSpaceOnUse')
                                                stop(stop-color='#5FC1FE' stop-opacity='0.04')
                                                stop(offset='0.415624' stop-color='#3BCDF0' stop-opacity='0.67')
                                                stop(offset='1' stop-color='#08DDDD')
                                            lineargradient#arrow-left(x1='348' y1='666.5' x2='425.5' y2='155.5' gradientUnits='userSpaceOnUse')
                                                stop(stop-color='#5FC1FE')
                                                stop(offset='1' stop-color='#08DDDD')
                        #left-block.wpb_column.vc_column_container.vc_col-sm-6.vc_col-lg-6.vc_col-md-6.vc_col-xs-6.active
                            .vc_column-inner
                                .wpb_wrapper
                                    h2.vc_custom_heading.title(style='text-align: left') FinTech
                                    .wpb_text_column.wpb_content_element
                                        .wpb_wrapper
                                            ul
                                                li eKYC
                                                li Payments
                                                li Hybrid 
                                                    br
                                                    | cloud
                                                li Electronic 
                                                    br
                                                    | Trading
                                                li Transaction
                                                    br
                                                    | Banking
                                                li On-premise
                                                    br
                                                    | setup

                        #right-block.wpb_column.vc_column_container.vc_col-sm-6.vc_col-lg-6.vc_col-md-6.vc_col-xs-6
                            .vc_column-inner
                                .wpb_wrapper
                                    h2.vc_custom_heading.title(style='text-align: left') EdTech
                                    .wpb_text_column.wpb_content_element
                                        .wpb_wrapper
                                            ul
                                                li Data
                                                    br
                                                    | privacy
                                                li Online
                                                li Content 
                                                    br
                                                    | filtering
                                                li Compliant 
                                                    br
                                                    | infrastruсture
                                                li Interactive 
                                                    br
                                                    | platforms
                                                li Hybrid classes 
                                                    br
                                                    | (online+offline)
                    .vc_row.wpb_row.vc_inner.vc_row-fluid.vc_row-o-content-middle.vc_row-flex.our-services
                        .wpb_column.vc_column_container.vc_col-sm-12
                            .vc_column-inner
                                .wpb_wrapper
                                    h2.vc_custom_heading.title(style='text-align: center') Our Services
                                    h5.vc_custom_heading.title(style='text-align: center') Here's how we can help
                                    .wpb_raw_code.wpb_content_element.wpb_raw_html
                                        .wpb_wrapper
                                            ul.nav.nav-tabs
                                                li.active
                                                    a(href="#saas" data-toggle="tab") Cloud engineering and SaaS development
                                                li
                                                    a(href="#sre" data-toggle="tab") Managed Services SRE
                                                li
                                                    a(href="#architecture" data-toggle="tab") Compliance and architecture
                                                li
                                                    a(href="#security" data-toggle="tab") Security
                                            .tab-content
                                                #saas.tab-pane.active
                                                    .img
                                                        img(src="img/cloud-blue.png", alt="#")
                                                        img(src="img/cloud.png", alt="#")
                                                        a.link(href="#")
                                                    h3.title  
                                                        a(href="#") Move your data, applications, and other business systems to 
                                                            br
                                                            | the cloud with a team of cloud migration experts
                                                #sre.tab-pane
                                                    .img
                                                        img(src="img/sre-blue.png", alt="#")
                                                        img(src="img/sre.png", alt="#")
                                                        a.link(href="#")
                                                    h3.title 
                                                        a(href="#") Save time, money, and eliminate manual tasks by integrating 
                                                            br
                                                            | the latest automation solutions
                                                #architecture.tab-pane
                                                    .img
                                                        img(src="img/architecture-blue.png", alt="#")
                                                        img(src="img/architecture.png", alt="#")
                                                        a.link(href="#")
                                                    h3.title 
                                                        a(href="#") Deploy and run distributed applications without needing to 
                                                            br 
                                                            | maintain dedicated hardware
                                                    
                                                #security.tab-pane
                                                    .img
                                                        img(src="img/security-blue.png", alt="#")
                                                        img(src="img/security.png", alt="#")
                                                        a.link(href="#")
                                                    h3.title
                                                        a(href="#") Ensure company and client data is protected at the 
                                                            br
                                                            | infrastructure level by addressing potential external and  
                                                            br
                                                            | internal threats

                    .vc_row.wpb_row.vc_inner.vc_row-fluid.vc_row-o-content-middle.vc_row-flex
                        .wpb_column.vc_column_container.vc_col-sm-12
                            .vc_column-inner
                                .wpb_wrapper
                    .vc_row.wpb_row.vc_inner.vc_row-fluid.work-block.gradient-block.vc_row-o-content-middle.vc_row-flex
                        .wpb_column.vc_column_container.vc_col-sm-12
                            .vc_column-inner
                                .wpb_wrapper
                                    h2.vc_custom_heading.title(style='text-align: center') How we work
                        .wpb_column.vc_column_container.vc_col-sm-6
                            .vc_column-inner
                                .wpb_wrapper
                                    h3.vc_custom_heading.title(style='text-align: left')
                                        | We turn your big ideas and
                                        br
                                        | data into cloud-ready solutions.
                                    .wpb_text_column.wpb_content_element
                                        .wpb_wrapper
                                            p
                                                | No two businesses are the same. We take the time
                                                br
                                                | to learn everything we can about your specific
                                                br
                                                | business, your industry, your use cases, and your
                                                br
                                                | target audience to create personalized outcomes
                                                br
                                                | that generate real business value
                        .wpb_column.vc_column_container.vc_col-sm-6
                            .vc_column-inner
                                .wpb_wrapper 
                                    .wpb_raw_code.wpb_content_element.wpb_raw_html
                                        .wpb_wrapper 
                                            svg.work-svg(xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' viewBox='0 0 521.98 541.24' width='521.98' height='541.24' data-active="description-one")
                                                g.arrow-one(data-id='description-one')
                                                    path.cls-2(d='M240.4,106.2H262V0H241L206.35,29.25,219.1,44,240.4,25.2Z' fill='#08DDDD')
                                                    path.cls-1(d='M445.9,115.8c-42-45.9-99.4-74.8-161.4-81.2L282,58.3c56.1,5.8,108.1,32,146.2,73.6c34.6,37.8,55.6,86,59.7,136.7l-7.5-0.7c-3.8-0.4-6.6,3.5-5,7l15.4,33.9c1.6,3.5,6.4,4,8.6,0.8l21.7-30.3c2.2-3.1,0.2-7.5-3.6-7.9l-5.4-0.5C508.4,213.4,485.1,158.6,445.9,115.8z' fill='url(#active-one)')
                                                    path.no-arrow(d='M284.5,34.6c65.7,6.8,126.1,38.9,168.5,89.4c42.4,50.5,63.6,115.5,58.9,181.2l-23.9-1.7c4.2-59.5-14.9-118.4-53.3-164.1c-38.4-45.7-93.2-74.8-152.7-81L284.5,34.6z' fill='url(#no-arrow-two)')
                                                g.arrow-two(data-id='description-two')
                                                    path.cls-5(d='M443.55,425.2h74.1V405.4h-47.1l32.25-27.75c8.1-7,13.95-14.85,13.95-28.5,0-21.3-15-31.95-34.35-31.95-20.85,0-36.15,10.65-37.5,32.55l22.5,1.65c.6-7.65,5.55-13.5,13.8-13.5,6.9,0,13.05,4.35,13.05,11.55,0,6.45-5.25,10.95-9.45,14.85l-41.25,37.05Z' fill='#3765AF')
                                                    path.cls-4(d='M68.27,429.21a5,5,0,0,0-6.64,5.57l6.47,36.67a5,5,0,0,0,8.14,3l5.2-4.36A254.81,254.81,0,0,0,452.76,450.8l-18.32-15.39A230.84,230.84,0,0,1,99.87,454.58l4.89-4.1a5,5,0,0,0-1.5-8.53Z' fill='url(#after-active-one)')
                                                    path.cls-6.no-arrow(d='M452.76,450.84a254.77,254.77,0,0,1-400-13.49L72.1,423.23a230.81,230.81,0,0,0,362.34,12.22Z' fill='url(#no-arrow-three)')
                                                g.arrow-three(data-id='description-three')
                                                    path.cls-8(d='M27.6,380.35h5.25c10,0,21,.3,21,12.3,0,8-4.65,13.65-14.4,13.65S25.2,401.5,23.7,394L0,399.55C4.35,418.6,19.2,427,38.1,427c20.85,0,38.25-10.5,38.25-31.8,0-12.3-7.2-23.1-19.95-24.75V370c11.7-2.4,18.15-11.55,18.15-23.25,0-20.4-16.95-29.55-35.85-29.55-18,0-33.15,7.05-37.8,25.5l24.75,5.1c1.35-5.55,6.15-9.9,13.2-9.9,7.35,0,13.2,4.65,13.2,11.1,0,10.05-8.85,11.85-17.1,11.85H27.6Z' fill='#0B223D')
                                                    path.cls-9(d='M209.52,55.26A5,5,0,0,0,207,47l-36.28-8.44a5,5,0,0,0-5.91,6.32l1.63,5.38A254,254,0,0,0,4.77,311.65l23.83-2.3A230.06,230.06,0,0,1,173.42,73.17l2.23,7.32a5,5,0,0,0,8.43,2Z' fill='url(#after-active-two)')
                                                    path.cls-7.no-arrow(d='M4.77,311.65A254,254,0,0,1,178.59,45.91l7.48,22.7A230.12,230.12,0,0,0,28.6,309.35Z' fill='url(#no-arrow-one)')
                                                lineargradient#active-one(x1='284.582' y1='59.2003' x2='489.082' y2='300.2' gradientUnits='userSpaceOnUse')
                                                    stop(stop-color='#08DDDD')
                                                    stop(offset='1' stop-color='#325DA2' stop-opacity='0.6')
                                                lineargradient#after-active-one(x1='452.584' y1='452.7' x2='72.584' y2='423.7' gradientUnits='userSpaceOnUse')
                                                    stop(stop-color='#3765AF')
                                                    stop(offset='1' stop-color='#0B223D' stop-opacity='0.67')
                                                lineargradient#no-arrow-one(x1='205.586' y1='62.2002' x2='3.58595' y2='314.7' gradientUnits='userSpaceOnUse')
                                                    stop(stop-color='#0B223D' stop-opacity='0')
                                                    stop(offset='1' stop-color='#0B223D')
                                                lineargradient#active-two(x1='452.584' y1='452.9' x2='72.5839' y2='423.9' gradientUnits='userSpaceOnUse')
                                                    stop(stop-color='#08DDDD')
                                                    stop(offset='1' stop-color='#3765AF' stop-opacity='0.54')
                                                lineargradient#after-active-two(x1='205.586' y1='62.4006' x2='3.58596' y2='314.901' gradientUnits='userSpaceOnUse')
                                                    stop(stop-color='#0B223D' stop-opacity='0.64')
                                                    stop(offset='1' stop-color='#3765AF')
                                                lineargradient#no-arrow-two(x1='284.586' y1='59.4004' x2='489.086' y2='300.4' gradientUnits='userSpaceOnUse')
                                                    stop(stop-color='#0B223D')
                                                    stop(offset='1' stop-color='#0B223D' stop-opacity='0')
                                                lineargradient#active-three(x1='205.586' y1='62.6008' x2='3.58596' y2='315.101' gradientUnits='userSpaceOnUse')
                                                    stop(stop-color='#3765AF' stop-opacity='0.53')
                                                    stop(offset='1' stop-color='#08DDDD')
                                                lineargradient#after-active-three(x1='284.582' y1='59.6006' x2='489.082' y2='300.601' gradientUnits='userSpaceOnUse')
                                                    stop(stop-color='#3765AF')
                                                    stop(offset='1' stop-color='#0B223D')
                                                lineargradient#no-arrow-three(x1='452.586' y1='453.101' x2='72.5859' y2='424.101' gradientUnits='userSpaceOnUse')
                                                    stop(stop-color='#0B223D')
                                                    stop(offset='1' stop-color='#0B223D' stop-opacity='0')

                                    #description-one.wpb_text_column.wpb_content_element.description.active
                                        .wpb_wrapper
                                            h3(style='text-align: center;') Analyze Your Business
                                            p(style='text-align: center;')
                                                | It all starts with an in depth
                                                br
                                                | analysis of your business by our
                                                br
                                                | experienced team of cloud
                                                br
                                                | migration specialists.
                                            p(style='text-align: center;')
                                                | We’ll analyze key pain points,
                                                br
                                                | blockers, and roadmap your
                                                br
                                                | digital transformation
                                    #description-two.wpb_text_column.wpb_content_element.description
                                        .wpb_wrapper
                                            h3(style='text-align: center;')
                                                | Test, Optimize
                                                br
                                                | and Support
                                            p(style='text-align: center;')
                                                | Next, we test and optimize your
                                                br
                                                | solutions to guarantee stability and
                                                br
                                                | security. This includes integrating any
                                                br
                                                | solutions into your workflows or the
                                                br
                                                | cloud and finalizing any ongoing
                                                br
                                                | support services you want
                                    #description-three.wpb_text_column.wpb_content_element.description
                                        .wpb_wrapper
                                            h3(style='text-align: center;') Implementation Starts
                                            p(style='text-align: center;')
                                                | The final step is to develop and
                                                br
                                                | implement any solutions that are
                                                br
                                                | part of your cloud migration package.
                                                br
                                                | In 2-3 week sprints, our team will
                                                br
                                                | bring your solutions to life and plan
                                                br
                                                | your cloud migration
                    .vc_row.wpb_row.vc_inner.vc_row-fluid.form.vc_row-o-content-middle.vc_row-flex
                        .wpb_column.vc_column_container.vc_col-sm-12
                            .vc_column-inner
                                .wpb_wrapper
                                    h3.vc_custom_heading.title(style='text-align: left') Our newsletter (you’ll love it):
                                    #wpcf7-f609-p7-o1.wpcf7(role='form' dir='ltr' lang='en-US')
                                        .screen-reader-response
                                            p(role='status' aria-live='polite' aria-atomic='true')
                                            ul
                                        form.wpcf7-form.init(action='/#wpcf7-f609-p7-o1' method='post' novalidate='novalidate' data-status='init')
                                            div(style='display: none;')
                                                input(type='hidden' name='_wpcf7' value='609')
                                                input(type='hidden' name='_wpcf7_version' value='5.5.6')
                                                input(type='hidden' name='_wpcf7_locale' value='en_US')
                                                input(type='hidden' name='_wpcf7_unit_tag' value='wpcf7-f609-p7-o1')
                                                input(type='hidden' name='_wpcf7_container_post' value='7')
                                                input(type='hidden' name='_wpcf7_posted_data_hash' value='')
                                            .input
                                                span.wpcf7-form-control-wrap.email-416
                                                    input.wpcf7-form-control.wpcf7-text.wpcf7-email.wpcf7-validates-as-email(type='email' name='email-416' value='' size='40' aria-invalid='false' placeholder='Email address *')
                                            .submit
                                                input.wpcf7-form-control.has-spinner.wpcf7-submit.button(type='submit' value='Submit')
                                                span.wpcf7-spinner
                                            .wpcf7-response-output(aria-hidden='true')
                    .cases.vc_row.wpb_row.vc_inner.vc_row-fluid.vc_row-o-content-middle.vc_row-flex
                        .wpb_column.vc_column_container.vc_col-sm-12
                            .vc_column-inner
                                .wpb_wrapper
                                    h2.vc_custom_heading.title(style='text-align: center') Our Cases
                                    .wpb_raw_code.wpb_content_element.wpb_raw_html
                                        .wpb_wrapper
                                            .wpb_column.vc_column_container.vc_col-sm-4.vc_col-lg-4.vc_col-md-4.vc_col-xs-12
                                                .vc_column-inner
                                                    .wpb_wrapper
                                                        .cases-item
                                                            a.link(href='#')
                                                            .cases-head
                                                                img(src='http://ostridelabs.docker.localhost/wp-content/uploads/2022/05/cases-1.jpg' alt='')
                                                                h3.title German financial services company overcoming a major customer pain point
                                                            .cases-footer
                                                                p.category Personal Credit Management
                                                                p.more More
                                            .wpb_column.vc_column_container.vc_col-sm-4.vc_col-lg-4.vc_col-md-4.vc_col-xs-12
                                                .vc_column-inner
                                                    .wpb_wrapper
                                                        .cases-item
                                                            a.link(href='#')
                                                            .cases-head
                                                                img(src='http://ostridelabs.docker.localhost/wp-content/uploads/2022/05/cases-2.jpg' alt='')
                                                                h3.title German financial services company overcoming a major customer pain point
                                                            .cases-footer
                                                                p.category Personal Credit Management
                                                                p.more More
                                            .wpb_column.vc_column_container.vc_col-sm-4.vc_col-lg-4.vc_col-md-4.vc_col-xs-12
                                                .vc_column-inner
                                                    .wpb_wrapper
                                                        .cases-item
                                                            a.link(href='#')
                                                            .cases-head
                                                                img(src='http://ostridelabs.docker.localhost/wp-content/uploads/2022/05/cases-3.jpg' alt='')
                                                                h3.title German financial services company overcoming a major customer pain point
                                                            .cases-footer
                                                                p.category Personal Credit Management
                                                                p.more More
                    .vc_row.wpb_row.vc_inner.vc_row-fluid.testimonials.vc_row-o-content-middle.vc_row-flex
                        .wpb_column.vc_column_container.vc_col-sm-12
                            .vc_column-inner
                                .wpb_wrapper
                                    h2.vc_custom_heading.title(style='text-align: center') Testimonials
                                    h5.vc_custom_heading.title(style='color: #5fc1fe;text-align: center') Here’s what our customers are saying:
                                    .testimonials-slider
                                        .testimonials-item
                                            img.logo(src='https://stage-three.i-wp-dev.com/wp-content/uploads/2022/05/gronomeye.svg' alt='gronomeye')
                                            .comment-text
                                                p
                                                    | “We prefer to work with experienced professionals and the Ostride team was recommended to us as such. They ensure exceptional quality and take a proactive approach to everything they do. The outcome of our collaboration was exactly what we were looking for, we are very much satisfied – the work goes on!”
                                            .user
                                                img.attachment-thumbnail.size-thumbnail.wp-post-image(src='https://stage-three.i-wp-dev.com/wp-content/uploads/2022/03/Stu-Adam.-150x150.jpg' alt='' loading='lazy')
                                                .desc
                                                    h3 Agronomeye
                                                    h5 Stu Adam, Co-Founder
                                        .testimonials-item
                                            img.logo(src='https://stage-three.i-wp-dev.com/wp-content/uploads/2022/05/fireant.svg' alt='fireant')
                                            .comment-text
                                                p
                                                    | “Over the last few years, the Ostride team has been our DevOps and cloud configuration partner. They’ve proven to be highly experienced, reliable and helped us with numerous tasks, including cost reduction, clarity and predictability of release cycles, data security, compliance and legal-driven data processing requirements.
                                                    br
                                                    | Being client-centric at their core, the Ostride team is a pleasure to work with and remains our preferred partner.”
                                            .user
                                                img.attachment-thumbnail.size-thumbnail.wp-post-image(src='https://stage-three.i-wp-dev.com/wp-content/uploads/2022/03/Maxim.jpg-150x150.png' alt='' loading='lazy')
                                                .desc
                                                    h3 Fireant Australia
                                                    h5 Maxim Cherepovitsyn, CEO
                                        .testimonials-item
                                            img.logo(src='https://stage-three.i-wp-dev.com/wp-content/uploads/2022/05/finanzcheck.svg' alt='finanzcheck')
                                            .comment-text
                                                p
                                                    | “The entire Ostride team is very quick and proactive, communication is just exceptional. This is what we call “delivering a turn-key solution” – we have asked and they have delivered to our exact requirements.”
                                            .user
                                                img.attachment-thumbnail.size-thumbnail.wp-post-image(src='https://stage-three.i-wp-dev.com/wp-content/uploads/2022/03/Marc-150x150.png' alt='' loading='lazy')
                                                .desc
                                                    h3 Finanzcheck GmbH
                                                    h5 Marc Houben, Performance Marketing Manager
                                        .testimonials-item
                                            img.logo(src='https://stage-three.i-wp-dev.com/wp-content/uploads/2022/03/neuro.svg' alt='neuro')
                                            .comment-text
                                                p
                                                    | “Trust and transparency are the key qualities we look for in our partners – this is where we start. We have been working with the Ostride team for over a year now and are very satisfied with the results. The team took over all stability, availability and cloud-related matters altogether, and they now work like clockwork.”
                                            .user
                                                img.attachment-thumbnail.size-thumbnail.wp-post-image(src='https://stage-three.i-wp-dev.com/wp-content/uploads/2022/03/Steve-150x150.png' alt='' loading='lazy')
                                                .desc
                                                    h3 Neurocog
                                                    h5 Dr. Stephen Wolfson, Founder
                                        .testimonials-item
                                            img.logo(src='https://stage-three.i-wp-dev.com/wp-content/uploads/2022/05/whispli.svg' alt='whispli')
                                            .comment-text
                                                p
                                                    | “We originally engaged Ostride to assist in the development of a mobile application but they have since become a trusted extension of our core team. They now lead the development of our mobile apps and have developed multiple customer facing web applications for us. They are conscientious, highly skilled and produce work of exceptional quality.
                                                p I couldn’t be happier and I look forward to a long and productive partership.”
                                            .user
                                                img.attachment-thumbnail.size-thumbnail.wp-post-image(src='https://stage-three.i-wp-dev.com/wp-content/uploads/2022/03/dan-e1628776715823-150x150.png' alt='' loading='lazy')
                                                .desc
                                                    h3 Whispli Inc
                                                    h5 Daniel Walker, CTO

                    .vc_row.wpb_row.vc_inner.vc_row-fluid.why-us.vc_row-o-content-middle.vc_row-flex
                        .wpb_column.vc_column_container.vc_col-sm-12
                            .vc_column-inner
                                .wpb_wrapper
                                    h2.vc_custom_heading.title(style='text-align: center') Why us?
                        .wpb_column.vc_column_container.vc_col-sm-4.vc_col-lg-4.vc_col-md-4.vc_col-xs-12
                            .vc_column-inner
                                .wpb_wrapper
                                    svg(version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 175 196' style='enable-background:new 0 0 175 196;' xml:space='preserve' width='175' height='196')
                                        style(type='text/css').
                                            .st0{fill-rule:evenodd;clip-rule:evenodd;fill:#3765AF;}
                                        path.st0(d='M85.5,2.5c-21.6,0-39.7,14.7-44.9,34.7c-0.1,0.3-0.2,0.5-0.5,0.6c-0.2,0.1-0.5,0.2-0.8,0.1c-2.4-0.7-5-1-7.6-1h0C15.6,36.9,2.5,50,2.5,66.2s13.1,29.3,29.2,29.3h13.2c0.6,0,1,0.4,1,1V139c0,15.8,8.9,29.6,21.9,36.6c0.1,0,0.1,0.1,0.2,0.1c5.8,3.1,12.4,4.8,19.3,4.8h0c22.8,0,41.5-18.7,41.5-41.5V96.5c0-0.6,0.4-1,1-1h9.9c18.1,0,32.7-14.7,32.7-32.8c0-18.1-14.6-32.8-32.7-32.8c-3.6,0-7,0.6-10.2,1.6c-0.5,0.2-1-0.1-1.2-0.6C121.3,14.3,104.8,2.5,85.5,2.5z M68.5,178.1c5.7,2.8,12.1,4.4,18.9,4.4h0c7.2,0,14.1-1.8,20.1-5v17c0,0.6,0.4,1,1,1s1-0.4,1-1v-18c0,0,0-0.1,0-0.1c12.8-7.6,21.4-21.6,21.4-37.4V97.5h8.9c19.2,0,34.7-15.6,34.7-34.8c0-19.2-15.5-34.8-34.7-34.8c-3.5,0-6.8,0.5-10,1.5c-7.5-17-24.5-28.9-44.3-28.9c-22.2,0-40.9,14.9-46.6,35.3c-2.3-0.5-4.7-0.8-7.2-0.8h0c-17.2,0-31.2,14-31.2,31.3c0,17.3,14,31.3,31.2,31.3h12.2V139c0,16.4,9.1,30.7,22.6,38.1v17.4c0,0.6,0.4,1,1,1s1-0.4,1-1V178.1z M70,101.5c-8.6,0-15.5,6.9-15.5,15.5s6.9,15.5,15.5,15.5c8.5,0,15.5-6.9,15.5-15.4c0-0.5,0.4-0.9,0.9-1c0.5,0,1-0.1,1.5-0.1c0.6,0,1.2,0,1.8,0.1c0.5,0.1,0.9,0.5,0.9,1c0.1,8.5,7,15.4,15.5,15.4c8.6,0,15.5-6.9,15.5-15.5s-6.9-15.5-15.5-15.5c-7.5,0-13.7,5.3-15.2,12.4c-0.1,0.5-0.6,0.9-1.1,0.8c-0.6-0.1-1.3-0.1-1.9-0.1c-0.5,0-1.1,0-1.6,0.1c-0.5,0.1-1-0.3-1.1-0.8C83.7,106.8,77.5,101.5,70,101.5z M70,99.5c-9.7,0-17.5,7.8-17.5,17.5c0,9.7,7.8,17.5,17.5,17.5c9.3,0,16.9-7.3,17.5-16.5c0.1,0,0.2,0,0.4,0c0.2,0,0.5,0,0.7,0c0.5,9.2,8.1,16.5,17.5,16.5c9.7,0,17.5-7.8,17.5-17.5c0-9.7-7.8-17.5-17.5-17.5c-8.1,0-15,5.6-16.9,13.1c-0.4,0-0.8,0-1.2,0c-0.3,0-0.6,0-0.9,0C85,105.1,78.1,99.5,70,99.5z M73.4,149c-0.3-0.5-0.9-0.6-1.4-0.4c-0.5,0.3-0.6,0.9-0.4,1.4c3.4,5.9,9.6,9.5,16.4,9.5s13-3.6,16.4-9.5c0.3-0.5,0.1-1.1-0.4-1.4c-0.5-0.3-1.1-0.1-1.4,0.4c-3,5.3-8.6,8.5-14.6,8.5S76.4,154.3,73.4,149z')
                                    .wpb_text_column.wpb_content_element
                                        .wpb_wrapper
                                            h2(style='text-align: center;') Experts on board
                                            p
                                                | We don’t try or claim to be experts
                                                br
                                                | at everything. We invest in thorough,
                                                br
                                                | up-to-date knowledge of our core
                                                br
                                                | specialized 
                                                a(href='http://ostridelabs.docker.localhost/services/') services.
                        .wpb_column.vc_column_container.vc_col-sm-4.vc_col-lg-4.vc_col-md-4.vc_col-xs-12
                            .vc_column-inner
                                .wpb_wrapper
                                    svg(version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 219 196' style='enable-background:new 0 0 219 196;' xml:space='preserve' width='291' height='196')
                                        style(type='text/css').
                                            .st0{fill-rule:evenodd;clip-rule:evenodd;fill:#3765AF;}
                                        path.st0(d='M121.1,1.5c0-0.5-0.3-0.9-0.8-1c-0.5-0.1-0.9,0.2-1.1,0.6l-11.3,27.4c-0.3,0-0.6,0-0.8,0c-27.9,0-51.5,18.9-58.6,44.6c-3-0.7-6-1.1-9.2-1.1C17.5,72,0,89.6,0,111.3c0,21.7,17.5,39.2,39.1,39.2h58.4l-6.3,43.9c-0.1,0.5,0.2,1,0.7,1.1c0.5,0.1,1-0.1,1.2-0.6c6.1-14.8,12.2-29.6,18.3-44.4h64c24,0,43.5-19.5,43.5-43.6c0-24.1-19.5-43.6-43.5-43.6c-4.4,0-8.7,0.7-12.7,1.9c-8.1-18.6-25.1-32.3-45.7-35.8l4-27.7C121.1,1.6,121.1,1.5,121.1,1.5L121.1,1.5z M140.9,78.3C140.9,78.3,140.8,78.3,140.9,78.3c-0.2-0.4-0.5-0.5-0.9-0.5h-29.8l6.7-46.5c20.1,3.4,36.7,17.1,44.3,35.4c0.2,0.5,0.7,0.7,1.2,0.6c4.1-1.3,8.4-2.1,13-2.1c22.9,0,41.5,18.6,41.5,41.6c0,23-18.6,41.6-41.5,41.6h-62.8l28.6-68.9c0.1-0.3,0.1-0.7-0.1-0.9C141.1,78.5,141,78.4,140.9,78.3z M108,79.2c-0.1-0.2-0.1-0.4-0.1-0.5l10-69.4l-8.3,20.1c0,0.2,0,0.3-0.1,0.5L78.8,104l-1.3,3.2h27.2c0.3,0,0.6,0.1,0.8,0.3c0.2,0.2,0.3,0.5,0.2,0.8l0,0.1c0.1,0.2,0.1,0.3,0,0.5l-5.9,40.8c0,0.1-0.1,0.3-0.1,0.4l-5.3,36.7c14.7-35.5,29.3-71,44-106.5H109c-0.3,0-0.6-0.1-0.8-0.3C108.1,79.7,108,79.4,108,79.2zM103.4,109.7l-5.6,38.8H39.1C18.6,148.5,2,131.8,2,111.3C2,90.7,18.6,74,39.1,74c3.3,0,6.6,0.4,9.7,1.3c0.3,0.1,0.5,0,0.8-0.1c0.2-0.1,0.4-0.4,0.5-0.6c6.6-25.4,29.6-44.1,56.9-44.1h0l-9.9,24L77,103.2l-2.1,5.1c-0.1,0.3-0.1,0.7,0.1,0.9c0.2,0.3,0.5,0.4,0.8,0.4H103.4z')
                                    .wpb_text_column.wpb_content_element
                                        .wpb_wrapper
                                            h2(style='text-align: center;') Momentum
                                            p
                                                | We ask the right questions with a
                                                br
                                                | proactive approach to get things
                                                br
                                                | going fast.
                        .wpb_column.vc_column_container.vc_col-sm-4.vc_col-lg-4.vc_col-md-4.vc_col-xs-12
                            .vc_column-inner
                                .wpb_wrapper
                                    svg(version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 209 196' style='enable-background:new 0 0 209 196;' xml:space='preserve' width='209' height='196')
                                        style(type='text/css').
                                            .st0{fill-rule:evenodd;clip-rule:evenodd;fill:#3765AF;}
                                        path.st0(d='M102.1,2.5c-26.1,0-48,17.9-54.3,42.2c-0.1,0.3-0.2,0.5-0.5,0.6c-0.2,0.1-0.5,0.2-0.8,0.1c-2.9-0.8-6-1.2-9.2-1.2c0,0,0,0,0,0C17.8,44.2,2,60.2,2,79.9s15.8,35.6,35.4,35.6h15.9h8.5h85.5h8.3h11.9c21.8,0,39.6-17.8,39.6-39.9s-17.7-39.9-39.6-39.9c-4.3,0-8.5,0.7-12.4,2c-0.5,0.2-1-0.1-1.2-0.6C145.4,16.8,125.4,2.5,102.1,2.5zM157.1,117.5h10.4c23,0,41.6-18.8,41.6-41.9s-18.6-41.9-41.6-41.9c-4.2,0-8.3,0.6-12.1,1.8c-9-20.6-29.4-35.1-53.2-35.1C75.4,0.5,53,18.6,46.1,43.2c-2.8-0.7-5.7-1-8.8-1c0,0,0,0,0,0C16.7,42.2,0,59.1,0,79.9c0,20.8,16.7,37.6,37.4,37.6h14.6C43.2,121.3,37,129.9,37,140c0,13.5,11.1,24.5,24.8,24.5c2.9,0,5.7-0.5,8.2-1.4v31.4c0,0.6,0.4,1,1,1s1-0.4,1-1v-32.2c2.6-1.2,5-2.8,7-4.7v36.9c0,0.6,0.4,1,1,1s1-0.4,1-1v-39.1c3.2-4,5.3-9,5.5-14.4H94v53.5c0,0.6,0.4,1,1,1s1-0.4,1-1V141h16v53.5h2V141h8.5c0.2,5,1.9,9.7,4.8,13.5H127v40h2v-37.9c2.2,2.4,5,4.4,8,5.8v32.2h2v-31.4c2.6,0.9,5.4,1.4,8.2,1.4c13.7,0,24.8-11,24.8-24.5C172,129.9,165.8,121.3,157.1,117.5z M80,153.5c2.9-3.8,4.6-8.4,4.6-13.5c0-0.6,0.4-1,1-1h8.6c0.2-0.3,0.5-0.5,0.9-0.5s0.7,0.2,0.9,0.5h27.6c0.6,0,1,0.4,1,1c0,12.4,10.2,22.5,22.8,22.5S170,152.4,170,140s-10.2-22.5-22.8-22.5H61.8C49.2,117.5,39,127.6,39,140s10.2,22.5,22.8,22.5c3,0,5.8-0.6,8.4-1.6c0.2-0.2,0.5-0.4,0.8-0.4c0,0,0.1,0,0.1,0c3-1.4,5.7-3.4,7.9-5.8v-0.2C79,154,79.4,153.5,80,153.5z')
                                    .wpb_text_column.wpb_content_element
                                        .wpb_wrapper
                                            h2(style='text-align: center;') Individual approach
                                            p
                                                | Each client and each project is
                                                br
                                                | unique. We listen to YOUR goals and
                                                br
                                                | solve YOUR issues.
                    .vc_row.wpb_row.vc_inner.vc_row-fluid.gradient.vc_row-o-content-middle.vc_row-flex#form
                        .wpb_column.vc_column_container.vc_col-sm-12
                            .vc_column-inner
                                .wpb_wrapper
                                    .templatera_shortcode
                                        .wpb_column.vc_column_container.vc_col-sm-12
                                            .vc_column-inner
                                                .wpb_wrapper
                                                    .vc_row.wpb_row.vc_inner.vc_row-fluid.form-block.no-radio-button.vc_row-o-content-middle.vc_row-flex
                                                        .wpb_column.vc_column_container.vc_col-sm-12
                                                            .vc_column-inner
                                                                .wpb_wrapper
                                                                    h2.vc_custom_heading.title(style='text-align: center') Need help deciding what’s best for your company?
                                                                    h5.vc_custom_heading.title(style='text-align: center') Feel free to contact us!
                                                                    #wpcf7-f808-p809-o2.wpcf7(role='form' dir='ltr' lang='en-US')
                                                                        .screen-reader-response
                                                                            p(role='status' aria-live='polite' aria-atomic='true')
                                                                            ul
                                                                        form.wpcf7-form.init(action='/#wpcf7-f808-p809-o2' method='post' novalidate='novalidate' data-status='init')
                                                                            div(style='display: none;')
                                                                                input(type='hidden' name='_wpcf7' value='808')
                                                                                input(type='hidden' name='_wpcf7_version' value='5.5.6')
                                                                                input(type='hidden' name='_wpcf7_locale' value='en_US')
                                                                                input(type='hidden' name='_wpcf7_unit_tag' value='wpcf7-f808-p809-o2')
                                                                                input(type='hidden' name='_wpcf7_container_post' value='809')
                                                                                input(type='hidden' name='_wpcf7_posted_data_hash' value='')
                                                                            p
                                                                                span.wpcf7-form-control-wrap.full_name
                                                                                    input.wpcf7-form-control.wpcf7-text(type='text' name='full_name' value='' size='40' aria-invalid='false' placeholder='Full name (optional)')
                                                                                br
                                                                                span.wpcf7-form-control-wrap.company_name
                                                                                    input.wpcf7-form-control.wpcf7-text(type='text' name='company_name' value='' size='40' aria-invalid='false' placeholder='Company name (optional)')
                                                                                br
                                                                                span.wpcf7-form-control-wrap.email_user
                                                                                    input.wpcf7-form-control.wpcf7-text.wpcf7-email.wpcf7-validates-as-email(type='email' name='email_user' value='' size='40' aria-invalid='false' placeholder='Email address *')
                                                                                br
                                                                                span.wpcf7-form-control-wrap.message
                                                                                    textarea.wpcf7-form-control.wpcf7-textarea(name='message' cols='40' rows='10' aria-invalid='false' placeholder='Message (optional)')
                                                                                br
                                                                                input.wpcf7-form-control.has-spinner.wpcf7-submit(type='submit' value='SEND MESSAGE')
                                                                                span.wpcf7-spinner
                                                                            .wpcf7-response-output(aria-hidden='true')
