section
    .vc_row.wpb_row.vc_row-fluid.vc_row-no-padding.vc_row-o-content-middle.vc_row-flex.cases-page
        .wpb_column.vc_column_container.vc_col-sm-12
            .vc_column-inner
                .wpb_wrapper
                    .vc_row.wpb_row.vc_inner.vc_row-fluid.banner.img-top.vc_row-o-content-middle.vc_row-flex
                        .wpb_column.vc_column_container.vc_col-sm-6.vc_col-lg-6.vc_col-md-6.vc_col-xs-12
                            .vc_column-inner
                                .wpb_wrapper
                                    h2.vc_custom_heading.title(style='text-align: left')
                                        | The fully managed
                                        br
                                        | digital cloud
                                    .wpb_text_column.wpb_content_element.description.blue
                                        .wpb_wrapper
                                            p
                                                | We’ve worked with many companies
                                                br
                                                | to create amazing work environments.
                                                br
                                                | Our team knows how to get things
                                                br
                                                | right.
                        .wpb_column.vc_column_container.vc_col-sm-6.vc_col-lg-6.vc_col-md-6.vc_col-xs-12
                            .vc_column-inner
                                .wpb_wrapper
                                    .wpb_single_image.wpb_content_element.vc_align_right
                                        figure.wpb_wrapper.vc_figure
                                            .vc_single_image-wrapper.vc_box_border_grey
                                                img.vc_single_image-img.attachment-full(src='https://stage-three.i-wp-dev.com/wp-content/uploads/2022/05/cases-banner.png' alt='' loading='lazy' title='cases-banner')
                    .vc_row.wpb_row.vc_inner.vc_row-fluid.cases-title
                        .wpb_column.vc_column_container.vc_col-sm-12
                            .vc_column-inner
                                .wpb_wrapper
                                    h1.vc_custom_heading.title(style='text-align: center') CASES
                    .cases.fintech.vc_row.wpb_row.vc_inner.vc_row-fluid.vc_row-has-fill.vc_row-o-content-middle.vc_row-flex
                        .wpb_column.vc_column_container.vc_col-sm-12  
                            .vc_column-inner 
                                .wpb_wrapper 
                                    .wpb_column.vc_column_container.vc_col-sm-12.vc_col-lg-12.vc_col-md-12.vc_col-xs-12
                                        .vc_column-inner
                                            .wpb_wrapper
                                                h2.title FinTech  
                                                .cases-item
                                                    a.link(href='#')
                                                    .cases-head
                                                        img(src='img/cases-4.jpg' alt='')
                                                    .cases-footer
                                                        h3.title Crowdfunding tech engine
                                                        p Online crowdfunding/crowdsourcing platform 
                                                            br
                                                            | for good-cause charity campaigns
                                                        p.more More
                                                .cases-item
                                                    a.link(href='#')
                                                    .cases-head
                                                        img(src='img/cases-5.jpg' alt='')
                                                    .cases-footer
                                                        h3.title Personal Credit Management
                                                        p German financial services company 
                                                            br
                                                            | overcoming a major customer pain point
                                                        p.more More
                    .cases.edtech.vc_row.wpb_row.vc_inner.vc_row-fluid.vc_row-has-fill.vc_row-o-content-middle.vc_row-flex
                        .wpb_column.vc_column_container.vc_col-sm-12
                            .vc_column-inner 
                                .wpb_wrapper 
                                    .wpb_column.vc_column_container.vc_col-sm-12.vc_col-lg-12.vc_col-md-12.vc_col-xs-12
                                        .vc_column-inner
                                            .wpb_wrapper
                                                h2.title EdTech
                                                .cases-item
                                                    a.link(href='#')
                                                    .cases-head
                                                        img(src='img/cases-6.jpg' alt='')
                                                    .cases-footer
                                                        h3.title Us edtech company
                                                        p Education platform for mental health lessons
                                                            br 
                                                            | in high schools
                                                        p.more More
                                                .cases-item
                                                    a.link(href='#')
                                                    .cases-head
                                                        img(src='img/cases-7.jpg' alt='')
                                                    .cases-footer
                                                        h3.title German EdTech leader
                                                        p Full scale system migration for a German 
                                                            br
                                                            | provider of network traffic filtering
                                                        p.more More
                    #form.vc_row.wpb_row.vc_inner.vc_row-fluid.gradient.vc_custom_1653039472035.vc_row-o-content-middle.vc_row-flex
                        .wpb_column.vc_column_container.vc_col-sm-12
                            .vc_column-inner.vc_custom_1647961094251
                                .wpb_wrapper
                                    .templatera_shortcode
                                        .wpb_column.vc_column_container.vc_col-sm-12
                                            .vc_column-inner
                                                .wpb_wrapper
                                                    .vc_row.wpb_row.vc_inner.vc_row-fluid.form-block.no-radio-button.vc_row-o-content-middle.vc_row-flex
                                                        .wpb_column.vc_column_container.vc_col-sm-12
                                                            .vc_column-inner
                                                                .wpb_wrapper
                                                                    h2.vc_custom_heading.title(style='text-align: center') Let's talk!
                                                                    #wpcf7-f883-p900-o1.wpcf7(role='form' dir='ltr' lang='en-US')
                                                                        .screen-reader-response
                                                                            p(role='status' aria-live='polite' aria-atomic='true')
                                                                            ul
                                                                        form.wpcf7-form.init(action='/our-work/#wpcf7-f883-p900-o1' method='post' novalidate='novalidate' data-status='init')
                                                                            div(style='display: none;')
                                                                                input(type='hidden' name='_wpcf7' value='883')
                                                                                input(type='hidden' name='_wpcf7_version' value='5.5.6')
                                                                                input(type='hidden' name='_wpcf7_locale' value='en_US')
                                                                                input(type='hidden' name='_wpcf7_unit_tag' value='wpcf7-f883-p900-o1')
                                                                                input(type='hidden' name='_wpcf7_container_post' value='900')
                                                                                input(type='hidden' name='_wpcf7_posted_data_hash' value='')
                                                                            p
                                                                                span.wpcf7-form-control-wrap.full_name
                                                                                    input.wpcf7-form-control.wpcf7-text.wpcf7-validates-as-required(type='text' name='full_name' value='' size='40' aria-required='true' aria-invalid='false' placeholder='Full name*')
                                                                                br
                                                                                span.wpcf7-form-control-wrap.company_name
                                                                                    input.wpcf7-form-control.wpcf7-text.wpcf7-validates-as-required(type='text' name='company_name' value='' size='40' aria-required='true' aria-invalid='false' placeholder='Company name*')
                                                                                br
                                                                                span.wpcf7-form-control-wrap.email_user
                                                                                    input.wpcf7-form-control.wpcf7-text.wpcf7-email.wpcf7-validates-as-required.wpcf7-validates-as-email(type='email' name='email_user' value='' size='40' aria-required='true' aria-invalid='false' placeholder='Email address*')
                                                                                br
                                                                                span.wpcf7-form-control-wrap.message
                                                                                    textarea.wpcf7-form-control.wpcf7-textarea.wpcf7-validates-as-required(name='message' cols='40' rows='10' aria-required='true' aria-invalid='false' placeholder='Message*')
                                                                                br
                                                                                input.wpcf7-form-control.has-spinner.wpcf7-submit(type='submit' value='SEND MESSAGE')
                                                                                span.wpcf7-spinner
                                                                            .wpcf7-response-output(aria-hidden='true')
                    .vc_row.wpb_row.vc_inner.vc_row-fluid.form.vc_custom_1653036132434.vc_row-o-content-middle.vc_row-flex
                        .wpb_column.vc_column_container.vc_col-sm-12
                            .vc_column-inner.vc_custom_1647961094251
                                .wpb_wrapper
                                    h2.vc_custom_heading.title(style='text-align: left') Our newsletter (you’ll love it):
                                    #wpcf7-f609-p17-o2.wpcf7(role='form' dir='ltr' lang='en-US')
                                        .screen-reader-response
                                            p(role='status' aria-live='polite' aria-atomic='true')
                                            ul
                                        form.wpcf7-form.init(action='/our-work/#wpcf7-f609-p17-o2' method='post' novalidate='novalidate' data-status='init')
                                            div(style='display: none;')
                                                input(type='hidden' name='_wpcf7' value='609')
                                                input(type='hidden' name='_wpcf7_version' value='5.5.6')
                                                input(type='hidden' name='_wpcf7_locale' value='en_US')
                                                input(type='hidden' name='_wpcf7_unit_tag' value='wpcf7-f609-p17-o2')
                                                input(type='hidden' name='_wpcf7_container_post' value='17')
                                                input(type='hidden' name='_wpcf7_posted_data_hash' value='')
                                            .input
                                                span.wpcf7-form-control-wrap.email-416
                                                    input.wpcf7-form-control.wpcf7-text.wpcf7-email.wpcf7-validates-as-email(type='email' name='email-416' value='' size='40' aria-invalid='false' placeholder='Email address *')
                                            .submit
                                                input.wpcf7-form-control.has-spinner.wpcf7-submit.button(type='submit' value='Submit')
                                                span.wpcf7-spinner
                                            .wpcf7-response-output(aria-hidden='true')