section
    .vc_row.wpb_row.vc_row-fluid.privacy-policy.vc_row-o-content-middle.vc_row-flex
        .wpb_column.vc_column_container.vc_col-sm-12
            .vc_column-inner
                .wpb_wrapper
                    .vc_row.wpb_row.vc_inner.vc_row-fluid
                        .wpb_column.vc_column_container.vc_col-sm-12
                            .vc_column-inner
                                .wpb_wrapper
                                    .wpb_text_column.wpb_content_element
                                        .wpb_wrapper
                                            p
                                                | Provectus IT Inc (“Provectus” or “we” or “us”) respects and upholds your right to privacy protection. Provectus recognizes applicable local laws and regulations and relevant data protection standards in respect of the collection, use, disclosure, storage, and transfer of personal information from individuals.
                                            p
                                                | This privacy policy (“Privacy Policy”) details the practices we have adopted to protect your privacy so that you can understand how we manage your “personal information” (as defined under the California Consumer Privacy Act of 2018, Cal. Civ. Code §§ 1798.100 et seq. (CCPA) (together collectively referred to as “personal information” in this Privacy Policy), you entrust to us.
                                            p
                                                | This Privacy Policy also sets out how you can contact us in relation to your personal information and, if requested by you, opt-out of this Privacy Policy, limit the use of, or amend, any personal information we may have about you.
                                            p
                                                | By providing us with personal information about yourself through our website, or otherwise, you consent to the collection, use, disclosure, storage, and transfer of that personal information as set out in this Privacy Policy. If at any time, you wish to withdraw your consent to the collection, use, disclosure, storage, and transfer of your personal information in accordance with our Privacy Policy, you may opt-out by contacting us (refer to the Contact Us information below) or by immediately ceasing to provide any further personal information about yourself to Provectus via its website or otherwise.
                                            h2
                                                | 1. 
                                                strong What personal information do we collect from the people who visit our website?  
                                            p Generally, the personal information we collect is limited to:
                                            ul
                                                li Contact data, which includes your email address(es).
                                                li
                                                    | Identity data, which includes your first name, last name, the name of your entityMarketing and communications data, which includes your preferences in receiving marketing from us and your communication preferences.
                                                li
                                                    | Technical data, which includes your internet protocol (IP) address, login data, browser type, and version, time zone setting and location, browser plug-in types and versions, operating system, platform, and other technology on the devices you use to access this website.
                                                li Usage data, which includes information about how you use our website.
                                            p
                                                | We may use the above personal data to form a view on what we think you may want or need, or what may be of interest to you.
                                            p
                                                | You may receive marketing communications from us if you have requested information from us or purchased services from us or if you have provided us with your details when you entered a survey or registered for an event or a promotion, and, in each case, you have not opted out of receiving that marketing.
                                            p
                                                | You can tell us not to contact you with marketing communications either at the point such information is collected or by following the unsubscribe instructions in any communication sent to you. You can also exercise this right at any time by contacting us using the contact details at the end of this Privacy Policy.
                                            p
                                                | We do not collect personal Information about you other than the information which you voluntarily provide to us through this site to fulfill the purpose of your request.
                                            p
                                                | We may also collect other personal information contained in the content you submit to us.
                                            h2
                                                | 2. 
                                                strong How long do we process personal information?
                                            p
                                                | We process personal Information only for so long as is necessary for the purpose(s) for which it was originally collected, after which it will be deleted or archived except to the extent that it is necessary for us to continue to process it for the purpose of compliance with legal obligations to which we are subject or for another legitimate and lawful purpose. We will only keep your personal information when we consider it necessary for one of the purposes for which you have disclosed it. If it is no longer necessary to keep your personal information, we will take reasonable steps to destroy or de-identify your personal information safely, if required.
                                            h2
                                                strong  3. Use of your Information
                                            p
                                                | We use your information for a variety of business and commercial purposes to complete any transaction or provide any product you have requested or authorized. We will not sell (other than as defined under CCPA), rent, loan, or lease your personal Information to others unless we have your permission or are required by law to do so. We will not use or share the personal Information that you provide us online in ways unrelated to those described herein without first letting you know and, where required, seeking your consent.
                                            p
                                                | In case we are planning to change the purpose of the processing of your information that is incompatible with the original one, we will contact you to provide you with further information on purposes for processing prior to it taking place, at all times ensuring appropriate legal basis for processing, which may include asking for your additional consent.
                                            h2
                                                | 4. 
                                                strong Who do we disclose your personal information?
                                            p We may share your personal information with:
                                            ul
                                                li Any member of our group, which means our subsidiaries, and their subsidiaries.
                                                li Appropriate third parties including:
                                            ul
                                                li
                                                    | our business partners, customers, suppliers, and sub-contractors for the performance of any contract we enter into or other dealings we have in the normal course of business with you or the person that you work for;
                                                li
                                                    | our auditors, legal advisors, and other professional advisors or service providers;
                                                li In relation to information obtained via our website:
                                            ul
                                                li
                                                    | our advertisers and advertising networks that require the Information to select and serve relevant adverts to you and others. We do not disclose information about identifiable individuals to our advertisers, but we will provide them with aggregate information about our users. We may also use such aggregate information to help advertisers reach the kind of audience they want to target. We may make use of the personal Information we have collected from you to enable us to comply with our advertisers’ wishes by displaying their advertisement to that target audience and subject to the cookie section of this policy;
                                                li
                                                    | analytics and search engine providers that assist us in the improvement and optimization of our site and are subject to the cookie section of this policy.
                                            h2
                                                | 5. 
                                                strong Information Security
                                            p
                                                | We have put in place appropriate security measures to prevent your personal information from being accidentally lost, used, or accessed in an unauthorized way, altered or disclosed. In addition, we limit access to your personal information to those employees, agents, contractors, and other third parties who have a business need to know. They will only process your personal Information on our instructions and they are subject to a duty of confidentiality.
                                            p
                                                | We have put in place procedures to deal with any suspected personal information data breach and will notify you and any applicable regulator of a breach where we are legally required to do so.
                                            p
                                                | We use a variety of secure techniques to store and protect your information, including secure IT systems and firewalls. Any digital transfer of personal information is secured using a range of security methods. Provectus is constantly reviewing its information security technology and practices.
                                            h2
                                                | 6. 
                                                strong Children’s Privacy/COPPA
                                            p
                                                | This website is not directed at children under the age of 13. Some children may use our website to obtain information, but we do not anticipate that they will engage in activities that result in PRC obtaining any personal information. If we learn that we have information about a child under the age of 13, we will delete it.
                                            h2
                                                | 7. 
                                                strong Third-Party Websites and Social Media Platforms
                                            p
                                                | Our website may contain links to other websites for news and other information, and other websites may reference or link to our website or other Services. Our Privacy Policy only applies to this corporate website, and we are not responsible for the privacy practices or the content of other websites. You should check the privacy policies of those sites before providing your personal information to them. Our Services may include publicly accessible blogs, forums, social media pages, talent acquisition platforms,
                                                strong  
                                                | and private messaging features. By using such Services, you assume the risk that the personal information provided by you may be viewed and used by third parties for any number of purposes. In addition, social media buttons such as Facebook, Linked In, and Twitter may be on our website. These features may collect your IP address, which page you are visiting on our website, and may set a cookie to enable the feature to function properly. These social media features are either hosted by a third party or hosted directly on our website. Your interactions with these features apart from your visit to our site are governed by the privacy policy of the company providing it.
                                            h2
                                                | 8. 
                                                strong Cookies and other technologies
                                            p
                                                | Cookies are small text files placed on your device to store data that can be recalled by a web server in the domain that placed the cookie.
                                            p
                                                | Our website may use “cookies” and other technologies such as web beacons. These technologies help us to better understand user behavior including for security and fraud prevention purposes, tell us which parts of our websites people have visited, and facilitate and measure the effectiveness of advertisements and web searches.
                                                strong  
                                            p
                                                | Our websites may include cookies or similar technologies from third-party service providers.
                                            p
                                                | You have a variety of tools to control the data collected by cookies and similar technologies. For example, you can use controls in your internet browser to limit how the websites you visit are able to use cookies and to withdraw your consent by clearing or blocking cookies.To learn more about these tools and to control them, please view our 
                                                a(href='https://provectus.com/cookies-policy/') Cookies Policy
                                                | .
                                            h2
                                                | 9. 
                                                strong Future changes to our Privacy Policy
                                            p
                                                | Your privacy is important to us and Provectus is committed to our privacy practices being up-to-date with prevailing best practices and changes in local laws, regulations, and data protection standards and technology.
                                            p
                                                | Given this, we may change our Privacy Policy from time to time and will notify you by posting an updated version of our Privacy Policy on our website.
                                            h2
                                                | 10. 
                                                strong How to contact us
                                            p
                                                | If you have any questions about our Privacy Policy, wish to opt-out of our Privacy Policy or have any complaint regarding the treatment of your privacy or personal information by us, please contact us by sending an email to
                                                a(href='mailto:legal@provectus.com')  legal@provectus.com
                                                | .
                                            p
                                                | If you contact us requesting access to your information, we will respond within 30 days.
                                            p
                                                | To stop receiving our promotional emails, please send an email to 
                                                a(href='mailto:info@provectus.com') info@provectus.com
                                                |  or follow the instructions in any promotional message you get from us.
                                            p This policy was last updated on August 19, 2021.                                            з Ершы зщдшсн цфы дфые гзвфеув щт Фгпгые 19^ 2021&