section
    .vc_row.wpb_row.vc_row-fluid.vc_row-no-padding.vc_row-o-content-middle.vc_row-flex.services-inner 
        .wpb_column.vc_column_container.vc_col-sm-12
            .vc_column-inner
                .wpb_wrapper
                    .vc_row.wpb_row.vc_inner.vc_row-fluid.banner.vc_row-o-content-middle.vc_row-flex
                        .wpb_column.vc_column_container.vc_col-sm-6.vc_col-lg-6.vc_col-md-6.vc_col-xs-12
                            .vc_column-inner
                                .wpb_wrapper
                                    h2.vc_custom_heading.title(style='text-align: left')
                                        | Focus on building your
                                        br
                                        | product.
                                        br
                                        strong
                                            | We make sure it is always
                                            br
                                            | up and running.
                        .wpb_column.vc_column_container.vc_col-sm-6.vc_col-lg-6.vc_col-md-6.vc_col-xs-12
                            .vc_column-inner
                                .wpb_wrapper
                                    .wpb_single_image.wpb_content_element.vc_align_right
                                        figure.wpb_wrapper.vc_figure
                                            .vc_single_image-wrapper.vc_box_border_grey
                                                img.vc_single_image-img.attachment-full(src='http://ostridelabs.docker.localhost/wp-content/uploads/2022/04/sre-banner.png' alt='' loading='lazy' title='sre-banner' srcset='http://ostridelabs.docker.localhost/wp-content/uploads/2022/04/sre-banner.png 491w, http://ostridelabs.docker.localhost/wp-content/uploads/2022/04/sre-banner-300x300.png 300w, http://ostridelabs.docker.localhost/wp-content/uploads/2022/04/sre-banner-150x150.png 150w' sizes='(max-width: 491px) 100vw, 491px' width='491' height='491')
                    .vc_row.wpb_row.vc_inner.vc_row-fluid.services-title.vc_row-o-content-middle.vc_row-flex
                        .wpb_column.vc_column_container.vc_col-sm-12
                            .vc_column-inner
                                .wpb_wrapper 
                                    h1.vc_custom_heading.title(style='text-align: center') Managed Services / SRE
                    .vc_row.wpb_row.vc_inner.vc_row-fluid.services-item.vc_row-o-content-middle.vc_row-flex
                        .wpb_column.vc_column_container.vc_col-sm-6.vc_col-lg-8.vc_col-md-7.vc_col-xs-12
                            .vc_column-inner
                                .wpb_wrapper
                                    .wpb_raw_code.wpb_content_element.wpb_raw_html
                                        .wpb_wrapper
                                            ul.menu-svg 
                                                li release
                                                li edloy
                                                li operate 
                                                li monitore
                                                li plan
                                                li code
                                                li build
                                                li test 
                                            svg.infinity(version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 554 267.6' style='enable-background:new 0 0 554 267.6;' xml:space='preserve' width='554' height='267.6')
                                                style(type='text/css').
                                                    .infinity .st0 {fill: #08DDDD;}.infinity .st1 {fill-rule: evenodd;clip-rule: evenodd;fill: #3765AF;}.infinity .st2 {fill: none;stroke: #28A1E6;}.infinity .st3 {fill: #0B223D;}
                                                path.st0.dev(d='M107.4,111.5c4.7,0,8.2,1.3,10.7,3.9s3.7,6.2,3.7,11c0,4.8-1.2,8.4-3.7,11s-6,3.9-10.7,3.9H94.8v-29.8L107.4,111.5L107.4,111.5z M106.7,135.4c2.5,0,4.4-0.8,5.5-2.2s1.8-3.8,1.8-6.8s-0.6-5.2-1.8-6.7s-3-2.3-5.5-2.3h-4.1v18H106.7zM136.7,141.7c-2.2,0.1-4.5-0.4-6.5-1.4c-1.8-0.9-3.2-2.3-4.2-4c-2-4-2-8.6,0-12.6c1-1.7,2.4-3.1,4.2-4c1.9-1,4-1.4,6.2-1.4c2.1-0.1,4.2,0.4,6,1.4c1.6,0.8,3,2.2,3.8,3.8c0.9,1.7,1.3,3.6,1.3,5.5c0,0.5,0,1.1-0.1,1.6c0,0.5-0.1,0.9-0.1,1.3h-17.8v-4.1H144l-3.6,1.4c0.1-1.4-0.3-2.9-1-4.1c-0.7-1-1.8-1.5-3-1.4c-0.9,0-1.7,0.2-2.5,0.7c-0.7,0.5-1.3,1.3-1.5,2.1c-0.4,1.2-0.5,2.4-0.5,3.7c0,1.2,0.2,2.5,0.6,3.6c0.3,0.8,0.9,1.5,1.7,2c0.8,0.4,1.7,0.6,2.6,0.6c0.9,0.1,1.9-0.2,2.7-0.7c0.7-0.5,1.2-1.1,1.5-1.9l6.1,2c-0.4,1.3-1.2,2.4-2.2,3.2c-1.1,0.9-2.3,1.6-3.7,2C139.8,141.5,138.3,141.7,136.7,141.7z M164.9,118.7h7.9l-8.1,22.5h-9.1l-8.1-22.5h8.1l4.6,17.2L164.9,118.7z')
                                                path.st0.ops(d='M382.4,111c2.7-0.1,5.4,0.6,7.8,1.8c2.2,1.2,3.9,3,5,5.2c2.3,5.2,2.3,11.3,0,16.5c-1.1,2.2-2.9,4.1-5,5.3c-2.4,1.3-5.1,1.9-7.8,1.8c-2.7,0.1-5.4-0.6-7.8-1.8c-2.2-1.2-3.9-3.1-5-5.3c-2.3-5.2-2.3-11.3,0-16.5c1.1-2.2,2.8-4,5-5.2C377,111.6,379.7,110.9,382.4,111z M382.4,117.1c-1.3-0.1-2.6,0.3-3.6,1c-1.1,0.8-1.8,1.9-2.2,3.1c-0.6,1.6-0.8,3.4-0.8,5.1s0.2,3.5,0.8,5.1c0.4,1.2,1.2,2.3,2.2,3.1c1.1,0.7,2.4,1.1,3.6,1c1.3,0.1,2.5-0.3,3.6-1c1.1-0.8,1.8-1.9,2.2-3.1c0.6-1.6,0.8-3.4,0.8-5.1c0.1-1.7-0.2-3.5-0.8-5.1c-0.4-1.2-1.2-2.3-2.2-3.1C385,117.4,383.7,117.1,382.4,117.1L382.4,117.1zM400.8,150.7v-32h6.9l0.4,8.2l-0.9-1c0.2-1.4,0.7-2.8,1.4-4c0.7-1.1,1.7-2,2.8-2.7c1.2-0.7,2.5-1,3.9-1c1.7,0,3.4,0.4,4.9,1.4c1.4,1,2.6,2.4,3.2,4c0.8,2,1.2,4.1,1.2,6.3c0.1,2.2-0.3,4.3-1.2,6.4c-0.7,1.6-1.8,3.1-3.3,4.1c-1.4,1-3.1,1.4-4.9,1.4c-1.8,0.1-3.6-0.6-5-1.8c-1.3-1.3-2.2-2.9-2.5-4.6l0.7-1.1v16.6L400.8,150.7z M412.6,136c1.2,0,2.4-0.5,3.1-1.4c0.9-1.4,1.3-3,1.1-4.6c0.1-1.6-0.3-3.2-1.1-4.6c-0.7-1-1.9-1.5-3.1-1.5c-0.8,0-1.6,0.2-2.2,0.7c-0.7,0.5-1.2,1.2-1.5,2c-0.4,1.1-0.5,2.2-0.5,3.3c0,1.1,0.1,2.2,0.5,3.3c0.3,0.8,0.8,1.5,1.5,2.1C411,135.8,411.8,136.1,412.6,136L412.6,136z M437.6,141.7c-2.2,0-4.3-0.3-6.3-1.1c-1.8-0.7-3.5-1.8-4.8-3.2l3.6-4.2c0.8,1,1.8,1.8,3,2.4c1.3,0.6,2.7,1,4.2,0.9c0.8,0,1.6-0.1,2.3-0.4c0.5-0.2,0.9-0.7,0.9-1.3c0-0.4-0.1-0.8-0.5-1c-0.5-0.4-1.2-0.6-1.8-0.7l-3.2-0.6c-2.8-0.6-4.8-1.4-6-2.5c-1.2-1.2-1.8-2.8-1.8-4.5c0-1.3,0.4-2.5,1.1-3.5c0.9-1.2,2.1-2.2,3.5-2.8c1.9-0.8,3.9-1.2,6-1.1c2,0,4.1,0.3,6,1c1.6,0.6,3,1.6,4.1,2.9l-3.6,4.2c-0.7-0.9-1.7-1.6-2.8-2.1c-1.1-0.5-2.2-0.8-3.4-0.8c-0.6,0-1.2,0.1-1.9,0.2c-0.4,0.1-0.8,0.3-1.1,0.5c-0.2,0.2-0.4,0.6-0.4,0.9c0,0.4,0.2,0.8,0.5,1c0.7,0.4,1.4,0.6,2.1,0.7l4.1,0.8c1.9,0.2,3.6,1,5,2.3c1,1.1,1.6,2.5,1.5,4c0,1.4-0.4,2.8-1.2,4c-0.9,1.3-2.1,2.2-3.5,2.8C441.7,141.4,439.6,141.7,437.6,141.7L437.6,141.7z')
                                                g.arrows
                                                    g.arrow
                                                        path.st1(d='M208.5,52.4l-0.6,38.3l34.9,40.9c12.1-13.2,24.2-26.3,36.4-39.4L245.5,53L208.5,52.4z M279.4,170l34.3,39.7l0.4-38.5l37.5,0.4l-35.8-41.2C303.6,143.5,291.5,156.7,279.4,170L279.4,170z')
                                                        path.st2(d='M314.1,170.1h-0.9l-0.4,37l-32.1-37.3c11.7-12.8,23.4-25.6,35.2-38.2l33.7,38.9L314.1,170.1z M242.8,130l-34.1-39.7l0.5-37.1l35.6,0.5l32.9,38.2C266.1,104.6,254.4,117.3,242.8,130z')
                                                        path.st3.text(d='M234.6,71.7c0.5,0.5,1,1.2,1.2,1.9c0.2,0.6,0.3,1.3,0.1,1.9c-0.2,0.7-0.5,1.3-1,1.7c-0.5,0.5-1.1,0.9-1.8,1c-0.6,0.1-1.3,0.1-1.9-0.2c-0.7-0.3-1.3-0.8-1.9-1.3l-2.2-2.3l-3.7,3.5l-0.6-0.7l8.9-8.6L234.6,71.7z M229.9,76.1c0.6,0.7,1.4,1.1,2.2,1.3c0.8,0.1,1.5-0.2,2.1-0.8c0.6-0.5,0.9-1.2,0.9-2c-0.1-0.9-0.5-1.7-1.2-2.3l-2.1-2.3l-4,3.8L229.9,76.1zM231.4,85.1l5.1,5.4L236,91l-5.8-6l8.9-8.6l0.6,0.7L231.4,85.1z M243.9,99.3l-0.7-0.7l1.7-3.8l-4.1-4.3l-3.9,1.6l-0.7-0.7l12.4-5l0.8,0.8L243.9,99.3z M241.7,90.1l3.6,3.9l3-6.6L241.7,90.1z M260.8,99l-9,8.6l-0.8-0.8l2.5-11.5l0.5-1.8l0,0l-1,1.1l-7.1,6.8l-0.6-0.7l9-8.6L255,93l-2.5,11.5l-0.5,1.8l1.1-1.1l7.1-6.8L260.8,99z')
                                                    g.arrow
                                                        path.st1(d='M199,46h37.2C208.5,20.9,171.3,6,133.4,6c-27.1-0.1-53.6,8.4-75.7,24.2v40.1h34.5c12.3-7.8,26.6-12,41.2-11.9c23,0,48.2,9.1,65.5,24.6L199,46z')
                                                        path.st2(d='M199,45.1h-0.9V81c-17.5-14.8-42.1-23.5-64.6-23.5c-14.7,0-29,4.1-41.5,11.9H58.7V30.7c21.8-15.5,48-23.8,74.8-23.8c36.8,0,73,14.2,100.3,38.1L199,45.1z')
                                                        path.st3.text(d='M118.3,38.5c-0.2,0.7-0.6,1.3-1.1,1.8s-1,0.9-1.7,1.1c-1.7,0.6-3.6,0.5-5.2-0.4c-0.9-0.5-1.6-1.3-2-2.2c-0.5-1.1-0.7-2.2-0.7-3.4c0-1.2,0.2-2.3,0.7-3.4c0.4-0.9,1.1-1.7,2-2.2s1.9-0.8,3-0.8c0.7,0,1.5,0.1,2.2,0.4c0.6,0.2,1.2,0.5,1.6,1c0.5,0.5,0.8,1,1,1.7l-0.9,0.4c-0.2-0.8-0.7-1.5-1.4-2c-0.8-0.5-1.6-0.6-2.5-0.6c-1.8,0-3.4,1-4.1,2.6c-0.4,0.9-0.6,1.9-0.6,3c0,1,0.2,2,0.6,3c0.7,1.6,2.3,2.6,4.1,2.5c0.9,0,1.8-0.2,2.6-0.7c0.7-0.5,1.2-1.3,1.5-2.1L118.3,38.5z M125.6,29.1c1.1,0,2.1,0.2,3,0.8c0.9,0.5,1.6,1.3,2,2.2c0.5,1.1,0.7,2.2,0.7,3.4c0,1.2-0.2,2.3-0.7,3.4c-0.4,0.9-1.1,1.7-2,2.2c-0.9,0.5-1.9,0.8-3,0.8s-2.1-0.3-3-0.8s-1.6-1.3-2-2.2c-0.5-1.1-0.7-2.2-0.7-3.4c0-1.2,0.2-2.3,0.7-3.4c0.4-0.9,1.1-1.7,2-2.2C123.5,29.4,124.6,29.1,125.6,29.1z M125.6,30c-0.9,0-1.8,0.2-2.5,0.7s-1.3,1.1-1.6,1.9c-0.4,0.9-0.6,1.9-0.6,3c0,1,0.2,2,0.6,3c0.4,0.8,0.9,1.5,1.6,1.9c1.6,0.9,3.4,0.9,5,0c0.7-0.5,1.3-1.1,1.6-1.9c0.4-0.9,0.6-1.9,0.6-3c0-1-0.2-2-0.6-3c-0.3-0.8-0.9-1.4-1.6-1.9C127.4,30.2,126.5,30,125.6,30L125.6,30z M138,29.3c1.7-0.1,3.3,0.5,4.6,1.6c1.1,1.2,1.7,2.9,1.6,4.5c0.1,1.7-0.5,3.4-1.6,4.7c-1.2,1.1-2.9,1.7-4.6,1.6h-3.9V29.3H138z M138.1,40.8c1.4,0.1,2.8-0.4,3.8-1.4c0.9-1.1,1.4-2.5,1.3-4c0.1-1.4-0.4-2.8-1.3-3.9c-1-1-2.4-1.5-3.8-1.4h-3v10.6h3V40.8z M146.9,41.7V29.3h8.5v0.9h-7.5V35h5.9v0.9h-5.9v5h7.8v0.9L146.9,41.7z')
                                                    g.arrow
                                                        path.st1(d='M50.5,36.1C-0.7,81.4-7.6,158.9,34.6,212.6H72V175c-20.3-30.5-16-71.1,10.1-96.7H50.5V36.1z')
                                                        path.st2(d='M49.6,78.3v0.9h30.3c-25,26-28.7,65.9-8.8,96v36.4h-36C-6.1,158.9,0.2,83.4,49.6,38.2V78.3z')
                                                        path.st3.text(d='M27.7,107.5h12.4v4.4c0.1,1.1-0.2,2.1-0.9,3c-0.6,0.7-1.5,1.1-2.4,1c-0.7,0-1.3-0.2-1.8-0.6s-0.9-1-1-1.7l0,0c-0.1,0.7-0.4,1.4-1,1.9c-0.5,0.5-1.3,0.8-2,0.7c-0.9,0-1.9-0.4-2.4-1.1c-0.7-1-1-2.1-0.9-3.2L27.7,107.5z M28.5,108.5v3.6c-0.1,0.8,0.2,1.7,0.6,2.4c0.4,0.6,1.1,0.9,1.8,0.8c0.7,0,1.4-0.3,1.8-0.8c0.5-0.7,0.7-1.5,0.6-2.4v-3.6H28.5z M34.4,108.5v3.5c0,2,0.8,3,2.4,3s2.4-1,2.4-3v-3.5H34.4z M40.1,128.3h-7.9c-1.3,0.1-2.6-0.4-3.5-1.3c-0.9-1-1.3-2.2-1.2-3.5c-0.1-1.3,0.4-2.6,1.2-3.5c0.9-0.9,2.2-1.4,3.5-1.3h7.9v0.9h-7.7c-1.1-0.1-2.2,0.3-3,1c-0.7,0.8-1.1,1.8-1,2.9c-0.1,1.1,0.3,2.1,1,2.9c0.8,0.7,1.9,1.1,3,1h7.7V128.3z M40.1,132.5H27.7v-0.9h12.4V132.5z M28.5,136.9v7.4h-0.9V136H40v0.9H28.5zM40.1,150.3c0.1,1.7-0.5,3.3-1.6,4.6c-1.2,1.1-2.8,1.7-4.5,1.6c-1.7,0.1-3.4-0.5-4.7-1.6c-1.1-1.2-1.7-2.9-1.6-4.6v-3.9h12.4V150.3z M28.5,150.4c-0.1,1.4,0.4,2.8,1.4,3.8c1.1,0.9,2.5,1.4,4,1.3c1.4,0.1,2.8-0.4,3.9-1.3c1-1,1.5-2.4,1.4-3.8v-3H28.5V150.4z')
                                                    g.arrow
                                                        path.st1(d='M219.3,199.6h-41c-10.8,6.7-28,9.8-43.9,9.8c-19.5,0.1-38.2-7.5-52.1-21.2v34H44.6c23.7,24,56.1,37.5,89.8,37.4c32.5,0,62.7-7.6,84.9-27.6V199.6z')
                                                        path.st2(d='M82.3,223.1h0.9v-32.7c13.9,12.9,32.2,20,51.2,19.9c15.8,0,33.2-3,44.2-9.8h39.8v31c-22,19.6-51.7,27.1-84,27.1c-32.7,0.1-64.1-12.7-87.5-35.5H82.3z')
                                                        path.st3.text(d='M124.5,226.5v0.9H120v11.5h-1v-11.5h-4.5v-0.9H124.5z M126.5,238.9v-12.4h8.5v0.9h-7.5v4.8h6v0.9h-6v5h7.8v0.9L126.5,238.9L126.5,238.9z M141.5,226.3c1,0,2,0.2,2.9,0.7c0.8,0.5,1.4,1.2,1.8,2.1l-0.8,0.6c-0.3-0.8-0.8-1.5-1.5-1.9s-1.6-0.6-2.4-0.6c-0.6,0-1.3,0.1-1.9,0.4c-0.5,0.2-0.9,0.5-1.2,0.9s-0.4,0.8-0.4,1.3s0.2,1.1,0.6,1.4c0.6,0.5,1.3,0.8,2.1,0.9l2.4,0.5c0.9,0.1,1.8,0.5,2.6,1.1c0.5,0.5,0.8,1.2,0.8,1.9s-0.2,1.3-0.6,1.8c-0.4,0.5-1,1-1.6,1.2c-0.8,0.3-1.6,0.4-2.4,0.4c-0.8,0-1.6-0.1-2.4-0.4c-0.6-0.2-1.2-0.6-1.7-1s-0.8-1-1.1-1.6l0.8-0.6c0.2,0.6,0.5,1.1,0.9,1.5s0.9,0.7,1.5,0.9c1.3,0.4,2.6,0.4,3.9,0c0.5-0.2,0.9-0.5,1.3-0.9c0.3-0.4,0.5-0.9,0.5-1.4s-0.2-1-0.6-1.3c-0.6-0.5-1.3-0.7-2-0.8l-2.6-0.6c-0.7-0.1-1.3-0.4-1.9-0.7c-0.4-0.2-0.8-0.6-1.1-1c-0.5-1-0.4-2.2,0.2-3.1c0.4-0.6,0.9-1,1.6-1.3C139.8,226.5,140.6,226.3,141.5,226.3L141.5,226.3z M156.8,226.5v0.9h-4.5v11.5h-0.9v-11.5h-4.5v-0.9H156.8z')
                                                    g.arrow
                                                        path.st1(d='M365.8,41.7v36.4c-46,46.7-90.1,95.3-134.1,144v-34.3H193c44.1-49.6,88.5-97.3,133.6-146.1L365.8,41.7z')
                                                        path.st2(d='M364.9,77.7c-45.4,46.1-88.9,94-132.2,141.9v-32.8h-37.6c38.2-42.8,76.5-84.4,115.4-126.4c5.5-5.9,11-11.9,16.5-17.8h37.9V77.7z')
                                                        path.st3.text(d='M253.3,151c0.7-0.8,1.6-1.4,2.7-1.6c1-0.1,2,0.2,2.6,0.9c0.8,0.6,1.2,1.6,1.2,2.5c-0.1,1.1-0.6,2-1.3,2.8v0.1l-2.4,2.6l4,3.6l-0.6,0.7l-9.2-8.3L253.3,151z M257.8,155.1c0.6-0.6,0.9-1.3,1-2.2c-0.1-1.5-1.4-2.7-2.9-2.6c-0.8,0.1-1.5,0.6-2.1,1.2l-2.4,2.7l3.9,3.5L257.8,155.1z M258.5,154.7l7.2,1.1l-0.7,0.8l-6.6-1L258.5,154.7z M267.2,154.1l-9.2-8.3l5.7-6.3l0.6,0.6l-5,5.6l3.6,3.2l4-4.4l0.6,0.6l-4,4.4l3.7,3.3l5.2-5.8l0.6,0.6L267.2,154.1z M274.7,144.5l5-5.5l0.6,0.6l-5.6,6.2l-9.2-8.3l0.6-0.7L274.7,144.5z M281.7,138.1l-9.2-8.3l5.7-6.3l0.6,0.6l-5,5.6l3.6,3.2l4-4.4l0.6,0.6l-4,4.4l3.7,3.3l5.2-5.8l0.6,0.6L281.7,138.1z M295.4,122.9l-0.7,0.7l-3.9-1.4l-4,4.4l1.9,3.8L288,131l-5.9-12l0.7-0.8L295.4,122.9z M286.4,125.7l3.5-3.9l-6.8-2.6L286.4,125.7z M289.8,110.3c0.6-0.8,1.5-1.3,2.4-1.7c0.9-0.3,1.9-0.3,2.7,0l-0.1,1c-0.8-0.3-1.6-0.4-2.4-0.1s-1.5,0.8-2,1.4c-0.4,0.5-0.8,1-1,1.6c-0.2,0.5-0.2,1-0.1,1.5c0.1,0.4,0.3,0.8,0.7,1.2c0.4,0.4,0.9,0.6,1.4,0.5c0.8-0.1,1.5-0.4,2-0.9l2-1.5c0.7-0.6,1.6-1,2.6-1.1c0.7,0,1.4,0.2,1.9,0.7c0.5,0.4,0.8,1,0.9,1.7s0.1,1.4-0.2,2c-0.3,0.8-0.7,1.5-1.3,2.1c-0.5,0.6-1.2,1.1-1.9,1.5c-0.6,0.3-1.3,0.5-1.9,0.6c-0.7,0.1-1.3-0.1-1.9-0.3l0.1-1c0.5,0.3,1.1,0.4,1.7,0.4s1.2-0.2,1.7-0.5c0.6-0.3,1.1-0.8,1.6-1.3c0.4-0.5,0.8-1,1-1.6c0.2-0.5,0.3-1,0.2-1.5c-0.1-0.5-0.3-1-0.7-1.3c-0.4-0.3-0.9-0.5-1.4-0.5c-0.7,0.1-1.4,0.4-1.9,0.9l-2.1,1.5c-0.5,0.4-1.2,0.7-1.8,0.9c-0.5,0.2-1,0.2-1.5,0.1c-1.1-0.3-1.9-1.2-2.2-2.3c-0.2-0.7-0.1-1.4,0.1-2C288.9,111.6,289.3,110.9,289.8,110.3L289.8,110.3zM304.1,113.2l-9.2-8.3l5.7-6.3l0.6,0.6l-5,5.6l3.5,3.2l4-4.4l0.7,0.6l-4,4.4l3.7,3.3l5.2-5.8l0.6,0.6L304.1,113.2z')
                                                    g.arrow
                                                        path.st1(d='M375.7,31.7v38c12.4-9.2,27.9-11.7,44.6-11.7c16.6,0,32.7,5.5,45.8,15.6h38.7V38.2C481.5,17.4,451.4,6,420.2,6c-28.2,0-59.7,10.2-80.8,25.7l1.9,0.1L375.7,31.7z')
                                                        path.st2(d='M376.6,31.7v-0.9h-0.9l-33.4,0.1c20.9-14.5,51-24,78-24c30.8,0,60.6,11.2,83.6,31.6v34.1h-37.4C453.3,62.5,437,57,420.4,57c-16.1,0-31.2,2.3-43.6,10.8V31.7H376.6z')
                                                        path.st3.text(d='M407.2,41.7V29.3h8.5v0.9h-7.5V35h6v0.9h-6v5h7.9v0.9L407.2,41.7z M422.2,29.3c1.7-0.1,3.3,0.5,4.6,1.6c1.1,1.2,1.7,2.9,1.6,4.5c0.1,1.7-0.5,3.4-1.6,4.7c-1.2,1.1-2.9,1.7-4.6,1.6h-3.9V29.3H422.2z M422.3,40.8c1.4,0.1,2.8-0.4,3.8-1.4c0.9-1.1,1.4-2.5,1.3-4c0.1-1.4-0.4-2.8-1.3-3.9c-1-1-2.4-1.5-3.8-1.4h-3v10.7H422.3z M432.1,40.8h7.4v0.9h-8.4V29.3h0.9v11.5H432.1z M445.7,29.1c1.1,0,2.1,0.2,3,0.8c0.9,0.5,1.6,1.3,2,2.2c0.5,1.1,0.7,2.2,0.7,3.4c0,1.2-0.2,2.3-0.7,3.4c-0.4,0.9-1.1,1.7-2,2.2c-1.9,1-4.2,1-6.1,0c-0.9-0.5-1.6-1.3-2-2.2c-0.5-1.1-0.7-2.2-0.7-3.4c0-1.2,0.2-2.3,0.7-3.4c0.4-0.9,1.1-1.7,2-2.2C443.6,29.3,444.6,29.1,445.7,29.1L445.7,29.1z M445.7,30c-0.9,0-1.8,0.2-2.5,0.7s-1.3,1.1-1.6,1.9c-0.4,0.9-0.6,1.9-0.6,3c0,1,0.2,2,0.6,3c0.3,0.8,0.9,1.5,1.6,1.9c1.6,0.9,3.4,0.9,5,0c0.7-0.5,1.3-1.1,1.6-1.9c0.4-0.9,0.6-1.9,0.6-3c0-1-0.2-2-0.6-3c-0.3-0.8-0.9-1.4-1.6-1.9C447.4,30.2,446.6,30,445.7,30L445.7,30z M461.7,29.3l-4.4,7.6v4.8h-0.9v-4.8l-4.3-7.6h1.1l2.4,4.2l1.3,2.4l1.3-2.4l2.4-4.2H461.7z')
                                                    g.arrow
                                                        path.st1(d='M472.9,186.1c29.4-27.6,31.3-73.6,4.2-103.5h37.8V47.3c45.2,49.2,43.9,125.2-3,172.8h-39V186.1z')
                                                        path.st2(d='M511.5,219.2h-37.7v-32.7c28.9-27.4,31.3-72.7,5.4-102.9h36.7V49.8C559.1,98.6,557.2,172.6,511.5,219.2z')
                                                        path.st3.text(d='M523,108.7c0,1.1-0.3,2.1-0.8,3s-1.3,1.6-2.2,2c-2.2,0.9-4.6,0.9-6.8,0c-0.9-0.4-1.7-1.1-2.2-2s-0.8-1.9-0.8-3s0.2-2.1,0.8-3.1c0.5-0.9,1.3-1.6,2.2-2c2.2-0.9,4.6-0.9,6.8,0c0.9,0.4,1.7,1.1,2.2,2C522.7,106.6,523,107.6,523,108.7zM522.1,108.7c0-0.9-0.2-1.8-0.7-2.5s-1.1-1.3-1.9-1.6c-1.9-0.8-4-0.8-5.9,0c-0.8,0.3-1.4,0.9-1.9,1.6c-0.4,0.8-0.7,1.6-0.6,2.5c0,0.9,0.2,1.8,0.6,2.5c0.5,0.7,1.1,1.3,1.9,1.6c1.9,0.8,4,0.8,5.9,0c0.8-0.3,1.4-0.9,1.9-1.6C521.9,110.4,522.2,109.6,522.1,108.7L522.1,108.7z M522.8,121.2c0,0.8-0.1,1.5-0.5,2.2c-0.3,0.6-0.7,1.1-1.2,1.4c-1.2,0.7-2.7,0.7-3.9,0c-0.6-0.3-1-0.8-1.3-1.4c-0.3-0.7-0.5-1.5-0.4-2.2V118h-5.1v-0.9h12.4V121.2z M516.4,121.1c-0.1,0.9,0.2,1.8,0.7,2.5c0.5,0.6,1.2,0.9,2,0.8c0.8,0,1.5-0.3,2-0.8c0.5-0.7,0.8-1.6,0.7-2.5V118h-5.5L516.4,121.1z M510.4,127.8h12.4v8.5H522v-7.5h-4.8v6h-0.9v-6h-5v7.8h-0.9L510.4,127.8z M522.8,143.5c0.1,1.1-0.3,2.1-0.9,2.9c-0.6,0.7-1.6,1.1-2.6,1.1s-1.9-0.4-2.6-1.1c-0.6-0.9-1-1.9-0.9-3l-0.1-0.1v-3.6h-5.4v-0.9h12.4L522.8,143.5L522.8,143.5z M516.7,143.5c-0.1,0.8,0.2,1.6,0.7,2.3c1.1,1.1,2.8,1.1,3.9,0l0,0c0.5-0.7,0.7-1.5,0.7-2.3v-3.6h-5.3L516.7,143.5z M516.5,144.2l-6.1,4v-1.1l5.6-3.7L516.5,144.2z M510.4,160v-1l3.9-1.6v-5.9l-3.9-1.5v-1l12.4,5v1L510.4,160z M515.2,151.9v5.2l6.7-2.6L515.2,151.9z M522.8,168.6H522v-4.5h-11.6v-0.9H522v-4.5h0.9L522.8,168.6z M510.4,170.6h12.4v8.5H522v-7.5h-4.8v5.9h-0.9v-5.9h-5v7.8h-0.9L510.4,170.6z')
                                                    g.arrow
                                                        path.st1(d='M322.6,180.7h36.5c14,16.2,38.8,26.5,62,26.5c15.3,0,30.2-4.5,42.9-13.1v36.4h39c-23.1,18.9-52,29.2-81.8,29.1c-39,0-74.7-12.1-98.4-38.6L322.6,180.7z')
                                                        path.st2(d='M421.1,208.1c14.9,0,29.4-4.3,41.9-12.3v35.6h37.2c-22.6,17.7-50.5,27.3-79.2,27.2c-38.7,0-74-11.9-97.5-38l-0.1-39h35.2C372.9,197.9,397.9,208.1,421.1,208.1z')
                                                        path.st3.text(d='M366.1,220.9v12.4h-0.9V224l0.1-2.2l0,0l-4.5,11.5H360l-4.5-11.5l0,0l0.1,2.2v9.2h-0.9v-12.4h1.4l3.7,9.4l0.6,1.9l0,0l0.6-1.9l3.7-9.4L366.1,220.9z M374.6,220.7c1.1,0,2.1,0.3,3,0.8s1.6,1.3,2,2.2c0.9,2.2,0.9,4.6,0,6.8c-0.4,0.9-1.1,1.7-2,2.2s-1.9,0.8-3,0.8s-2.1-0.2-3-0.8c-0.9-0.5-1.6-1.3-2-2.2c-0.9-2.2-0.9-4.6,0-6.8c0.4-0.9,1.1-1.7,2-2.2S373.5,220.7,374.6,220.7L374.6,220.7z M374.6,221.6c-0.9,0-1.8,0.2-2.5,0.7s-1.3,1.1-1.6,1.9c-0.8,1.9-0.8,4,0,5.9c0.4,0.8,0.9,1.4,1.6,1.9c0.8,0.5,1.6,0.7,2.5,0.7s1.8-0.2,2.5-0.7s1.3-1.1,1.6-1.9c0.8-1.9,0.8-4,0-5.9c-0.3-0.8-0.9-1.4-1.6-1.9C376.3,221.8,375.5,221.5,374.6,221.6L374.6,221.6z M392.6,220.9v12.4h-1.2l-6.6-9.7l-0.9-1.6l0,0l0.1,1.5v9.8h-0.9v-12.4h1.2l6.6,9.7l0.9,1.6v-1.5v-9.8H392.6z M397.1,220.9v12.4h-0.9v-12.4H397.1z M409.1,220.9v0.9h-4.5v11.5h-0.9v-11.5H399v-0.9H409.1zM415.3,220.7c1.1,0,2.1,0.2,3,0.8c0.9,0.5,1.6,1.3,2,2.2c0.9,2.2,0.9,4.6,0,6.8c-0.4,0.9-1.1,1.7-2,2.2c-1.9,1-4.2,1-6.1,0c-0.9-0.5-1.6-1.3-2-2.2c-0.9-2.2-0.9-4.6,0-6.8c0.4-0.9,1.1-1.7,2-2.2C413.2,221,414.2,220.7,415.3,220.7L415.3,220.7zM415.3,221.6c-0.9,0-1.8,0.2-2.5,0.7s-1.3,1.1-1.6,1.9c-0.8,1.9-0.8,4,0,5.9c0.4,0.8,0.9,1.4,1.6,1.9c1.6,0.9,3.4,0.9,5,0c0.7-0.5,1.3-1.1,1.6-1.9c0.8-1.9,0.8-4,0-5.9c-0.3-0.8-0.9-1.4-1.6-1.9C417,221.8,416.2,221.5,415.3,221.6L415.3,221.6zM428.4,220.9c1.1-0.1,2.2,0.3,3,0.9c0.7,0.6,1.2,1.6,1.1,2.6c0.1,1-0.4,1.9-1.1,2.6c-0.9,0.7-1.9,1-3,0.9h-0.1h-3.5v5.4h-0.9v-12.4H428.4z M428.4,227c0.8,0.1,1.6-0.2,2.3-0.7c1.1-1.1,1.1-2.8,0-3.9l0,0c-0.7-0.5-1.5-0.8-2.3-0.7h-3.6v5.2L428.4,227z M429.1,227.2l4,6.1H432l-3.7-5.6L429.1,227.2z M435.4,233.3v-12.4h8.5v0.9h-7.5v4.8h6v0.9h-6v5h7.8v0.9L435.4,233.3L435.4,233.3z')


                        .wpb_column.vc_column_container.vc_col-sm-6.vc_col-lg-4.vc_col-md-5.vc_col-xs-12
                            .vc_column-inner
                                .wpb_wrapper
                                    h5.vc_custom_heading.title(style='text-align: left') Full-scale SRE function
                                    h2.vc_custom_heading.title(style='text-align: left')
                                        | Entrust your
                                        br
                                        | infrastructure to
                                        br
                                        | experts
                                    .wpb_text_column.wpb_content_element
                                        .wpb_wrapper
                                            p
                                                | Don’t make your developers do
                                                br
                                                | devops job: help them focus on
                                                br
                                                | building your product. We will help
                                                br
                                                | you scale it in a highly reliable
                                                br
                                                | monitored infrastructure. On your
                                                br
                                                | terms.
                    .vc_row.wpb_row.vc_inner.vc_row-fluid.services-item
                        .wpb_column.vc_column_container.vc_col-sm-6.vc_col-lg-4.vc_col-md-5.vc_col-xs-12
                            .vc_column-inner
                                .wpb_wrapper
                                    h5.vc_custom_heading.title(style='text-align: left') A service tailored for your needs
                                    h2.vc_custom_heading.title(style='text-align: left')
                                        | Define your own
                                        br
                                        | package
                                    .wpb_text_column.wpb_content_element
                                        .wpb_wrapper
                                            p
                                                | Whether you need just CI/CD
                                                br
                                                | polished, or making it all work in
                                                br
                                                | your hybrid cloud environment, or
                                                br
                                                | have it autoscale and monitored –
                                                br
                                                | we got it.
                        .wpb_column.vc_column_container.vc_col-sm-6.vc_col-lg-8.vc_col-md-7.vc_col-xs-12
                            .vc_column-inner
                                .wpb_wrapper
                                    .wpb_single_image.wpb_content_element.vc_align_right
                                        figure.wpb_wrapper.vc_figure
                                            .vc_single_image-wrapper.vc_box_border_grey
                                                img.vc_single_image-img.attachment-full(src='img/chart.svg' alt='' loading='lazy' title='chart')
                                    .arrow-block
                                        ul.arrow-items
                                            li
                                                span(style="color:#3765AF;")
                                                span(style="color:#3765AF;")
                                                span(style="color:#3765AF;")
                                                span(style="color:#fff;")
                                            li
                                                span(style="color:#3765AF;")
                                                span(style="color:#3765AF;")
                                                span(style="color:#fff;")
                                                span(style="color:#3765AF;")
                                        p Automated
                                        p Manual
                    .vc_row.wpb_row.vc_inner.vc_row-fluid.tools-block
                        .wpb_column.vc_column_container.vc_col-sm-12
                            .vc_column-inner
                                .wpb_wrapper
                                    h2.vc_custom_heading.title(style='text-align: center') Tools
                                    .wpb_gallery.wpb_content_element.vc_clearfix
                                        .wpb_wrapper
                                            .wpb_gallery_slides.wpb_image_grid(data-interval='3')
                                                ul.wpb_image_grid_ul(style='position: relative; height: 311px;')
                                                    li.isotope-item(style='position: absolute; left: 0px; top: 0px;')
                                                        img.attachment-full(src='http://ostridelabs.docker.localhost/wp-content/uploads/2022/04/aws.svg' alt='' loading='lazy' title='aws')
                                                    li.isotope-item(style='position: absolute; left: 237px; top: 0px;')
                                                        img.attachment-full(src='http://ostridelabs.docker.localhost/wp-content/uploads/2022/04/ansible-1.svg' alt='' loading='lazy' title='ansible')
                                                    li.isotope-item(style='position: absolute; left: 430px; top: 0px;')
                                                        img.attachment-full(src='http://ostridelabs.docker.localhost/wp-content/uploads/2022/04/jenkins.svg' alt='' loading='lazy' title='jenkins')
                                                    li.isotope-item(style='position: absolute; left: 845px; top: 0px;')
                                                        img.attachment-full(src='http://ostridelabs.docker.localhost/wp-content/uploads/2022/04/checked.svg' alt='' loading='lazy' title='checked')
                                                    li.isotope-item(style='position: absolute; left: 1055px; top: 0px;')
                                                        img.attachment-full(src='http://ostridelabs.docker.localhost/wp-content/uploads/2022/04/gitlab.svg' alt='' loading='lazy' title='gitlab')
                                                    li.isotope-item(style='position: absolute; left: 0px; top: 172px;')
                                                        img.attachment-full(src='http://ostridelabs.docker.localhost/wp-content/uploads/2022/04/docker.svg' alt='' loading='lazy' title='docker')
                                                    li.isotope-item(style='position: absolute; left: 379px; top: 172px;')
                                                        img.attachment-full(src='http://ostridelabs.docker.localhost/wp-content/uploads/2022/04/google.svg' alt='' loading='lazy' title='google')
                                                    li.isotope-item(style='position: absolute; left: 817px; top: 172px;')
                                                        img.attachment-full(src='http://ostridelabs.docker.localhost/wp-content/uploads/2022/04/kubernetes-1.svg' alt='' loading='lazy' title='kubernetes')
                    .vc_row.wpb_row.vc_inner.vc_row-fluid.gradient.vc_row-o-content-middle.vc_row-flex
                        .wpb_column.vc_column_container.vc_col-sm-12
                            .vc_column-inner
                                .wpb_wrapper
                                    .templatera_shortcode
                                        .wpb_column.vc_column_container.vc_col-sm-12
                                            .vc_column-inner
                                                .wpb_wrapper
                                                    .vc_row.wpb_row.vc_inner.vc_row-fluid.form-block.no-radio-button.vc_row-o-content-middle.vc_row-flex
                                                        .wpb_column.vc_column_container.vc_col-sm-12
                                                            .vc_column-inner
                                                                .wpb_wrapper
                                                                    h2.vc_custom_heading.title(style='text-align: center') Need help deciding what’s best for your company?
                                                                    h5.vc_custom_heading.title(style='text-align: center') Feel free to contact us!
                                                                    #wpcf7-f808-p809-o1.wpcf7(role='form' dir='ltr' lang='en-US')
                                                                        .screen-reader-response
                                                                            p(role='status' aria-live='polite' aria-atomic='true')
                                                                            ul
                                                                        form.wpcf7-form.init(action='/managed-services-sre/#wpcf7-f808-p809-o1' method='post' novalidate='novalidate' data-status='init')
                                                                            div(style='display: none;')
                                                                                input(type='hidden' name='_wpcf7' value='808')
                                                                                input(type='hidden' name='_wpcf7_version' value='5.5.6')
                                                                                input(type='hidden' name='_wpcf7_locale' value='en_US')
                                                                                input(type='hidden' name='_wpcf7_unit_tag' value='wpcf7-f808-p809-o1')
                                                                                input(type='hidden' name='_wpcf7_container_post' value='809')
                                                                                input(type='hidden' name='_wpcf7_posted_data_hash' value='')
                                                                            p
                                                                                span.wpcf7-form-control-wrap.full_name
                                                                                    input.wpcf7-form-control.wpcf7-text(type='text' name='full_name' value='' size='40' aria-invalid='false' placeholder='Full name (optional)')
                                                                                br
                                                                                span.wpcf7-form-control-wrap.company_name
                                                                                    input.wpcf7-form-control.wpcf7-text(type='text' name='company_name' value='' size='40' aria-invalid='false' placeholder='Company name (optional)')
                                                                                br
                                                                                span.wpcf7-form-control-wrap.email_user
                                                                                    input.wpcf7-form-control.wpcf7-text.wpcf7-email.wpcf7-validates-as-email(type='email' name='email_user' value='' size='40' aria-invalid='false' placeholder='Email address *')
                                                                                br
                                                                                span.wpcf7-form-control-wrap.message
                                                                                    textarea.wpcf7-form-control.wpcf7-textarea(name='message' cols='40' rows='10' aria-invalid='false' placeholder='Message (optional)')
                                                                                br
                                                                                input.wpcf7-form-control.has-spinner.wpcf7-submit(type='submit' value='SEND MESSAGE')
                                                                                span.wpcf7-spinner
                                                                            .wpcf7-response-output(aria-hidden='true')