section
    .vc_row.wpb_row.vc_row-fluid.vc_row-no-padding.vc_row-o-content-middle.vc_row-flex.services-inner 
        .wpb_column.vc_column_container.vc_col-sm-12
            .vc_column-inner
                .wpb_wrapper
                    .vc_row.wpb_row.vc_inner.vc_row-fluid.banner.title-top.vc_row-o-content-middle.vc_row-flex
                        .wpb_column.vc_column_container.vc_col-sm-6.vc_col-lg-6.vc_col-md-6.vc_col-xs-12
                            .vc_column-inner
                                .wpb_wrapper
                                    h2.vc_custom_heading.title(style='text-align: left')
                                        | We help you build your
                                        br
                                        | product in the most
                                        br
                                        | modern and durable
                                        br
                                        | way.
                        .wpb_column.vc_column_container.vc_col-sm-6.vc_col-lg-6.vc_col-md-6.vc_col-xs-12
                            .vc_column-inner
                                .wpb_wrapper
                                    .wpb_single_image.wpb_content_element.vc_align_right
                                        figure.wpb_wrapper.vc_figure
                                            .vc_single_image-wrapper.vc_box_border_grey
                                                img.vc_single_image-img.attachment-full(src='http://ostridelabs.docker.localhost/wp-content/uploads/2022/04/Cloud-engineering-And-SaaS-development.png' alt='' loading='lazy' title='Cloud-engineering-And-SaaS-development' srcset='http://ostridelabs.docker.localhost/wp-content/uploads/2022/04/Cloud-engineering-And-SaaS-development.png 491w, http://ostridelabs.docker.localhost/wp-content/uploads/2022/04/Cloud-engineering-And-SaaS-development-300x300.png 300w, http://ostridelabs.docker.localhost/wp-content/uploads/2022/04/Cloud-engineering-And-SaaS-development-150x150.png 150w' sizes='(max-width: 491px) 100vw, 491px' width='491' height='491')
                    .vc_row.wpb_row.vc_inner.vc_row-fluid.services-title
                        .wpb_column.vc_column_container.vc_col-sm-12
                            .vc_column-inner
                                .wpb_wrapper
                                    h1.vc_custom_heading.title(style='text-align: center')
                                        | Cloud engineering
                                        br
                                        | And SaaS development
                    .vc_row.wpb_row.vc_inner.vc_row-fluid.services-item 
                        .wpb_column.vc_column_container.vc_col-sm-6
                            .vc_column-inner
                                .wpb_wrapper
                                    .wpb_raw_code.wpb_content_element.wpb_raw_html
                                        .wpb_wrapper
                                            svg(xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' viewBox='0 0 737 456.19')
                                                defs
                                                    lineargradient#saas-gradient(x1='501.35' y1='485.51' x2='501.35' y2='92.61' gradientTransform='matrix(1, 0, 0, -1, 0, 455.49)' gradientUnits='userSpaceOnUse')
                                                        stop(offset='0' stop-color='#3765af')
                                                        stop(offset='1' stop-color='#123265')
                                                g#saas
                                                    g
                                                        rect.cls-1(x='1' y='197.22' width='196.53' height='257.05' rx='14.67')
                                                        rect.cls-2(x='39.21' y='236.35' width='135.71' height='0.92')
                                                        rect.cls-2(x='39.21' y='266.61' width='135.71' height='0.92')
                                                        rect.cls-2(x='39.21' y='296.87' width='135.71' height='0.92')
                                                        rect.cls-2(x='39.21' y='327.13' width='135.71' height='0.92')
                                                        rect.cls-2(x='39.21' y='357.38' width='135.71' height='0.92')
                                                        rect.cls-2(x='39.21' y='387.64' width='135.71' height='0.92')
                                                        rect.cls-2(x='39.21' y='417.9' width='135.71' height='0.92')
                                                        circle.cls-3(cx='27.29' cy='231.76' r='6.11')
                                                        circle.cls-3(cx='27.29' cy='262.02' r='6.11')
                                                        circle.cls-3(cx='27.29' cy='292.28' r='6.11')
                                                        circle.cls-3(cx='27.29' cy='322.54' r='6.11')
                                                        circle.cls-3(cx='27.29' cy='352.8' r='6.11')
                                                        circle.cls-3(cx='27.29' cy='383.06' r='6.11')
                                                        circle.cls-3(cx='27.29' cy='413.32' r='6.11')
                                                        circle.cls-2(cx='27.28' cy='231.76' r='3.67')
                                                        circle.cls-2(cx='27.28' cy='262.02' r='3.67')
                                                        circle.cls-2(cx='27.28' cy='292.28' r='3.67')
                                                        circle.cls-2(cx='27.28' cy='322.54' r='3.67')
                                                        circle.cls-2(cx='27.28' cy='352.8' r='3.67')
                                                        circle.cls-2(cx='27.28' cy='383.06' r='3.67')
                                                        circle.cls-2(cx='27.28' cy='413.32' r='3.67')
                                                        rect.cls-1(x='1' y='1' width='134.18' height='125.93' rx='14.67')
                                                        rect.cls-1(x='249.49' y='369.61' width='50.74' height='85.58' rx='7.34')
                                                        path.cls-1(d='M257.9,369.61h33a3.82,3.82,0,0,1,3.82,3.82h0a3.82,3.82,0,0,1-3.82,3.82h-33a3.82,3.82,0,0,1-3.82-3.82h0A3.82,3.82,0,0,1,257.9,369.61Z')
                                                        rect.cls-1(x='48.68' y='233.9' width='194.7' height='125.93' rx='14.67')
                                                        rect.cls-1(x='115.01' y='359.83' width='62.04' height='7.95')
                                                        rect.cls-4(x='72.67' y='384.43' width='146.71' height='2.75')
                                                        rect.cls-1(x='135.79' y='367.77' width='20.48' height='17.73')
                                                        rect.cls-1(x='59.08' y='243.38' width='173.91' height='106.97')
                                                        rect.cls-2(x='112.56' y='271.19' width='105.45' height='5.5')
                                                        rect.cls-2(x='112.56' y='284.95' width='57.77' height='5.5')
                                                        rect.cls-2(x='112.56' y='298.7' width='88.03' height='5.5')
                                                        rect.cls-2(x='112.56' y='312.45' width='25.67' height='5.5')
                                                        rect.cls-2(x='112.56' y='326.21' width='96.28' height='5.5')
                                                        rect.cls-2(x='260.18' y='414.23' width='7.34' height='21.09')
                                                        rect.cls-2(x='271.19' y='401.39' width='7.34' height='33.93')
                                                        rect.cls-2(x='282.2' y='408.73' width='7.34' height='26.59')
                                                        rect.cls-5(x='74.05' y='271.19' width='17.42' height='5.5')
                                                        rect.cls-5(x='74.05' y='284.95' width='17.42' height='5.5')
                                                        rect.cls-5(x='74.05' y='298.7' width='17.42' height='5.5')
                                                        rect.cls-5(x='74.05' y='312.45' width='17.42' height='5.5')
                                                        rect.cls-5(x='74.05' y='326.21' width='17.42' height='5.5')
                                                        path.cls-5(d='M68.55,26.37a41.26,41.26,0,1,0,38.9,55l-5-1.79A35.9,35.9,0,1,1,68.55,31.73Z')
                                                        path.cls-2(d='M68.55,26.37a41.26,41.26,0,0,1,39.27,53.94l-5.1-1.64A35.91,35.91,0,0,0,68.55,31.73Z')
                                                        rect.cls-1(x='66.1' y='65.19' width='134.18' height='125.93' rx='14.67')
                                                        path.cls-1(d='M66.1,76.8h2.45v2.45H197.83V76.8h2.45a11.61,11.61,0,0,0-11.61-11.61H77.72A11.61,11.61,0,0,0,66.1,76.8Z')
                                                        path.cls-1(d='M1,12.62H3.45v2.44H132.73V12.62h2.45A11.62,11.62,0,0,0,123.56,1H12.62A11.62,11.62,0,0,0,1,12.62Z')
                                                        path.cls-5(d='M174.84,128.71a41.25,41.25,0,1,0-5.37,18.09l-4.66-2.66a35.88,35.88,0,1,1,4.68-15.74Z')
                                                        path.cls-2(d='M174.84,128.71a41.24,41.24,0,0,1-5.43,18.19l-4.65-2.68a36,36,0,0,0,4.73-15.82Z')
                                                        path.cls-6(d='M194.18,36.46H134.57V42h59.61v0A10.11,10.11,0,0,1,204.29,52h0V88.72h5.5V52h0a15.64,15.64,0,0,0-1.18-6A15.87,15.87,0,0,0,205.2,41a15.55,15.55,0,0,0-11-4.56ZM365.64,119.9h-166v-5.5h166ZM483.92,304.2H242.77v-5.5H483.92Zm-184.3,97.2H499.51v-5.51H299.62ZM494,227.18v61.43h5.5V227.18ZM509.6,385.81V227.18h5.5V385.81h0a15.64,15.64,0,0,1-1.18,6,15.87,15.87,0,0,1-3.38,5.06,15.62,15.62,0,0,1-11,4.57v-5.48a10,10,0,0,0,7.16-3,10.12,10.12,0,0,0,3-7.15Zm-11.27-91.23a15.66,15.66,0,0,0,1.19-6h-5.47a10.12,10.12,0,0,1-3,7.16,10.12,10.12,0,0,1-7.15,3v5.47a15.57,15.57,0,0,0,14.4-9.62ZM204.26,88.72a15.59,15.59,0,0,0,15.59,15.59V98.84a10.12,10.12,0,0,1-10.12-10.12Zm15.59,10.09H382.61l1.38,2.75-3.67,2.75H219.85Z')
                                                        g.rectangle
                                                            rect.cls-7(x='265.7' y='13.53' width='471.3' height='274.16' rx='24.46')
                                                            circle.cls-2(cx='319.8' cy='200.59' r='11')
                                                            circle.cls-2(cx='319.8' cy='234.51' r='11')
                                                            circle.cls-12(cx='319.8' cy='200.59' r='6.42')
                                                            circle.cls-12(cx='319.8' cy='234.51' r='6.42')
                                                            rect.cls-2(x='342.72' y='189.58' width='115.53' height='22.01' rx='9.78')
                                                            rect.cls-2(x='342.72' y='223.51' width='115.53' height='22.01' rx='9.78')
                                                            path.cls-8(d='M540.13,191.39,516,180.66v-7.24l24.11-10.74v7.93L522.52,177l17.61,6.4Z')
                                                            path.cls-8(d='M563.93,156.57l-13.78,38.51h-7.78l13.78-38.51Z')
                                                            path.cls-8(d='M566.18,162.68l24.11,10.74v7.24l-24.11,10.73v-7.93l17.62-6.4-17.62-6.4Z')
                                                        path.cls-9(d='M500.33,178.58a53,53,0,1,1,53.52,52.55A53,53,0,0,1,500.33,178.58Zm-12.26,2.26-12.51,6.59A77.67,77.67,0,0,0,480,205.71l14.15.07a63.85,63.85,0,0,0,4,7.36l-7.53,11.94a79,79,0,0,0,13,13.6l12.28-7a66.75,66.75,0,0,0,7.16,4.37l-.55,14.11a77.88,77.88,0,0,0,18.07,5.26l7.12-12.2q3.07.27,6.22.25c.72,0,1.44-.05,2.15-.08l6.6,12.51A77.58,77.58,0,0,0,581,251.47l.09-14.16a66,66,0,0,0,7.34-4l12,7.53a78.67,78.67,0,0,0,13.6-13l-7-12.28a65,65,0,0,0,4.37-7.15l14.12.54a77.86,77.86,0,0,0,5.25-18.07l-12.19-7.12c.17-2.06.26-4.12.24-6.22,0-.72,0-1.44-.07-2.16l12.51-6.59a77.71,77.71,0,0,0-4.44-18.27l-14.15-.08a65.42,65.42,0,0,0-4-7.35l7.53-12a78.25,78.25,0,0,0-13-13.59l-12.28,7a65.09,65.09,0,0,0-7.16-4.36l.55-14.12a77.92,77.92,0,0,0-18.06-5.25L559,113c-2-.17-4.13-.26-6.23-.25-.71,0-1.43.05-2.14.08L544,100.27a78.29,78.29,0,0,0-18.28,4.44l-.08,14.16a63.58,63.58,0,0,0-7.34,4l-12-7.53a79.72,79.72,0,0,0-13.59,13l7,12.28a65.09,65.09,0,0,0-4.36,7.16l-14.11-.55a77.39,77.39,0,0,0-5.26,18.07l12.19,7.13c-.17,2-.27,4.12-.25,6.21C488,179.4,488,180.12,488.07,180.84Z')
                                                        path.cls-10(d='M648.18,151.86a33,33,0,0,1-3.33-.28,1.22,1.22,0,0,1-1-1l-1.49-6.72-5.1,4.8a1.22,1.22,0,0,1-1.36.21,30.06,30.06,0,0,1-5.66-3.43,1.21,1.21,0,0,1-.42-1.35l2.15-6.49-6.85,1.67a1.23,1.23,0,0,1-1.29-.49,29.58,29.58,0,0,1-3.15-5.74,1.22,1.22,0,0,1,.32-1.38l5.18-4.56-6.74-1.88a1.21,1.21,0,0,1-.89-1.08,31.84,31.84,0,0,1-.08-3.25h0a30.76,30.76,0,0,1,.29-3.23,1.25,1.25,0,0,1,1-1l6.87-1.43-4.86-4.89a1.24,1.24,0,0,1-.23-1.41,29.68,29.68,0,0,1,3.53-5.51,1.23,1.23,0,0,1,1.32-.4l6.73,2.11-1.7-6.61a1.23,1.23,0,0,1,.5-1.33,31.4,31.4,0,0,1,5.9-3.06,1.23,1.23,0,0,1,1.34.31l4.76,5.11L645.81,93a1.22,1.22,0,0,1,1.08-.87,30.87,30.87,0,0,1,3.34-.07,32.53,32.53,0,0,1,3.32.28,1.22,1.22,0,0,1,1,.95l1.49,6.71,5.1-4.79a1.24,1.24,0,0,1,1.36-.22,31.76,31.76,0,0,1,5.66,3.44,1.24,1.24,0,0,1,.42,1.36l-2.15,6.48,6.85-1.66a1.22,1.22,0,0,1,1.29.48,30.18,30.18,0,0,1,3.15,5.74,1.2,1.2,0,0,1-.33,1.38l-5.18,4.56L679,118.6a1.22,1.22,0,0,1,.89,1.08,29.41,29.41,0,0,1,.07,3.26h0a28.67,28.67,0,0,1-.3,3.24,1.21,1.21,0,0,1-1,1l-6.86,1.43,4.86,4.89a1.23,1.23,0,0,1,.23,1.41,29.62,29.62,0,0,1-3.54,5.52,1.21,1.21,0,0,1-1.31.39l-6.73-2.11,1.7,6.62a1.21,1.21,0,0,1-.51,1.32,30.66,30.66,0,0,1-5.88,3.06,1.24,1.24,0,0,1-1.34-.3l-4.76-5.12-1.95,6.61a1.23,1.23,0,0,1-1.09.87A30.63,30.63,0,0,1,648.18,151.86Zm0,0h0Zm-13-30.91a14.45,14.45,0,0,1,15.1-13.7h0a14.19,14.19,0,1,1-15.1,13.7Z')
                                                        path.cls-11(d='M439.52,89.64A22.38,22.38,0,1,0,450,119.51,22.39,22.39,0,0,0,439.52,89.64Zm0,0Zm-71.93-3.59a2.46,2.46,0,0,0,.73,2.76l14.08,11.7c0,.23-.09.46-.14.7L364.88,107a2.44,2.44,0,0,0-1.68,2.3,66,66,0,0,0,.85,11.07,2.45,2.45,0,0,0,2,2l18.07,3.09c.07.22.15.44.23.66l-12.18,13.7a2.46,2.46,0,0,0-.3,2.84,68.51,68.51,0,0,0,6.24,9.16,2.45,2.45,0,0,0,2.75.76l17.2-6.36c.17.16.35.31.53.46l-3.68,17.94a2.45,2.45,0,0,0,1.16,2.6c1.57.92,3.19,1.81,4.89,2.62s3.41,1.54,5.11,2.19a2.44,2.44,0,0,0,2.76-.72l11.7-14.09.69.14L427,174.76a2.45,2.45,0,0,0,2.31,1.68,66.88,66.88,0,0,0,11.06-.86,2.43,2.43,0,0,0,2-2l3.1-18.07.65-.23,13.71,12.18a2.43,2.43,0,0,0,2.83.3,66.42,66.42,0,0,0,9.16-6.25,2.43,2.43,0,0,0,.76-2.74l-6.35-17.2.46-.54,17.93,3.69a2.45,2.45,0,0,0,2.61-1.16c.91-1.57,1.8-3.19,2.62-4.89h0c.82-1.71,1.53-3.41,2.18-5.11a2.45,2.45,0,0,0-.71-2.76l-14.09-11.7c0-.23.09-.46.13-.69l17.4-5.78a2.46,2.46,0,0,0,1.67-2.31,66.8,66.8,0,0,0-.85-11.06,2.44,2.44,0,0,0-2-2l-18.07-3.09-.23-.66,12.17-13.71a2.43,2.43,0,0,0,.3-2.83,66.45,66.45,0,0,0-6.24-9.17,2.46,2.46,0,0,0-2.75-.75l-17.19,6.35-.54-.45L464.74,55a2.45,2.45,0,0,0-1.16-2.61c-1.57-.91-3.2-1.8-4.89-2.62h0c-1.7-.82-3.42-1.53-5.12-2.18a2.45,2.45,0,0,0-2.75.72l-11.7,14.09-.7-.14-5.78-17.4a2.44,2.44,0,0,0-2.3-1.67,67.08,67.08,0,0,0-11.07.85,2.45,2.45,0,0,0-2,2l-3.09,18.08-.65.22L399.8,52.16a2.43,2.43,0,0,0-2.83-.3,65.58,65.58,0,0,0-9.17,6.24,2.45,2.45,0,0,0-.76,2.75l6.36,17.2-.46.53L375,74.9a2.44,2.44,0,0,0-2.6,1.15c-.93,1.57-1.82,3.2-2.63,4.9S368.24,84.36,367.59,86.05Z')
                        .description.wpb_column.vc_column_container.vc_col-sm-6
                            .vc_column-inner
                                .wpb_wrapper
                                    h5.vc_custom_heading.title(style='text-align: left') Fastest way to enter the market
                                    h2.vc_custom_heading.title(style='text-align: left')
                                        | Build your SaaS from
                                        br
                                        | scratch
                                    .wpb_text_column.wpb_content_element
                                        .wpb_wrapper
                                            p
                                                | Time to market has always been
                                                br
                                                | critical. Our senior engineers bring
                                                br
                                                | fundamental knowledge and years
                                                br
                                                | of experience to build things that
                                                br
                                                | will last.

                    .vc_row.wpb_row.vc_inner.vc_row-fluid.cloud-block
                        .wpb_column.vc_column_container.vc_col-sm-6.vc_col-lg-4.vc_col-md-5.vc_col-xs-12
                            .vc_column-inner
                                .wpb_wrapper
                                    h5.vc_custom_heading.title(style='text-align: left') Scale your platform the smart way
                                    h2.vc_custom_heading.title(style='text-align: left') Go Cloud Native
                                    .wpb_text_column.wpb_content_element
                                        .wpb_wrapper
                                            p
                                                | Cloud Native landscape is
                                                br
                                                | overwhelmingly huge. We take the
                                                br
                                                | best from it, while keeping your
                                                br
                                                | platform flexible and away from a
                                                br
                                                | vendor lock. 
                        .wpb_column.vc_column_container.vc_col-sm-6.vc_col-lg-8.vc_col-md-7.vc_col-xs-12
                            .vc_column-inner
                                .wpb_wrapper
                                    .wpb_text_column.wpb_content_element
                                        .wpb_wrapper
                                            p
                                                | Provisioning / Orchestration & Management / Observability & Analysis / CNCF / Serverless
                                    ul.cloud-items
                                        li.cloud-item
                                            a(href="#")
                                                img(src="img/juju.svg", alt="#")
                                        li.cloud-item
                                            a(href="#")
                                                img(src="img/akri.svg", alt="#")
                                        li.cloud-item
                                            a(href="#")
                                                img(src="img/ansible.svg", alt="#")
                                        li.cloud-item
                                            a(href="#")
                                                img(src="img/chef.svg", alt="#")
                                        li.cloud-item
                                            a(href="#")
                                                img(src="img/tars.svg", alt="#")
                                        li.cloud-item
                                            a(href="#")
                                                img(src="img/karmada.svg", alt="#")
                                        li.cloud-item
                                            a(href="#")
                                                img(src="img/couler.svg", alt="#")
                                        li.cloud-item
                                            a(href="#")
                                                img(src="img/linkerd.svg", alt="#")
                                        li.cloud-item
                                            a(href="#")
                                                img(src="img/envoy.svg", alt="#")
                                        li.cloud-item
                                            a(href="#")
                                                img(src="img/alibaba.svg", alt="#")
                                        li.cloud-item
                                            a(href="#")
                                                img(src="img/volcand.svg", alt="#")
                                        li.cloud-item
                                            a(href="#")
                                                img(src="img/saltstack.svg", alt="#")
                                        li.cloud-item
                                            a(href="#")
                                                img(src="img/tuf.svg", alt="#")
                                        li.cloud-item
                                            a(href="#")
                                                img(src="img/open-nebula.svg", alt="#")
                                        li.cloud-item
                                            a(href="#")
                                                img(src="img/capsule.svg", alt="#")
                                        li.cloud-item
                                            a(href="#")
                                                img(src="img/open-cluster.svg", alt="#")
                                        li.cloud-item
                                            a(href="#")
                                                img(src="img/etcd.svg", alt="#")
                                        li.cloud-item
                                            a(href="#")
                                                img(src="img/wasmcloud.svg", alt="#")
                                        li.cloud-item
                                            a(href="#")
                                                img(src="img/dragonfly.svg", alt="#")
                                        li.cloud-item
                                            a(href="#")
                                                img(src="img/kubernetes.svg", alt="#")  
                    .vc_row.wpb_row.vc_inner.vc_row-fluid.tools-block
                        .wpb_column.vc_column_container.vc_col-sm-12.vc_col-lg-12.vc_col-md-12.vc_col-xs-12
                            .vc_column-inner
                                .wpb_wrapper
                                    h2.vc_custom_heading.title(style='text-align: center') Tools
                                    .wpb_gallery.wpb_content_element.vc_clearfix
                                        .wpb_wrapper
                                            .wpb_gallery_slides.wpb_image_grid(data-interval='3') 
                                                ul.wpb_image_grid_ul
                                                    li.isotope-item
                                                        img.attachment-full(src='img/aws.svg' alt='' loading='lazy' title='aws')
                                                    li.isotope-item
                                                        img.attachment-full(src='img/firebase.svg' alt='' loading='lazy' title='firebase')
                                                    li.isotope-item
                                                        img.attachment-full(src='img/nodejs.svg' alt='' loading='lazy' title='nodejs')
                                                    li.isotope-item
                                                        img.attachment-full(src='img/ts.svg' alt='' loading='lazy' title='ts')
                                                    li.isotope-item
                                                        img.attachment-full(src='img/mixpanel.svg' alt='' loading='lazy' title='mixpanel')
                                                    li.isotope-item
                                                        img.attachment-full(src='img/reactjs.svg' alt='' loading='lazy' title='reactjs')
                                                    li.isotope-item
                                                        img.attachment-full(src='img/sentry.svg' alt='' loading='lazy' title='sentry')
                    .vc_row.wpb_row.vc_inner.vc_row-fluid.gradient.vc_row-o-content-middle.vc_row-flex 
                        .wpb_column.vc_column_container.vc_col-sm-12.vc_col-lg-12.vc_col-md-12.vc_col-xs-12
                            .vc_column-inner
                                .wpb_wrapper
                                    .templatera_shortcode
                                        .wpb_column.vc_column_container.vc_col-sm-12
                                            .vc_column-inner
                                                .wpb_wrapper
                                                    .vc_row.wpb_row.vc_inner.vc_row-fluid.form-block.no-radio-button.vc_row-o-content-middle.vc_row-flex
                                                        .wpb_column.vc_column_container.vc_col-sm-12
                                                            .vc_column-inner
                                                                .wpb_wrapper
                                                                    h2.vc_custom_heading.title(style='text-align: center') Need help deciding what’s best for your company?
                                                                    h5.vc_custom_heading.title(style='text-align: center') Feel free to contact us!
                                                                    #wpcf7-f808-p809-o1.wpcf7(role='form' dir='ltr' lang='en-US')
                                                                        .screen-reader-response
                                                                            p(role='status' aria-live='polite' aria-atomic='true')
                                                                            ul
                                                                        form.wpcf7-form.init(action='/cloud-engineering-and-saas-development/#wpcf7-f808-p809-o1' method='post' novalidate='novalidate' data-status='init')
                                                                            div(style='display: none;')
                                                                                input(type='hidden' name='_wpcf7' value='808')
                                                                                input(type='hidden' name='_wpcf7_version' value='5.5.6')
                                                                                input(type='hidden' name='_wpcf7_locale' value='en_US')
                                                                                input(type='hidden' name='_wpcf7_unit_tag' value='wpcf7-f808-p809-o1')
                                                                                input(type='hidden' name='_wpcf7_container_post' value='809')
                                                                                input(type='hidden' name='_wpcf7_posted_data_hash' value='')
                                                                            p
                                                                                span.wpcf7-form-control-wrap.full_name
                                                                                    input.wpcf7-form-control.wpcf7-text(type='text' name='full_name' value='' size='40' aria-invalid='false' placeholder='Full name (optional)')
                                                                                br
                                                                                span.wpcf7-form-control-wrap.company_name
                                                                                    input.wpcf7-form-control.wpcf7-text(type='text' name='company_name' value='' size='40' aria-invalid='false' placeholder='Company name (optional)')
                                                                                br
                                                                                span.wpcf7-form-control-wrap.email_user
                                                                                    input.wpcf7-form-control.wpcf7-text.wpcf7-email.wpcf7-validates-as-email(type='email' name='email_user' value='' size='40' aria-invalid='false' placeholder='Email address *')
                                                                                br
                                                                                span.wpcf7-form-control-wrap.message
                                                                                    textarea.wpcf7-form-control.wpcf7-textarea(name='message' cols='40' rows='10' aria-invalid='false' placeholder='Message (optional)')
                                                                                br
                                                                                input.wpcf7-form-control.has-spinner.wpcf7-submit(type='submit' value='SEND MESSAGE')
                                                                                span.wpcf7-spinner
                                                                            .wpcf7-response-output(aria-hidden='true')


