/**
 * Theme Name:  Ostridelabs
 * Theme URI:   https://ostridelabs.com/
 * Author:      alexlavigin
 * Author URI:  https://i-wp-dev.com/
 * Description: New Theme from ostridelabs
 * License:     GNU General Public License v2 or later
 * License URI: http://www.gnu.org/licenses/gpl-2.0.html
 * Tags:        wordpress theme, theme, blue, white
 * Text Domain: ostd
 * Version:     1.5.1
 */

footer p.head-line {
	color: #fff;
	font-size: 26px;
	font-family: WorkSans;
	font-weight: 700;
	margin-bottom: 20px;
}

section .opportunities .opportunities-item p.head-line {
	font-weight: 900;
	font-size: 24px;
	color: #fff;
	font-family: Avenir;
	margin-top: 0;
}

.error404 .vc_row:not(#form) {
	padding-bottom: 60px;
}

.error404 .vc_row:not(#form) .content-404 p {
	text-align: center;
	color: #fff;
	font-size: 20px;
	font-family: WorkSans;
	font-weight: 700;
	margin-bottom: 30px;
}

body.error404 > .breadcrumbs-wrapper {
	z-index: 10;
}

.error404 .vc_row:not(#form) .content-404 {
	text-align: center
}

.error404 .blog h1.vc_custom_heading {
	font-size: 120px;
	margin-bottom: 0;
	line-height: 0.8;
}

.error404 .blog p.vc_custom_heading {
	font-weight: 900;
	font-size: 60px;
	font-family: Avenir;
	color: #fff;
	margin-bottom: 24px;
}

.error404 .vc_row:not(#form) .button:hover {
	background: #28A1E6 !important;
}

.error404 .vc_row:not(#form) .button {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	color: #fff;
	border-radius: 0;
	background: #1d9ce3;
	padding: 0 30px;
	height: 38px;
	font-weight: 900;
	font-size: 18px;
	font-family: Avenir;
	margin-left: 0;
	border: 2px solid #1d9ce3;
	max-width: fit-content;
	margin: 0 auto;
}

.description-item ul {
	color: #7b8b9e;
	font-weight: 400;
	font-size: 16px;
	line-height: 1.2;
	list-style: disc;
	padding-left: 20px;
	margin-bottom: 15px;
}

section .description-block p {
	margin-bottom: 15px;
}

@media only screen and (max-width: 767px) {
	.description-item ul {
		color: #fff;
	}
}
