
<section>
  <div class="vc_row wpb_row vc_inner vc_row-fluid vc_row-o-content-middle vc_row-flex banner img-top">
    <div class="wpb_column vc_column_container vc_col-sm-6 vc_col-lg-6 vc_col-md-6 vc_col-xs-12">
      <div class="vc_column-inner">
        <div class="wpb_wrapper"> 
          <h2 class="vc_custom_heading title" style="text-align: left">Interactive Shopping Experience <br/>Boosts US Sportswear Ecommerce<br/>Platform Sales By 67%</h2>
          <div class="wpb_text_column wpb_content_element description">
            <div class="wpb_wrapper">
              <p>
                 Find out how a US ecommerce platform for the sportswear industry <br/>managed to integrate a newvideo-based interactive shopping <br/>feature to increase its sales by 67%</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="wpb_column vc_column_container vc_col-sm-6 vc_col-lg-6 vc_col-md-6 vc_col-xs-12">
      <div class="vc_column-inner">
        <div class="wpb_wrapper">
          <div class="wpb_single_image wpb_content_element vc_align_right">
            <figure class="wpb_wrapper vc_figure">
              <div class="vc_single_image-wrapper vc_box_border_grey"><img class="vc_single_image-img attachment-full" src="img/bg-banner-5.png"/></div>
            </figure>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="vc_row wpb_row vc_inner vc_row-fluid vc_row-flex description-block">
    <div class="wpb_column vc_column_container vc_col-sm-7 vc_col-lg-9 vc_col-md-8 vc_col-xs-12">
      <div class="vc_column-inner">
        <div class="wpb_wrapper">
          <div class="descriptions">
            <div class="description-item icon-challenges"> 
              <h3 class="title">The Challenges</h3>
              <p>The company was looking to enhance it’s existing line of services by creating a solution that could improve service efficiency and offer a better customer experience. But they needed to create this new service over a short 6-week period.</p>
            </div>
            <div class="description-item icon-solution">
              <h3 class="title">The Solution</h3>
              <p>OSTD Labs turned to the Agile Scrum development methodology and VM based infrastructure approach to build the application in just 6 weeks.  The credit score app used the most popular coding frameworks, including Javascript, CSS, and Java to upgrade serialization, develop REST services, security, and testing. </p>
            </div>
            <div class="description-item icon-outcomes">
              <h3 class="title">The Outcomes</h3>
              <p>As the result, software development project has been launched for three months. Project goal was to introduce cart functionality inside the video block, so that the viewers could put exact goods into the cart while watching the video.</p>
            </div>
          </div>
          <div class="testimonials-user">
            <h3 class="title">Testimonials</h3>
            <p>«In our collaboration with OSTD Labs, we have been lucky to launch a brand new product in our lineup: Score Kompass. This web application was delivered in just 6-weeks prior to the Christmas period, giving us enough time to prepare and conduct timely advertising campaigns. We have experienced a growth in traffic to our products which we had somewhat underestimated initially. </p>
            <p>We hope to work with the OSTD team again, as it was a valuable partnership.»</p>
            <div class="user">
              <div class="photo"> <img src="img/photo.jpg" alt="#"/></div>
              <div class="user-desc">
                <h4>Smava Gmbh</h4>
                <ul class="meta-user">
                  <li>Eric Salbert</li>
                  <li>Senior Product Manager</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="wpb_column vc_column_container vc_col-sm-5 vc_col-lg-3 vc_col-md-4 vc_col-xs-12">
      <div class="vc_column-inner">
        <div class="wpb_wrapper">
          <h3 class="vc_custom_heading title" style="text-align: left">About the Client</h3>
          <div class="wpb_text_column wpb_content_element description">
            <div class="wpb_wrapper">
              <p>The client is a German-based financial services provider that offers a variety of loan programs, financial advice, and other related services to help consumers find the best loans available to them on the market.</p>
            </div>
          </div>
          <h3 class="vc_custom_heading title" style="text-align: left">Project Specs</h3>
          <h4 class="vc_custom_heading title" style="text-align: left">01</h4>
          <div class="wpb_text_column wpb_content_element description">
            <div class="wpb_wrapper">
              <p>functional analyst<br/>/project manager</p>
            </div>
          </div>
          <h4 class="vc_custom_heading title" style="text-align: left">01</h4>
          <div class="wpb_text_column wpb_content_element description">
            <div class="wpb_wrapper">
              <p>business analyst</p>
            </div>
          </div>
          <h4 class="vc_custom_heading title" style="text-align: left">03</h4>
          <div class="wpb_text_column wpb_content_element description">
            <div class="wpb_wrapper">
              <p>software engineers</p>
            </div>
          </div>
          <h4 class="vc_custom_heading title" style="text-align: left">01</h4>
          <div class="wpb_text_column wpb_content_element description">
            <div class="wpb_wrapper"> 
              <p>devops engineer</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="vc_row wpb_row vc_inner vc_row-fluid vc_row-o-content-middle vc_row-flex services">
    <div class="wpb_column vc_column_container vc_col-sm-12">
      <div class="vc_column-inner">
        <div class="wpb_wrapper">
          <h2 class="vc_custom_heading" style="text-align: center">Our Services</h2>
          <h5 class="vc_custom_heading" style="text-align: center">Here's how we can help</h5>
        </div>
      </div>
    </div>
    <div class="wpb_column vc_column_container vc_col-sm-6 vc_col-lg-3 vc_col-md-3 vc_col-xs-12" style="border-color:#6236DF;">
      <div class="vc_column-inner">
        <div class="wpb_wrapper">
          <h3 class="vc_custom_heading icon-upload-cloud" style="text-align: left">Cloud migration</h3>
          <div class="wpb_text_column wpb_content_element">
            <div class="wpb_wrapper">
              <p>Move your data, applications or other business elements to a cloud computing environment to be always fast and running</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="wpb_column vc_column_container vc_col-sm-6 vc_col-lg-3 vc_col-md-3 vc_col-xs-12" style="border-color:#36A2DF;">
      <div class="vc_column-inner">
        <div class="wpb_wrapper">
          <h3 class="vc_custom_heading icon-server" style="text-align: left">Containerization</h3>
          <div class="wpb_text_column wpb_content_element">
            <div class="wpb_wrapper">
              <p>Deploy and run distributed applications without launching an entire virtual machine (VM)</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="wpb_column vc_column_container vc_col-sm-6 vc_col-lg-3 vc_col-md-3 vc_col-xs-12" style="border-color:#36DFCB;">
      <div class="vc_column-inner">
        <div class="wpb_wrapper">
          <h3 class="vc_custom_heading icon-settings" style="text-align: left">Automation</h3>
          <div class="wpb_text_column wpb_content_element">
            <div class="wpb_wrapper">
              <p>Reduce manual efforts of repetitive actions in the cloud. Automate most of the routine tasks</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="wpb_column vc_column_container vc_col-sm-6 vc_col-lg-3 vc_col-md-3 vc_col-xs-12" style="border-color:#DFCE36;">
      <div class="vc_column-inner">
        <div class="wpb_wrapper">
          <h3 class="vc_custom_heading icon-shield" style="text-align: left">Security</h3>
          <div class="wpb_text_column wpb_content_element">
            <div class="wpb_wrapper">
              <p>Ensure company and client data is protected at the infrastructure level by addressing potential external and internal threats</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="vc_row wpb_row vc_inner vc_row-fluid vc_row-o-content-middle vc_row-flex form-block">
    <div class="wpb_column vc_column_container vc_col-sm-12">
      <div class="vc_column-inner">
        <div class="wpb_wrapper">
          <h2 class="vc_custom_heading title" style="text-align: center;">Need help deciding what’s best for your company?</h2>
          <h5 class="vc_custom_heading title" style="text-align: center;">Choose subject and fill contact form</h5>
        </div>
      </div>
    </div>
    <div class="wpb_column vc_column_container vc_col-sm-12">
      <div class="vc_column-inner">
        <div class="wpb_wrapper">
          <div class="wpcf7" id="wpcf7-f577-p549-o2" role="form" lang="en-US" dir="ltr"></div>
          <div class="screen-reader-response">
            <p role="status" aria-live="polite" aria-atomic="true"></p>
            <ul></ul>
          </div>
          <form class="wpcf7-form init" action="/new-home/#wpcf7-f577-p549-o2" method="post" novalidate="novalidate" data-status="init">
            <div style="display: none;">
              <input type="hidden" name="_wpcf7" value="577"/>
              <input type="hidden" name="_wpcf7_version" value="5.5.6"/>
              <input type="hidden" name="_wpcf7_locale" value="en_US"/>
              <input type="hidden" name="_wpcf7_unit_tag" value="wpcf7-f577-p549-o2"/>
              <input type="hidden" name="_wpcf7_container_post" value="549"/>
              <input type="hidden" name="_wpcf7_posted_data_hash" value=""/>
            </div>
            <div class="left-colums">
              <label><span class="wpcf7-form-control-wrap subject-mail"><span class="wpcf7-form-control wpcf7-radio"><span class="wpcf7-list-item first last">
                      <input type="radio" name="subject-mail" value="I-want-to-book-a-free-consultation"/></span></span></span><span class="title">I want to book a free consultation</span><span class="description">Fill out the form and one of our cloud specialists will get in touch with you</span></label><br/>
              <label><span class="wpcf7-form-control-wrap subject-mail"><span class="wpcf7-form-control wpcf7-radio"><span class="wpcf7-list-item first last">
                      <input type="radio" name="subject-mail" value="I-need-technical-support"/></span></span></span><span class="title">I need technical support</span><span class="description">Get in touch with our technical support team</span></label><br/>
              <label><span class="wpcf7-form-control-wrap subject-mail"><span class="wpcf7-form-control wpcf7-radio"><span class="wpcf7-list-item first last">
                      <input type="radio" name="subject-mail" value="I-want-to-learn-more-about-your-services"/></span></span></span><span class="title">I want to learn more about your services</span><span class="description">Fill out the form and a member of the Ostride Labs team will get in touch with you shortly</span></label><br/>
              <label><span class="wpcf7-form-control-wrap subject-mail"><span class="wpcf7-form-control wpcf7-radio"><span class="wpcf7-list-item first last">
                      <input type="radio" name="subject-mail" value="I-have-other-questions"/></span></span></span><span class="title">I have other questions</span><span class="description">Not sure what you need? Fill out the form and we’ll reach out to you as soon as we can</span></label>
            </div>
            <div class="right-colums">
              <h3>Contact form</h3>
              <p><span class="wpcf7-form-control-wrap full_name">
                  <input class="wpcf7-form-control wpcf7-text" type="text" name="full_name" value="" size="40" aria-invalid="false" placeholder="Full name (optional)"/></span><br/><span class="wpcf7-form-control-wrap company_name">
                  <input class="wpcf7-form-control wpcf7-text" type="text" name="company_name" value="" size="40" aria-invalid="false" placeholder="Company name (optional)"/></span><br/><span class="wpcf7-form-control-wrap email_user">
                  <input class="wpcf7-form-control wpcf7-text wpcf7-email wpcf7-validates-as-email" type="email" name="email_user" value="" size="40" aria-invalid="false" placeholder="Email address *"/></span><br/><span class="wpcf7-form-control-wrap message">
                  <textarea class="wpcf7-form-control wpcf7-textarea" name="message" cols="40" rows="10" aria-invalid="false" placeholder="Message (optional)"></textarea></span></p>
              <p>
                <input class="wpcf7-form-control has-spinner wpcf7-submit" type="submit" value="SEND MESSAGE"/><span class="wpcf7-spinner"></span>
              </p>
              <div class="wpcf7-response-output" aria-hidden="true"></div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>