
<section>
  <div class="vc_row wpb_row vc_inner vc_row-fluid vc_row-o-content-middle vc_row-flex banner" style="background-image:url(img/bg-banner.png)">
    <div class="wpb_column vc_column_container vc_col-sm-12">
      <div class="vc_column-inner">
        <div class="wpb_wrapper">
          <h1 class="vc_custom_heading title" style="text-align: left">Complex cloud<br/>solutions made easy</h1>
          <div class="wpb_text_column wpb_content_element description">
            <div class="wpb_wrapper">
              <p>Reach cloud maturity with solutions<br/>that fit the goals of your business</p>
            </div>
          </div>
          <div class="vc_btn3-container button blue vc_btn3-inline">
            <button class="vc_general vc_btn3 vc_btn3-size-md vc_btn3-shape-rounded vc_btn3-style-modern vc_btn3-color-grey">Free consultation </button>
          </div>
          <div class="vc_btn3-container button line vc_btn3-inline">
            <button class="vc_general vc_btn3 vc_btn3-size-md vc_btn3-shape-rounded vc_btn3-style-modern vc_btn3-color-grey">Read more</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="vc_row wpb_row vc_inner vc_row-fluid vc_row-o-content-middle vc_row-flex steps">
    <div class="wpb_column vc_column_container vc_col-sm-12">
      <div class="vc_column-inner">
        <div class="wpb_wrapper">
          <h2 class="vc_custom_heading title" style="text-align: center">Where are you on the journey to<br/>cloud-based digital transformation?</h2>
          <div class="steps-items"> 
            <h4>Step by step </h4>
            <div class="item">
              <h3>Hardware<i class="icon-hardware"></i></h3>
              <div class="desc">
                <p>You are running your application on premise<br/>based dedicated hardware</p>
              </div>
              <div class="items">
                <div class="description">
                  <h3>Why?</h3>
                  <p>It works. Why change it?</p>
                </div>
                <div class="description">
                  <h3>Challenges</h3>
                  <p>Infrastructure changes are long, expensive, and risky</p>
                </div>
                <div class="description">
                  <h3>Next step?</h3>
                  <p>Move to Step 3</p>
                </div>
              </div>
            </div>
            <div class="item">
              <h3>Virtual <br/>machines<i class="icon-xmlid"></i></h3>
              <div class="desc">
                <p>You are running application on premise based <br/>virtual machines, using VMware, Citrix, etc.</p>
              </div>
              <div class="items">
                <div class="description">
                  <h3>Why?</h3>
                  <p>It’s flexible enough and you are in contro</p>
                </div>
                <div class="description">
                  <h3>Challenges</h3>
                  <p>Overdependence on your IT and development staff and<br/>vendor lock </p>
                </div>
                <div class="description"> 
                  <h3>Next step?</h3>
                  <p>Pick a cloud provider/package and transition to the cloud</p>
                </div>
              </div>
            </div>
            <div class="item">
              <h3>Virtual <br/>machines <br/>in the cloud<i class="icon-cloud"></i></h3>
              <div class="desc">
                <p>You have migrated application into virtual<br/>machines in the cloud</p>
              </div>
              <div class="items">
                <div class="description">
                  <h3>Why?</h3>
                  <p>It works. Why change it?</p>
                </div>
                <div class="description">
                  <h3>Challenges</h3>
                  <p>Your engineers spend too much time updating <br/>infrastructure, expired certificates, and deployments</p>
                </div>
                <div class="description">
                  <h3>Next step?</h3>
                  <p>Transition to containerization</p>
                </div>
              </div>
            </div>
            <div class="item">
              <h3>Cloud <br/>Containerisation <i class="icon-cloud-computing"></i></h3>
              <div class="desc">
                <p>You have modified application from virtual<br/>machines to containerized processes</p>
              </div>
              <div class="items">
                <div class="description">
                  <h3>Why?</h3>
                  <p>It’s cheaper, performs better, more scalable, less risky, and <br/>flexible with new technology</p>
                </div>
                <div class="description">
                  <h3>Challenges</h3>
                  <p>You need to keep your infrastructure up to date at all times</p>
                </div>
                <div class="description">
                  <h3>Next step?</h3>
                  <p>Replace manual tasks with automated jobs</p>
                </div>
              </div>
            </div>
            <div class="item">
              <h3>Automatic <br/>Cloud System<i class="icon-cloud-system"></i></h3>
              <div class="items">
                <div class="desc">
                  <p>Transition from manual to automatic<br/>provisioning of your cloud systems</p>
                </div>
                <div class="description">
                  <h3>Why?</h3>
                  <p>You run a micro-services architecture and have complex <br/>compliance requirements </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="vc_row wpb_row vc_inner vc_row-fluid vc_row-o-content-middle vc_row-flex partners" style="background: #0E2540;">
    <div class="wpb_column vc_column_container vc_col-sm-12">
      <div class="vc_column-inner">
        <div class="wpb_wrapper">
          <h2 class="vc_custom_heading" style="text-align: center">Our Partners</h2>
          <div class="wpb_gallery wpb_content_element vc_clearfix">
            <div class="wpb_wrapper">
              <div class="wpb_gallery_slides wpb_image_grid" data-interval="3">
                <ul class="wpb_image_grid_ul">
                  <li class="isotope-item"><img class="attachment-thumbnail" src="img/google-logo.png" alt="Google-logo" loading="lazy"/></li>
                  <li class="isotope-item"><img class="attachment-thumbnail" src="img/atlassian-logo.png" alt="Atlassian-logo" loading="lazy"/></li>
                  <li class="isotope-item"><img class="attachment-thumbnail" src="img/Microsoft-logo.png" alt="Microsoft-logo" loading="lazy"/></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="vc_row wpb_row vc_inner vc_row-fluid vc_row-o-content-middle vc_row-flex banner" style="background-image:url(img/bg-banner-2.png)">
    <div class="wpb_column vc_column_container vc_col-sm-12">
      <div class="vc_column-inner">
        <div class="wpb_wrapper">
          <h3 class="vc_custom_heading title" style="text-align: left">Get the experts to support and<br/>service your infrastructure with<br/>our Managed Services model</h3>
          <div class="wpb_text_column wpb_content_element description">
            <div class="wpb_wrapper">
              <p>Prevent crashes and downtimes, ensure monitoring,<br/>scalability and portability of your platform - all with<br/>the dramatically optimised cost and performance</p>
            </div>
          </div>
          <div class="vc_btn3-container button blue vc_btn3-inline">
            <button class="vc_general vc_btn3 vc_btn3-size-md vc_btn3-shape-rounded vc_btn3-style-modern vc_btn3-color-grey">Book a free consultation</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="vc_row wpb_row vc_inner vc_row-fluid vc_row-o-content-middle vc_row-flex services">
    <div class="wpb_column vc_column_container vc_col-sm-12">
      <div class="vc_column-inner">
        <div class="wpb_wrapper">
          <h2 class="vc_custom_heading" style="text-align: center">Our Services</h2>
          <h5 class="vc_custom_heading" style="text-align: center">Here's how we can help</h5>
        </div>
      </div>
    </div>
    <div class="wpb_column vc_column_container vc_col-sm-6 vc_col-lg-3 vc_col-md-3 vc_col-xs-12" style="border-color:#6236DF;">
      <div class="vc_column-inner">
        <div class="wpb_wrapper">
          <h3 class="vc_custom_heading icon-upload-cloud" style="text-align: left">Cloud migration</h3>
          <div class="wpb_text_column wpb_content_element">
            <div class="wpb_wrapper">
              <p>Move your data, applications or other business elements to a cloud computing environment to be always fast and running</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="wpb_column vc_column_container vc_col-sm-6 vc_col-lg-3 vc_col-md-3 vc_col-xs-12" style="border-color:#36A2DF;">
      <div class="vc_column-inner">
        <div class="wpb_wrapper">
          <h3 class="vc_custom_heading icon-server" style="text-align: left">Containerization</h3>
          <div class="wpb_text_column wpb_content_element">
            <div class="wpb_wrapper">
              <p>Deploy and run distributed applications without launching an entire virtual machine (VM)</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="wpb_column vc_column_container vc_col-sm-6 vc_col-lg-3 vc_col-md-3 vc_col-xs-12" style="border-color:#36DFCB;">
      <div class="vc_column-inner">
        <div class="wpb_wrapper">
          <h3 class="vc_custom_heading icon-settings" style="text-align: left">Automation</h3>
          <div class="wpb_text_column wpb_content_element">
            <div class="wpb_wrapper">
              <p>Reduce manual efforts of repetitive actions in the cloud. Automate most of the routine tasks</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="wpb_column vc_column_container vc_col-sm-6 vc_col-lg-3 vc_col-md-3 vc_col-xs-12" style="border-color:#DFCE36;">
      <div class="vc_column-inner">
        <div class="wpb_wrapper">
          <h3 class="vc_custom_heading icon-shield" style="text-align: left">Security</h3>
          <div class="wpb_text_column wpb_content_element">
            <div class="wpb_wrapper">
              <p>Ensure company and client data is protected at the infrastructure level by addressing potential external and internal threats </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="vc_row wpb_row vc_inner vc_row-fluid vc_row-o-content-middle vc_row-flex work">
    <div class="wpb_column vc_column_container vc_col-sm-12">
      <div class="vc_column-inner">
        <div class="wpb_wrapper">
          <h2 class="vc_custom_heading title" style="text-align: center">How we work</h2>
          <div class="wpb_text_column wpb_content_element">
            <div class="wpb_wrapper">
              <p style="text-align: center;">We turn your big ideas and data into cloud-ready solutions.<br/>No two businesses are the same. We take the time to learn everything we can about your specific business, your industry, your use cases, and your target audience to create personalized outcomes that generate real business value</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="wpb_column vc_column_container vc_col-sm-6 vc_col-lg-6 vc_col-md-6 vc_col-xs-12">
      <div class="vc_column-inner">
        <div class="wpb_wrapper">
          <h3 class="vc_custom_heading" style="text-align: left">Analyze Your Business</h3>
          <div class="wpb_text_column wpb_content_element">
            <div class="wpb_wrapper">
              <p>It all starts with an in depth analysis of your business by our experienced team of cloud migration specialists. We’ll analyze key pain points, blockers, and roadmap your digital transformation.</p>
            </div>
          </div>
          <div class="vc_separator wpb_content_element vc_separator_align_center vc_sep_width_100 vc_sep_pos_align_center vc_separator_no_text vc_sep_color_grey"><span class="vc_sep_holder vc_sep_holder_l"><span class="vc_sep_line"></span></span><span class="vc_sep_holder vc_sep_holder_r"><span class="vc_sep_line"></span></span></div>
        </div>
      </div>
    </div>
    <div class="wpb_column vc_column_container vc_col-sm-6 vc_col-lg-6 vc_col-md-6 vc_col-xs-12 right">
      <div class="vc_column-inner">
        <div class="wpb_wrapper">
          <h3 class="vc_custom_heading" style="text-align: left">Test, Optimize, and Support</h3>
          <div class="wpb_text_column wpb_content_element">
            <div class="wpb_wrapper">
              <p>Next, we test and optimize your solutions to guarantee stability and security. This includes integrating any solutions into your workflows or the cloud and finalizing any ongoing support services you want.</p>
            </div>
          </div>
          <div class="vc_separator wpb_content_element vc_separator_align_center vc_sep_width_100 vc_sep_pos_align_center vc_separator_no_text vc_sep_color_grey"><span class="vc_sep_holder vc_sep_holder_l"><span class="vc_sep_line"></span></span><span class="vc_sep_holder vc_sep_holder_r"><span class="vc_sep_line"></span></span></div>
        </div>
      </div>
    </div>
    <div class="wpb_column vc_column_container vc_col-sm-6 vc_col-lg-6 vc_col-md-6 vc_col-xs-12">
      <div class="vc_column-inner">
        <div class="wpb_wrapper">
          <h3 class="vc_custom_heading" style="text-align: left">Implementation Starts</h3>
          <div class="wpb_text_column wpb_content_element">
            <div class="wpb_wrapper">
              <p>The final step is to develop and implement any solutions that are part of your cloud migration package. In 2-3 week sprints, our team will bring your solutions to life and plan your cloud migration.</p>
            </div>
          </div>
          <div class="vc_separator wpb_content_element vc_separator_align_center vc_sep_width_100 vc_sep_pos_align_center vc_separator_no_text vc_sep_color_grey"><span class="vc_sep_holder vc_sep_holder_l"><span class="vc_sep_line"></span></span><span class="vc_sep_holder vc_sep_holder_r"><span class="vc_sep_line"></span></span></div>
        </div>
      </div>
    </div>
  </div>
  <div class="vc_row wpb_row vc_inner vc_row-fluid vc_row-o-content-middle vc_row-flex form">
    <div class="wpb_column vc_column_container vc_col-sm-6 vc_col-lg-6 vc_col-md-6 vc_col-xs-12">
      <div class="vc_column-inner">
        <div class="wpb_wrapper">
          <h2 class="vc_custom_heading">Our newsletter (you’ll love it):</h2>
        </div>
      </div>
    </div>
    <div class="wpb_column vc_column_container vc_col-sm-6 vc_col-lg-6 vc_col-md-6 vc_col-xs-12">
      <div class="vc_column-inner">
        <div class="wpb_wrapper">
          <div class="wpcf7" id="wpcf7-f175-p29-o2">
            <form class="wpcf7-form init">
              <div class="input"><span class="wpcf7-form-control-wrap email-736">
                  <input class="wpcf7-form-control wpcf7-text wpcf7-email wpcf7-validates-as-required wpcf7-validates-as-email" type="email" name="email-736" value="Email address *" size="40" aria-required="true" aria-invalid="false"/></span></div>
              <div class="submit">
                <input class="wpcf7-form-control has-spinner wpcf7-submit button" type="submit" value="Subscribe"/>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="vc_row wpb_row vc_inner vc_row-fluid vc_row-o-content-middle vc_row-flex banner">
    <div class="wpb_column vc_column_container vc_col-sm-6 vc_col-lg-6 vc_col-md-6 vc_col-xs-12">
      <div class="vc_column-inner">
        <div class="wpb_wrapper">
          <h2 class="vc_custom_heading title" style="text-align: left">Get the experts to support and<br/>service your infrastructure with<br/>our Managed Services model</h2>
          <div class="wpb_text_column wpb_content_element description">
            <div class="wpb_wrapper">
              <p>
                 Do not wait for your client base and sensitive data <br/>to be leaked or exposed to an internal threat. Make <br/>sure you are compliant with applicable regulations <br/>and all your data is secured in transfer and at rest</p>
            </div>
          </div>
          <div class="vc_btn3-container button blue vc_btn3-inline">
            <button class="vc_general vc_btn3 vc_btn3-size-md vc_btn3-shape-rounded vc_btn3-style-modern vc_btn3-color-grey">Book a free consultation</button>
          </div>
        </div>
      </div>
    </div>
    <div class="wpb_column vc_column_container vc_col-sm-6 vc_col-lg-6 vc_col-md-6 vc_col-xs-12">
      <div class="vc_column-inner">
        <div class="wpb_wrapper">
          <div class="wpb_single_image wpb_content_element vc_align_right">
            <figure class="wpb_wrapper vc_figure">
              <div class="vc_single_image-wrapper vc_box_border_grey"><img class="vc_single_image-img attachment-full" src="img/bg-banner-3.png"/></div>
            </figure>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="cases vc_row wpb_row vc_inner vc_row-fluid vc_row-o-content-middle vc_row-flex"> 
    <div class="wpb_column vc_column_container vc_col-sm-12"> 
      <div class="vc_column-inner">
        <div class="wpb_wrapper">
          <h2 class="vc_custom_heading title" style="text-align: center">Our Cases</h2>
          <div class="wpb_raw_code wpb_content_element wpb_raw_html">
            <div class="wpb_wrapper">
              <div class="wpb_column vc_column_container vc_col-sm-4 vc_col-lg-4 vc_col-md-4 vc_col-xs-12">
                <div class="vc_column-inner">
                  <div class="wpb_wrapper">
                    <div class="cases-item"><a class="link" href="#"></a>
                      <div class="cases-head"><img src="http://ostridelabs.docker.localhost/wp-content/uploads/2022/05/cases-1.jpg" alt=""/>
                        <h3 class="title">German financial services company overcoming a major customer pain point</h3>
                      </div>
                      <div class="cases-footer">
                        <p class="category">Personal Credit Management</p>
                        <p class="more">More</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="wpb_column vc_column_container vc_col-sm-4 vc_col-lg-4 vc_col-md-4 vc_col-xs-12">
                <div class="vc_column-inner">
                  <div class="wpb_wrapper">
                    <div class="cases-item"><a class="link" href="#"></a>
                      <div class="cases-head"><img src="http://ostridelabs.docker.localhost/wp-content/uploads/2022/05/cases-2.jpg" alt=""/>
                        <h3 class="title">German financial services company overcoming a major customer pain point</h3>
                      </div>
                      <div class="cases-footer">
                        <p class="category">Personal Credit Management</p>
                        <p class="more">More</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="wpb_column vc_column_container vc_col-sm-4 vc_col-lg-4 vc_col-md-4 vc_col-xs-12">
                <div class="vc_column-inner">
                  <div class="wpb_wrapper">
                    <div class="cases-item"><a class="link" href="#"></a>
                      <div class="cases-head"><img src="http://ostridelabs.docker.localhost/wp-content/uploads/2022/05/cases-3.jpg" alt=""/>
                        <h3 class="title">German financial services company overcoming a major customer pain point</h3>
                      </div>
                      <div class="cases-footer">
                        <p class="category">Personal Credit Management</p>
                        <p class="more">More</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="vc_row wpb_row vc_inner vc_row-fluid testimonials vc_row-o-content-middle vc_row-flex">
    <div class="wpb_column vc_column_container vc_col-sm-12">
      <div class="vc_column-inner">
        <div class="wpb_wrapper">
          <h2 class="vc_custom_heading title" style="text-align: center">Testimonials</h2>
          <h5 class="vc_custom_heading title" style="color: #5fc1fe;text-align: center">Here’s what our customers are saying:</h5>
          <div class="testimonials-slider">
            <div class="testimonials-item"><img class="logo" src="https://stage-three.i-wp-dev.com/wp-content/uploads/2022/05/gronomeye.svg" alt="gronomeye"/>
              <div class="comment-text">
                <p>“We prefer to work with experienced professionals and the Ostride team was recommended to us as such. They ensure exceptional quality and take a proactive approach to everything they do. The outcome of our collaboration was exactly what we were looking for, we are very much satisfied – the work goes on!”</p>
              </div>
              <div class="user"><img class="attachment-thumbnail size-thumbnail wp-post-image" src="https://stage-three.i-wp-dev.com/wp-content/uploads/2022/03/Stu-Adam.-150x150.jpg" alt="" loading="lazy"/>
                <div class="desc">
                  <h3>Agronomeye</h3>
                  <h5>Stu Adam, Co-Founder</h5>
                </div>
              </div>
            </div>
            <div class="testimonials-item"><img class="logo" src="https://stage-three.i-wp-dev.com/wp-content/uploads/2022/05/fireant.svg" alt="fireant"/>
              <div class="comment-text">
                <p>“Over the last few years, the Ostride team has been our DevOps and cloud configuration partner. They’ve proven to be highly experienced, reliable and helped us with numerous tasks, including cost reduction, clarity and predictability of release cycles, data security, compliance and legal-driven data processing requirements.<br/>Being client-centric at their core, the Ostride team is a pleasure to work with and remains our preferred partner.”</p>
              </div>
              <div class="user"><img class="attachment-thumbnail size-thumbnail wp-post-image" src="https://stage-three.i-wp-dev.com/wp-content/uploads/2022/03/Maxim.jpg-150x150.png" alt="" loading="lazy"/>
                <div class="desc">
                  <h3>Fireant Australia</h3>
                  <h5>Maxim Cherepovitsyn, CEO</h5>
                </div>
              </div>
            </div>
            <div class="testimonials-item"><img class="logo" src="https://stage-three.i-wp-dev.com/wp-content/uploads/2022/05/finanzcheck.svg" alt="finanzcheck"/>
              <div class="comment-text">
                <p>“The entire Ostride team is very quick and proactive, communication is just exceptional. This is what we call “delivering a turn-key solution” – we have asked and they have delivered to our exact requirements.”</p>
              </div>
              <div class="user"><img class="attachment-thumbnail size-thumbnail wp-post-image" src="https://stage-three.i-wp-dev.com/wp-content/uploads/2022/03/Marc-150x150.png" alt="" loading="lazy"/>
                <div class="desc">
                  <h3>Finanzcheck GmbH</h3>
                  <h5>Marc Houben, Performance Marketing Manager</h5>
                </div>
              </div>
            </div>
            <div class="testimonials-item"><img class="logo" src="https://stage-three.i-wp-dev.com/wp-content/uploads/2022/03/neuro.svg" alt="neuro"/>
              <div class="comment-text">
                <p>“Trust and transparency are the key qualities we look for in our partners – this is where we start. We have been working with the Ostride team for over a year now and are very satisfied with the results. The team took over all stability, availability and cloud-related matters altogether, and they now work like clockwork.”</p>
              </div>
              <div class="user"><img class="attachment-thumbnail size-thumbnail wp-post-image" src="https://stage-three.i-wp-dev.com/wp-content/uploads/2022/03/Steve-150x150.png" alt="" loading="lazy"/>
                <div class="desc">
                  <h3>Neurocog</h3>
                  <h5>Dr. Stephen Wolfson, Founder</h5>
                </div>
              </div>
            </div>
            <div class="testimonials-item"><img class="logo" src="https://stage-three.i-wp-dev.com/wp-content/uploads/2022/05/whispli.svg" alt="whispli"/>
              <div class="comment-text">
                <p>“We originally engaged Ostride to assist in the development of a mobile application but they have since become a trusted extension of our core team. They now lead the development of our mobile apps and have developed multiple customer facing web applications for us. They are conscientious, highly skilled and produce work of exceptional quality.</p>
                <p>I couldn’t be happier and I look forward to a long and productive partership.”</p>
              </div>
              <div class="user"><img class="attachment-thumbnail size-thumbnail wp-post-image" src="https://stage-three.i-wp-dev.com/wp-content/uploads/2022/03/dan-e1628776715823-150x150.png" alt="" loading="lazy"/>
                <div class="desc">
                  <h3>Whispli Inc</h3>
                  <h5>Daniel Walker, CTO</h5>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="vc_row wpb_row vc_inner vc_row-fluid vc_row-o-content-middle vc_row-flex form-block">
    <div class="wpb_column vc_column_container vc_col-sm-12">
      <div class="vc_column-inner">
        <div class="wpb_wrapper">
          <h2 class="vc_custom_heading title" style="text-align: center;">Need help deciding what’s best for your company?</h2>
          <h5 class="vc_custom_heading title" style="text-align: center;">Choose subject and fill contact form</h5>
        </div>
      </div>
    </div>
    <div class="wpb_column vc_column_container vc_col-sm-12">
      <div class="vc_column-inner">
        <div class="wpb_wrapper">
          <div class="wpcf7" id="wpcf7-f577-p549-o2" role="form" lang="en-US" dir="ltr"></div>
          <div class="screen-reader-response">
            <p role="status" aria-live="polite" aria-atomic="true"></p>
            <ul></ul>
          </div>
          <form class="wpcf7-form init" action="/new-home/#wpcf7-f577-p549-o2" method="post" novalidate="novalidate" data-status="init">
            <div style="display: none;">
              <input type="hidden" name="_wpcf7" value="577"/>
              <input type="hidden" name="_wpcf7_version" value="5.5.6"/>
              <input type="hidden" name="_wpcf7_locale" value="en_US"/>
              <input type="hidden" name="_wpcf7_unit_tag" value="wpcf7-f577-p549-o2"/>
              <input type="hidden" name="_wpcf7_container_post" value="549"/>
              <input type="hidden" name="_wpcf7_posted_data_hash" value=""/>
            </div>
            <div class="left-colums">
              <label><span class="wpcf7-form-control-wrap subject-mail"><span class="wpcf7-form-control wpcf7-radio"><span class="wpcf7-list-item first last">
                      <input type="radio" name="subject-mail" value="I-want-to-book-a-free-consultation" checked="checked"/></span></span></span><span class="title">I want to book a free consultation</span><span class="description">Fill out the form and one of our cloud specialists will get in touch with you</span></label><br/>
              <label><span class="wpcf7-form-control-wrap subject-mail"><span class="wpcf7-form-control wpcf7-radio"><span class="wpcf7-list-item first last">
                      <input type="radio" name="subject-mail" value="I-need-technical-support"/></span></span></span><span class="title">I need technical support</span><span class="description">Get in touch with our technical support team</span></label><br/>
              <label><span class="wpcf7-form-control-wrap subject-mail"><span class="wpcf7-form-control wpcf7-radio"><span class="wpcf7-list-item first last">
                      <input type="radio" name="subject-mail" value="I-want-to-learn-more-about-your-services"/></span></span></span><span class="title">I want to learn more about your services</span><span class="description">Fill out the form and a member of the Ostride Labs team will get in touch with you shortly</span></label><br/>
              <label><span class="wpcf7-form-control-wrap subject-mail"><span class="wpcf7-form-control wpcf7-radio"><span class="wpcf7-list-item first last">
                      <input type="radio" name="subject-mail" value="I-have-other-questions"/></span></span></span><span class="title">I have other questions</span><span class="description">Not sure what you need? Fill out the form and we’ll reach out to you as soon as we can</span></label>
            </div>
            <div class="right-colums">
              <h3>Contact form</h3>
              <p><span class="wpcf7-form-control-wrap full_name">
                  <input class="wpcf7-form-control wpcf7-text" type="text" name="full_name" value="" size="40" aria-invalid="false" placeholder="Full name (optional)"/></span><br/><span class="wpcf7-form-control-wrap company_name">
                  <input class="wpcf7-form-control wpcf7-text" type="text" name="company_name" value="" size="40" aria-invalid="false" placeholder="Company name (optional)"/></span><br/><span class="wpcf7-form-control-wrap email_user">
                  <input class="wpcf7-form-control wpcf7-text wpcf7-email wpcf7-validates-as-email" type="email" name="email_user" value="" size="40" aria-invalid="false" placeholder="Email address *"/></span><br/><span class="wpcf7-form-control-wrap message">
                  <textarea class="wpcf7-form-control wpcf7-textarea" name="message" cols="40" rows="10" aria-invalid="false" placeholder="Message (optional)"></textarea></span></p>
              <p>
                <input class="wpcf7-form-control has-spinner wpcf7-submit" type="submit" value="SEND MESSAGE"/><span class="wpcf7-spinner"></span>
              </p>
              <div class="wpcf7-response-output" aria-hidden="true"> </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>