
<footer>
  <div class="vc_row wpb_row vc_inner vc_row-fluid vc_row-o-content-middle vc_row-flex">
    <div class="wpb_column vc_column_container vc_col-sm-12">
      <div class="vc_column-inner">
        <div class="wpb_wrapper">
          <div class="wpb_column vc_column_container vc_col-sm-12">
            <div class="vc_col-lg-6 vc_col-md-6 vc_col-sm-7 vc_col-xs-12">
              <ul class="menu dfr">
                <li><a href="/">Home</a></li>
                <li><a href="#">Services</a></li>
                <li><a href="#">Our work</a></li>
                <li><a href="#">Company</a></li>
                <li><a href="#">Career</a></li>
                <li><a href="#">Blog</a></li>
              </ul>
              <p class="copyright">© Copyright 2022</p>
            </div>
            <div class="vc_col-lg-6 vc_col-md-6 vc_col-sm-5 vc_col-xs-12">
              <h3>Contact</h3><a class="icon-phone" href="tel:+13024519229">+1 302 451 92 29</a><a class="icon-mail" href="mailto:contact@ostdlabs.com">contact@ostdlabs.com</a>
              <ul class="soc dfr">
                <li class="icon-facebook"><a href="#">facebook</a></li>
                <li class="icon-whatsapp"><a href="#">whatsapp</a></li>
                <li class="icon-youtube"><a href="#">youtube</a></li>
                <li class="icon-reddit"><a href="#">reddit</a></li>
                <li class="icon-twitter"><a href="#">twitter</a></li>
                <li class="icon-instagram"><a href="#">instagram </a></li>
                <li class="icon-medium"><a href="#">medium</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
<div class="reliability modal" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4>Site Reliability Engineer</h4>
        <p class="icon-clock">Full time</p>
        <button class="close icon-close" type="button" data-dismiss="modal"></button>
      </div>
      <div class="modal-body">
        <h3>Requirements</h3>
        <ul>
          <li>5+ of experience working with public or private cloud components, administration, and support</li>
          <li>3+ years and expert-level skills working in a SRE role involving at least two of these cloud providers: GCP, MS Azure or AWS</li>
          <li>Experience setting up, adjusting, and administering monitoring tools, including alarm configurations and log level analysis</li>
          <li>Ability to learn applications functionally and technically, and work on troubleshooting with minimal input from the application team</li>
          <li>Experience automating routine procedures</li>
          <li>Experience and the ability to elaborate on success stories of increasing fault-tolerance of multi-datacenter infrastructure</li>
          <li>Excellent Linux/Unix administration skills and deep understanding of Linux OS principles</li>
          <li>Knowledge of bash, network protocols, and implementation principles for major cloud providers</li>
          <li>Excellent theoretical knowledge of the OpenShift Container platform and its low level features and limitations</li>
        </ul>
      </div>
    </div>
  </div>
</div>
<div class="devops modal" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4>Site Reliability Engineer</h4>
        <p class="icon-clock">Full time</p>
        <button class="close icon-close" type="button" data-dismiss="modal"></button>
      </div>
      <div class="modal-body">
        <h3>Requirements</h3>
        <ul>
          <li>5+ of experience working with public or private cloud components, administration, and support</li>
          <li>3+ years and expert-level skills in administration with at least two of these cloud providers: GCP, MS Azure, or AWS</li>
          <li>3+ years of experience configuring and maintaining Kubernetes configurations</li>
          <li>3+ years of experience configuring and maintaining secure data access, processing and persisting for on-premise VMs and in a public cloud including service mesh, and mTLS configurations</li>
          <li>Experience writing and maintaining complex Docker files and preparing Terraform configurations</li>
          <li>Excellent Linux/Unix administration skills and deep understanding of Linux OS principles</li>
          <li>Excellent theoretical knowledge of the OpenShift Container platform and its low level features and limitations</li>
        </ul>
      </div>
    </div>
  </div>
</div>