
<header>
  <div class="vc_row wpb_row vc_inner vc_row-fluid vc_row-o-content-middle vc_row-flex">
    <div class="wpb_column vc_column_container vc_col-sm-12">
      <div class="vc_column-inner">
        <div class="wpb_wrapper">
          <div class="wpb_column vc_column_container vc_col-sm-12">
            <div class="vc_col-lg-4 vc_col-md-4 vc_col-sm-4 vc_col-xs-4">
              <div class="burger-menu"></div>
              <ul class="menu dfr">
                <li><a href="#">Services</a></li>
                <li><a href="#">Blog</a></li>
                <li class="menu-item-has-children"><a href="#">Company</a>
                  <ul class="sub-menu">
                    <li><a href="#">About</a></li>
                    <li><a href="#">Career</a></li>
                    <li><a href="#">Our work</a></li>
                  </ul>
                </li>
              </ul>
            </div>
            <div class="vc_col-lg-4 vc_col-md-4 vc_col-sm-4 vc_col-xs-4"><a class="logo" href="/"><img src="img/logo.png" alt="Logo"/></a></div>
            <div class="vc_col-lg-4 vc_col-md-4 vc_col-sm-4 vc_col-xs-4">
              <div class="dfc left"><a class="button dfc" href="#">Arrange a call</a><a class="tel" href="tel:+442045717565">+44 204 571 7565</a></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>