@font-face {
    font-family: 'custom-icons';
    src: url('../fonts/custom-icons.eot?1653921236710');
    src: url('../fonts/custom-icons.eot?#iefix-1653921236710') format('embedded-opentype'), url('../fonts/custom-icons.woff2?1653921236710') format('woff2'), url('../fonts/custom-icons.woff?1653921236710') format('woff'), url('../fonts/custom-icons.ttf?1653921236710') format('truetype');
    font-weight: normal;
    font-style: normal;
}

[class^='icon-']:before,
[class*=' icon-']:before {
    font-family: 'custom-icons';
    display: inline-block;
    vertical-align: middle;
    line-height: 1;
    font-weight: normal;
    font-style: normal;
    speak: none;
    text-decoration: inherit;
    font-size: inherit;
    text-transform: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}


/*
Glyphs list
*/

.icon-akri:before {
        content: '\ea01';
    }
    .icon-alibaba:before {
        content: '\ea02';
    }
    .icon-ansible:before {
        content: '\ea03';
    }
    .icon-arrow-left:before {
        content: '\ea04';
    }
    .icon-arrow-right:before {
        content: '\ea05';
    }
    .icon-arrow-top:before {
        content: '\ea06';
    }
    .icon-aws:before {
        content: '\ea07';
    }
    .icon-capsule:before {
        content: '\ea08';
    }
    .icon-challenges:before {
        content: '\ea09';
    }
    .icon-chef:before {
        content: '\ea0a';
    }
    .icon-clock:before {
        content: '\ea0b';
    }
    .icon-close:before {
        content: '\ea0c';
    }
    .icon-cloud-computing:before {
        content: '\ea0d';
    }
    .icon-cloud-system:before {
        content: '\ea0e';
    }
    .icon-cloud:before {
        content: '\ea0f';
    }
    .icon-couler:before {
        content: '\ea10';
    }
    .icon-dragonfly:before {
        content: '\ea11';
    }
    .icon-envoy:before {
        content: '\ea12';
    }
    .icon-etcd:before {
        content: '\ea13';
    }
    .icon-facebook:before {
        content: '\ea14';
    }
    .icon-firebase:before {
        content: '\ea15';
    }
    .icon-hardware:before {
        content: '\ea16';
    }
    .icon-juju:before {
        content: '\ea17';
    }
    .icon-karmada:before {
        content: '\ea18';
    }
    .icon-kubernetes:before {
        content: '\ea19';
    }
    .icon-left:before {
        content: '\ea1a';
    }
    .icon-line:before {
        content: '\ea1b';
    }
    .icon-linkedin:before {
        content: '\ea1c';
    }
    .icon-linkerd:before {
        content: '\ea1d';
    }
    .icon-lock:before {
        content: '\ea1e';
    }
    .icon-mail:before {
        content: '\ea1f';
    }
    .icon-medium:before {
        content: '\ea20';
    }
    .icon-minus:before {
        content: '\ea21';
    }
    .icon-mixpanel:before {
        content: '\ea22';
    }
    .icon-nodejs:before {
        content: '\ea23';
    }
    .icon-open-cluster:before {
        content: '\ea24';
    }
    .icon-open-nebula:before {
        content: '\ea25';
    }
    .icon-outcomes:before {
        content: '\ea26';
    }
    .icon-phone:before {
        content: '\ea27';
    }
    .icon-plus:before {
        content: '\ea28';
    }
    .icon-reactjs:before {
        content: '\ea29';
    }
    .icon-reddit:before {
        content: '\ea2a';
    }
    .icon-right:before {
        content: '\ea2b';
    }
    .icon-saltstack:before {
        content: '\ea2c';
    }
    .icon-sentry:before {
        content: '\ea2d';
    }
    .icon-server:before {
        content: '\ea2e';
    }
    .icon-settings:before {
        content: '\ea2f';
    }
    .icon-shield:before {
        content: '\ea30';
    }
    .icon-solution:before {
        content: '\ea31';
    }
    .icon-star:before {
        content: '\ea32';
    }
    .icon-tars:before {
        content: '\ea33';
    }
    .icon-testimonials:before {
        content: '\ea34';
    }
    .icon-ts:before {
        content: '\ea35';
    }
    .icon-tuf:before {
        content: '\ea36';
    }
    .icon-twitter:before {
        content: '\ea37';
    }
    .icon-upload-cloud:before {
        content: '\ea38';
    }
    .icon-volcand:before {
        content: '\ea39';
    }
    .icon-wasmcloud:before {
        content: '\ea3a';
    }
    .icon-whatsapp:before {
        content: '\ea3b';
    }
    .icon-xmlid:before {
        content: '\ea3c';
    }
    .icon-youtube:before {
        content: '\ea3d';
    }
    