@font-face {
    font-family: 'Avenir';
    src: url('../fonts/AvenirLTStd-Black/AvenirLTStd-Black.woff') format('woff'),
         url('../fonts/AvenirLTStd-Black/AvenirLTStd-Black.woff') format('woff2'),
         url('../fonts/AvenirLTStd-Black/AvenirLTStd-Black.ttf') format('truetype');
    font-style: normal;
    font-weight: 900;
}
@font-face {
    font-family: 'Avenir';
    src: url('../fonts/AvenirLTStd-Book/AvenirLTStd-Book.woff') format('woff'),
         url('../fonts/AvenirLTStd-Book/AvenirLTStd-Book.woff') format('woff2'),
         url('../fonts/AvenirLTStd-Book/AvenirLTStd-Book.ttf') format('truetype');
    font-style: normal;
    font-weight: 500;
}
@font-face {
    font-family: 'Avenir';
    src: url('../fonts/AvenirLTStd-Roman/AvenirLTStd-Roman.woff') format('woff'),
         url('../fonts/AvenirLTStd-Roman/AvenirLTStd-Roman.woff') format('woff2'),
         url('../fonts/AvenirLTStd-Roman/AvenirLTStd-Roman.ttf') format('truetype');
    font-style: normal;
    font-weight: 400;
}
@font-face {
    font-family: 'WorkSans';
    src: url('../fonts/WorkSans-Bold/WorkSans-Bold.woff') format('woff'),
         url('../fonts/WorkSans-Bold/WorkSans-Bold.woff') format('woff2'),
         url('../fonts/WorkSans-Bold/WorkSans-Bold.ttf') format('truetype');
    font-style: normal;
    font-weight: 700;
}
@font-face {
    font-family: 'WorkSans';
    src: url('../fonts/WorkSans-Medium/WorkSans-Medium.woff') format('woff'),
         url('../fonts/WorkSans-Medium/WorkSans-Medium.woff') format('woff2'),
         url('../fonts/WorkSans-Medium/WorkSans-Medium.ttf') format('truetype');
    font-style: normal;
    font-weight: 500;
}
@font-face {
    font-family: 'WorkSans';
    src: url('../fonts/WorkSans-Regular/WorkSans-Regular.woff') format('woff'),
         url('../fonts/WorkSans-Regular/WorkSans-Regular.woff') format('woff2'),
         url('../fonts/WorkSans-Regular/WorkSans-Regular.ttf') format('truetype');
    font-style: normal;
    font-weight: 400;
}
@font-face {
    font-family: 'WorkSans';
    src: url('../fonts/WorkSans-Light/WorkSans-Light.woff') format('woff'),
         url('../fonts/WorkSans-Light/WorkSans-Light.woff') format('woff2'),
         url('../fonts/WorkSans-Light/WorkSans-Light.ttf') format('truetype');
    font-style: normal;
    font-weight: 300;
}
@font-face {
    font-family: 'WorkSans';
    src: url('../fonts/WorkSans-ExtraLight/WorkSans-ExtraLight.woff') format('woff'),
         url('../fonts/WorkSans-ExtraLight/WorkSans-ExtraLight.woff') format('woff2'),
         url('../fonts/WorkSans-ExtraLight/WorkSans-ExtraLight.ttf') format('truetype');
    font-style: normal;
    font-weight: 100;
}