$white: #fff;
$blue:#1D9CE3;
$dark-blue: #0B223D;
$Avenir: Avenir;
header{
    padding-top: 44px;
    position: relative;
    z-index: 2;
    padding-left: 15px;
    padding-right: 15px;
    .vc_col-sm-12,
    .vc_column-inner{
        padding-left: 0 !important;
        padding-right: 0 !important;
    }
    .vc_row {
        & > .vc_col-sm-12{
            align-items: center;
            flex-wrap: wrap;
            display: flex;
            padding-bottom: 15px;
            &:before{
                content: '';
                width: 100%;
                bottom: 0;
                left: 0;
                right: 0;
                height: 1px;
                position: absolute;
                background: linear-gradient(270deg, #0B223D 0%, #5FC1FE 50.52%, #0B223D 100%);
            }
        }
    }
    .logo{
        display: flex;
        flex-direction: column;
        align-items: center;
        max-width: max-content;
        margin: 0 auto;
        img{
            height: 26px;
        }
    }
    .burger-menu{
        display: none;
    }
    .menu{
        line-height: 26px;
        li{
            margin-right: 15px;
            &.current_page_item{
                a{
                    color: $blue;
                }
            }
            &:hover{
                .sub-menu{
                    display: block;
                }
            }
            &:last-of-type{
                margin-right: 0;
            }
            a{
                color: $white;
                padding: 15px 0;
                &:hover{
                    color: #5fc1fe;
                }
            }
        }
    }
    .left{
        max-width: 214px;
        margin: 0 0 0 auto;
    }
    .button{
        background: $blue;
        color: $white;
        align-items: center;
        justify-content: center;
        padding: 8px;
        box-shadow: 0px 8.98017px 35.9207px rgba(187, 195, 255, 0.12);
        width:100%;
        font-size: 16px;
        font-weight: 900;
        font-family: $Avenir;
        transition: all 0.3s ease;
        &:hover{
            background: rgba(29, 156, 227,0.5) !important;
            color: $white !important;
        }
    }
    .tel{
        transition: all 0.3s ease;
        margin: 15px auto 0;
        display: table;
        color: $white;
        font-size: 18px;
        &:hover{
            color: $blue;
        }
    }
}
.dfc,
.dfr{
    display: flex;
    flex-wrap: wrap;
}
.dfr{
    flex-direction: row;
}
.dfc{
    flex-direction: column;
}
