$white: #fff;
$blue: #1D9CE3;
$dark-blue: #0B223D;
$dark-grey:#7B8B9E;
$WorkSans: 'WorkSans';
$Avenir: 'Avenir';
$Bebas-Neue:'Bebas Neue', cursive;
footer{
    background: #000;
    padding: 40px 0 55px;
    & > .vc_row{
        & > .vc_col-sm-12{
            padding-left: 0 !important;
            padding-right: 0 !important; 
        }
    }
    .vc_column-inner{
        padding-left: 0 !important;
        padding-right: 0 !important;
    }
    .vc_col-sm-12{
        & > .vc_column-inner{
            padding-left: 0;
            padding-right: 0;
            & > .wpb_wrapper{
                & > .vc_col-sm-12{
                    padding-left: 0;
                    padding-right: 0;
                }
            }
        }
        
    }
    h3{
        color: $white;
        font-size: 26px; 
        font-family: $WorkSans;
        font-weight: 700;
        margin-bottom: 20px;
    }
    a[class*="icon-"]{
        font-size: 24px;
        color: #5B5C5E;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center; 
        font-family: $WorkSans;
        font-weight: 700; 
        margin-top: 5px;
        margin-bottom: 20px;
        transition: all 0.3s ease;
        &:hover{
            color:$white;
            &:before{
                color:$white;
            }
        }
        &:before{
            font-size: 24px;
            margin-right: 10px;
            color: $blue;
            transition: all 0.3s ease;
        }
    }
    .menu{
        margin:30px 0 70px;
        li{
            margin-right: 15px;
            a{
                font-family: $WorkSans;
                font-weight: 400;
                font-size: 13px;
                color: $blue;
                transition: all 0.3s ease;
                &:hover{
                    color:$white;
                }
            }
        }
    }
    .copyright{
        color: $blue;
        font-family: $WorkSans;
        font-weight: 400;
        a{
            color: $white;
            margin-left: 5px;
            transition: all 0.3s ease;
            &:hover{
                color:$blue;
            }
        }
    }
    .soc{
        margin-top: 25px;
        li{
            position: relative;
            margin-right: 10px;
            transition: all 0.3s ease;
            &:before{
                font-size: 30px;
                color: $blue;
            }
            &:hover{
                &:before{
                    color:$white;
                }
            }
            a{
                font-size: 0;
                position: absolute;
                left: 0;
                right: 0;
                bottom: 0;
                top: 0;
            }
        }
    }
}
.home{
    #menu-footer-menu{
        li{ 
            &.current-menu-item{
                &:first-of-type{
                    display: none;
                }
            }
            
        }
    }
}
